.container {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
}

.checkbox {
    flex: none;

    margin-right: 20px;
}

.label {
    margin-right: 20px;
}

.custom {
    width: 300px;
    margin-right: 10px;
}
