preload_accessors   => 1,

locales => {
    ru => {name => 'Русский',    code => 'ru_RU', domain => 'yandex.ru',     flag => 'ru', default => 1},
    en => {name => 'English',    code => 'en_GB', domain => 'yandex.com',    flag => 'en'              },
    tr => {name => 'Türkçe',     code => 'tr_TR', domain => 'yandex.com.tr', flag => 'tr'              },
    uk => {name => 'Українська', code => 'uk_UA', domain => 'yandex.ua',     flag => 'ua'              }
},

api_advq => {
    URLs => {
        '*' => {
            # balanser
            search => ['http://back-normal.advq.yandex.net'],
            chrono => ['http://back-normal.advq.yandex.net'],
        },
        'us-load01e' => {
            # balanser
            search => ['http://back-normal.advq.yandex.net'],
            chrono => ['http://back-normal.advq.yandex.net'],
        },
        'us1-1' => {
            # balanser
            search => ['http://back-normal.advq.yandex.net'],
            chrono => ['http://back-normal.advq.yandex.net'],
        },
        'us1-2' => {
            # balanser
            search => ['http://back-normal.advq.yandex.net'],
            chrono => ['http://back-normal.advq.yandex.net'],
        },
        'us2-1' => {
            # balanser
            search => ['http://back-normal.advq.yandex.net'],
            chrono => ['http://back-normal.advq.yandex.net'],
        },
        'us2-2' => {
            # balanser
            search => ['http://back-normal.advq.yandex.net'],
            chrono => ['http://back-normal.advq.yandex.net'],
        },
        'us3-1' => {
            # balanser
            search => ['http://back-normal.advq.yandex.net'],
            chrono => ['http://back-normal.advq.yandex.net'],
        },
        'us3-2' => {
            # balanser
            search => ['http://back-normal.advq.yandex.net'],
            chrono => ['http://back-normal.advq.yandex.net'],
        },
    },
},

memcached   => {
    servers     => ['/var/run/wordstat/memcached.sock'],
},

cbb => {
    filename => '/var/lib/wordstat/cbb.txt',
},
