.CloseButton {
    position: absolute;
    top: 114px;
    right: 67px;
    z-index: 6;

    cursor: pointer;

    @media (max-width: 768px) {
        position: fixed;
        top: 70px;
        right: 17px;
    }

    &-Icon {
        width: 48px;
        height: 48px;

        @media (max-width: 768px) {
            width: 29px;
            height: 29px;
        }
    }
}
