@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.CategoryTestOption {
    --source-color: #000000;

    color: #000000;

    background: #ffffff;

    border-radius: 20px;

    padding: 30px 32px 30px 33px;
    margin-bottom: 3px;

    cursor: pointer;

    transition: background 0.2s ease-out;

    @media (max-width: 768px) {
        padding: 20px;
    }

    &_isPicked {
        --source-color: #048949;
    }

    &:hover,
    &_isPicked {
        background: #f4f4f4;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &-Text {
        font-weight: 400;

        white-space: pre-wrap;
    }

    &-Icon {
        height: 0.8em;

        margin-right: 7px;

        @media (max-width: 768px) {
            margin-top: 6px;
        }
    }
}
