Source: yandex-sovetnik-redir
Section: unknown
Priority: extra
Maintainer: Evgenii Ponomarev <elergy@yandex-team.ru>
Build-Depends:
 yandex-debhelper-all (>= 1.5),
 nodejs-8,
 yandex-lib-autodetect-environment
Standards-Version: 3.9.2
Homepage: <insert the upstream URL, if relevant>
Vcs-Browser: https://github.yandex-team.ru/sovetnik/sovetnik-redir

Package: yandex-sovetnik-redir
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
 nodejs-8,
 yandex-vertis-nodejs-init (>=4.0.0),
 yandex-lib-autodetect-environment
Description: Redirector for Sovetnik service
