<Config>
    <Files>
        <geobase_geodata>geodata6.bin</geobase_geodata>
        <moved_collapser>moved.bin</moved_collapser>
    </Files>

    <Options>
        <no_gemini>1</no_gemini>
        <geobase_timestamp>2015-10-23</geobase_timestamp> <!-- the same as in business_as_blackbox.py -->
    </Options>
</Config>
