.container {
    display: grid;
    grid-gap: 20px;
}

.pageId:global(.Textinput_size_m .Textinput-Clear) {
    z-index: 4;
    right: calc(var(--textinput-size-m-has-icon-spaceRight) + 10px);
}

.copy {
    width: 28px;
    height: 36px;

    background: url('assets/copy.svg') no-repeat center;
    background-size: contain;
}
