.pushbundle-test-view_ajax_yes {
    color: var(--color-g-text-quaternary);
    background: $color-black-67;
}

.pushbundle-test-view_ajax_yes .pushbundle-test-view__header {
    color: var(--color-white);
}
