.gemini-nested {
    width: 440px;
    height: 380px;
    margin: 0 20px 0 -30px;
    padding: 5px;
}

.gemini-bottom {
    width: 175px;
    height: 270px;
    padding: 10px 0 0 85px;
}

.gemini-top {
    width: 175px;
    height: 50px;
    margin-top: 20px;
    padding: 235px 0 0 85px;
}

.gemini-right {
    width: 314px;
    height: 137px;
    padding: 100px 0 0 10px;
}

.gemini-left {
    height: 145px;
    padding: 100px 0 0 235px;
}

.gemini-offset {
    width: 170px;
    height: 120px;
    padding: 10px 0 0 80px;
}

.gemini-tail-offset {
    width: 170px;
    height: 112px;
    padding: 10px 0 0 70px;
}
