.lesson-block_type_test .lesson-block
{
    &__text
    {
        margin-bottom: 26px;
    }

    &__exercise
    {
        margin-bottom: 54px;

        &:last-child
        {
            margin-bottom: 0;
        }
    }
}
