Source: yandex-market-project-builder-gradle-deb-plugin-sub-project
Section: yandex
Priority: optional
Maintainer: Vlad Vinogradov <vladvin@yandex-team.ru>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4

Package: yandex-market-project-builder-gradle-deb-plugin-sub-project
Architecture: all
Depends: yandex-jdk8, yandex-environment
Description: Gradle single test project

