.distr-popup:not(.distr-popup_animation_fade-hide) {
    animation-duration: .1ms !important;
    transition-duration: .1ms !important;
}

/* Форсируем анимацию блока marquee */
.marquee__box,
.marquee__content {
    animation-duration: 5s !important;
}

.Panorama-Image {
    animation: none !important;
}
