.radio-button__icon_16_comment {
    background: 0 50% no-repeat url(radio-button__icon_16_comment.png);
}

.radio-button__icon_16_photo {
    background: 0 50% no-repeat url(radio-button__icon_16_photo.png);
}

.radio-button__icon_16_settings {
    background: 0 50% no-repeat url(radio-button__icon_16_settings.png);
}

.radio-button__icon_16_view {
    background: 0 50% no-repeat url(radio-button__icon_16_view.png);
}
