.GeneratedTest {
    --quote-border-radius: 16px;
    --color-correct: #56AB82;
    --color-incorrect: #FF6B6B;

    max-width: var(--content-width);

    padding: 130px 0;
    margin: 0 auto;

    @media (max-width: 1320px) {
        padding: 120px 12px;
    }

    @media (max-width: 768px) {
        padding: 84px 16px;
    }

    &-Progress {
        font-weight: 900;

        color: #999999;
    }

    &-Score {
        margin-bottom: 9px;
    }

    &-Question {
        margin-top: 26px;

        @media (max-width: 768px) {
            margin-top: 10px;
        }
    }

    &-Options {
        display: flex;

        margin-top: 28px;

        @media (max-width: 768px) {
            margin-top: 11px;
        }
    }

    &-Option {
        font-family: var(--ys-text);
        color: #ffffff;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1;

        height: 80px;
        margin-right: 17px;

        border-radius: 70px;

        background: var(--tests-action-color);

        cursor: pointer;

        transition: background 0.03s linear;

        --highlighted-color: var(--color-incorrect);

        &_correct {
            --highlighted-color: var(--color-correct);
        }

        &_highlighted {
            background: var(--highlighted-color);
        }

        @media (max-width: 768px) {
            font-size: var(--sans-small-font-size);
            line-height: var(--sans-small-line-height);

            height: 48px;

            margin-right: 9px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &-Quotes {
        position: relative;

        margin-top: 65px;

        @media (max-width: 768px) {
            margin-top: 30px;
        }
    }

    &-Quote {
        font-size: var(--serif-text-font-size);
        line-height: var(--serif-text-line-height);

        position: relative;
        z-index: 2;

        padding: 35px 35px 20px;

        background: #ffffff;

        border-radius: var(--quote-border-radius);

        cursor: grab;
        user-select: none;
        touch-action: none;

        @media (max-width: 768px) {
            font-size: var(--serif-xsmall-font-size);
            line-height: var(--serif-xsmall-line-height);

            padding: 17px 20px 20px 19px;
        }
    }

    &-MiddleQuote {
        position: absolute;
        top: -14px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;

        margin: 0 18px;

        background: #FAFAFA;

        border-radius: var(--quote-border-radius);

        transition: background 0.03s linear;

        @media (max-width: 768px) {
            top: -7px;

            margin: 0 13px;
        }
    }

    &-BackQuote {
        position: absolute;
        top: -26px;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 0;

        background: #D8D8D8;

        border-radius: var(--quote-border-radius);

        margin: 0 45px;

        @media (max-width: 768px) {
            top: -14px;

            margin: 0 28px;
        }
    }

    &-QuotesOverlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: var(--quote-border-radius);

        transition: background 0.03s linear;

        pointer-events: none;

        &_highlight {
            &_correct {
                background: var(--color-correct);
            }

            &_incorrect {
                background: var(--color-incorrect);
            }
        }
    }

    &-Icon {
        width: 113px;
        height: 113px;

        max-width: 50%;
        max-height: 70%;
    }
}
