[run]
branch = True
parallel = True
source = mpfs
omit =
    */mpfs/platform/*
    */mpfs/core/mrstat/*
    */mpfs/*/cli/*
    */mpfs/cli/*
    */mpfs/analytics/*

[report]
exclude_lines =
    def __repr__

[paths]
source =
    ../lib/
    /var/lib/teamcity/BuildAgents/*/work/*/lib
