{
    "envelopes": [
        {
            "specialLabelsInfo": {},
            "labelsInfo": {
                "FAKE_SPAM_LBL": {
                    "messagesCount": 0,
                    "symbolicName": {
                        "title": "spam_label",
                        "code": 11
                    },
                    "type": {
                        "title": "system",
                        "code": 3
                    },
                    "isSystem": true,
                    "isUser": false,
                    "color": "",
                    "creationTime": "",
                    "name": "FAKE_SPAM_LBL"
                },
                "FAKE_SEEN_LBL": {
                    "messagesCount": 0,
                    "symbolicName": {
                        "title": "seen_label",
                        "code": 23
                    },
                    "type": {
                        "title": "system",
                        "code": 3
                    },
                    "isSystem": true,
                    "isUser": false,
                    "color": "",
                    "creationTime": "",
                    "name": "FAKE_SEEN_LBL"
                },
                "FAKE_RECENT_LBL": {
                    "messagesCount": 0,
                    "symbolicName": {
                        "title": "recent_label",
                        "code": 13
                    },
                    "type": {
                        "title": "system",
                        "code": 3
                    },
                    "isSystem": true,
                    "isUser": false,
                    "color": "",
                    "creationTime": "",
                    "name": "FAKE_RECENT_LBL"
                },
                "FAKE_ATTACHED_LBL": {
                    "messagesCount": 0,
                    "symbolicName": {
                        "title": "attached_label",
                        "code": 10
                    },
                    "type": {
                        "title": "system",
                        "code": 3
                    },
                    "isSystem": true,
                    "isUser": false,
                    "color": "",
                    "creationTime": "",
                    "name": "FAKE_ATTACHED_LBL"
                },
                "9": {
                    "messagesCount": 7,
                    "symbolicName": {
                        "title": "encrypted_label",
                        "code": 39
                    },
                    "type": {
                        "title": "system",
                        "code": 3
                    },
                    "isSystem": true,
                    "isUser": false,
                    "color": "",
                    "creationTime": "1516099305",
                    "name": "encrypted"
                },
                "14": {
                    "messagesCount": 53,
                    "symbolicName": {
                        "title": "",
                        "code": 0
                    },
                    "type": {
                        "title": "so",
                        "code": 9
                    },
                    "isSystem": false,
                    "isUser": false,
                    "color": "",
                    "creationTime": "1519818834",
                    "name": "42"
                },
                "12": {
                    "messagesCount": 7,
                    "symbolicName": {
                        "title": "",
                        "code": 0
                    },
                    "type": {
                        "title": "so",
                        "code": 9
                    },
                    "isSystem": false,
                    "isUser": false,
                    "color": "",
                    "creationTime": "1517560161",
                    "name": "54"
                },
                "11": {
                    "messagesCount": 37,
                    "symbolicName": {
                        "title": "",
                        "code": 0
                    },
                    "type": {
                        "title": "so",
                        "code": 9
                    },
                    "isSystem": false,
                    "isUser": false,
                    "color": "",
                    "creationTime": "1517560161",
                    "name": "4"
                }
            },
            "folder": {
                "isThreadable": true,
                "subscribedForSharedFolder": false,
                "shared": "0",
                "subscribed": "",
                "newMessagesCount": 0,
                "messagesCount": 81,
                "bytes": 720795,
                "symbolicName": {
                    "title": "${folder_name}",
                    "code": ${folder_code}
                },
                "type": {
                    "title": "system",
                    "code": 3
                },
                "isSystem": true,
                "isUser": false,
                "name": "${folder_name}",
                "recentMessagesCount": 81,
                "unvisited": false,
                "folderOptions": {
                    "getPosition": 0
                },
                "position": 0,
                "parentId": "0",
                "pop3On": "0",
                "scn": "0",
                "creationTime": "1516099291"
            },
            "types": [
                42,
                54
            ],
            "uidl": "",
            "hdrLastStatus": "",
            "to": [
                {
                    "displayName": "marija.smolina28test@yandex.ru",
                    "domain": "yandex.ru",
                    "local": "marija.smolina28test"
                }
            ],
            "hdrStatus": "",
            "bcc": [],
            "cc": [],
            "subjectInfo": {
                "isSplitted": true,
                "postfix": "",
                "subject": "Invitation: Test spam event 2 @ Saturday, 29 September 2018",
                "prefix": "",
                "type": ""
            },
            "subject": "Invitation: Test spam event 2 @ Saturday, 29 September 2018",
            "mid": "${mid}",
            "fid": "${folder_code}",
            "threadId": "${mid}",
            "revision": 1435,
            "date": ${date},
            "receiveDate": ${date},
            "from": [
                {
                    "displayName": "Maria Smolina",
                    "domain": "yahoo.com",
                    "local": "maria_smolina"
                }
            ],
            "replyTo": [
                {
                    "displayName": "maria_smolina@yahoo.com",
                    "domain": "yahoo.com",
                    "local": "maria_smolina"
                }
            ],
            "imapId": "368",
            "ImapModSeq": "",
            "stid": "${stid}",
            "firstline": "SEP 29 \"Test spam event 2\" When Saturday, 29 September 2018 07:00 AM to 07:00 AM (GMT) Greenwich Mean Time - Dublin / Edinburgh / Lisbon / London Invitees marija.smolina28test@yandex.ru Respond This event invitation was sent from Yahoo Calendar",
            "inReplyTo": "",
            "references": "",
            "rfcId": "<1511258617.161631537533451687.JavaMail.yahoo@tardis-web01.cal.gq1.yahoo.com>",
            "size": 9836,
            "threadCount": 0,
            "extraData": "marija.smolina28test@yandex.ru",
            "newCount": 0,
            "attachmentsCount": 1,
            "attachmentsFullSize": 930,
            "attachments": [
                {
                    "m_size": 930,
                    "m_fileName": "invite.ics",
                    "m_contentType": "application/ics",
                    "m_hid": "1.2"
                }
            ],
            "labels": [
                "11",
                "12",
                "14",
                "9",
                "FAKE_ATTACHED_LBL",
                "FAKE_RECENT_LBL",
                "FAKE_SEEN_LBL",
                "FAKE_SPAM_LBL"
            ],
            "specialLabels": []
        }
    ]
}
