.image {
    display: flex;
    align-items: center;

    margin-bottom: 10px;
}

.url {
    flex-grow: 1;

    margin-right: 10px;
}

.height,
.width {
    width: 100px;
}

.height {
    margin-right: 10px;
}

.separator {
    margin: 0 5px;
}
