<!DOCTYPE html>
{%load attr%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Табула/Логи обновления тестовых контейнеров</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}/releaser.css" media="all"/>
    <link href="{{ MEDIA_URL }}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 10px; /* to make the container go all the way to the bottom of the topbar */
      }
    </style>
  </head>

  <body>
    <div class="container">
        {% include "index/header.html" %}    
        <br>
        <h1> Логи обновлений ТС</h1>
        <br>
        <br>
        <div class= "span8">
            <a href="/testupdate/index">Список версий и тестовых серверов</a>
            <br>
            <table class="table">
                <thead>
                    <tr>
                        <th>reqid</th>
                        <th>logtime</th>
                        <th>login</th>
                        <th>testserver</th>
                        <th>version</th>
                        <th>status</th>
                        <th>log</th>
                    </tr>
                </thead>
                <tbody>
                    {% for rec in records %}
                    <tr>
                        <td>
                            {{ rec.reqid }} 
                        </td>
                        <td>
                            {{ rec.logtime }} 
                        </td>
                        <td>
                            {{ rec.author }} 
                        </td>
                        <td>
                            {{rec.testserver}} 
                        </td>
                        <td>
                            {{rec.version}} 
                        </td>
                        <td>
                            <a href="/testupdate/showlog?reqid={{rec.reqid|urlencode}}&testserver={{rec.testserver|urlencode}}">
                                {% ifequal rec.status 0 %}
                                <span class="label label-info">OK</span>
                                {% else %}
                                <span class="label label-important" style="font-size:100%;">FAIL: {{rec.status}}</span>
                                <br>
                                {% endifequal %}
                            </a>
                        </td>
                        <td>
                            <a href="/testupdate/showlog?reqid={{rec.reqid|urlencode}}&testserver={{rec.testserver|urlencode}}">
                                лог
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div> <!-- /container -->
  </body>
</html>
