.gemini {
    margin-bottom: 20px;

    outline: 0;
}

.gemini__item {
    display: inline-block;
    overflow: hidden;

    outline: 0;
}

.gemini#new {
    max-width: 1207px;
}

.gemini#new .gemini__item {
    width: 120px;
    height: 20px;
    padding: 5px;
}

.gemini#static {
    width: 960px;
}

.gemini#static .gemini__item {
    width: 120px;
    height: 20px;
    padding-top: 5px; /* Отступ под галочку. */

    text-align: center;
}

.gemini#dynamic .gemini__item {
    padding: 5px;
}

.gemini#baseline .gemini__item {
    padding: 5px;
}

.gemini#lines {
    width: 200px;
}

.gemini#lines .gemini__item,
.gemini#lines-one .gemini__item,
.gemini#lines-false .gemini__item {
    padding: 5px;
}

.gemini#lines-one .gemini__item {
    width: 200px;
    padding-right: 20px;
}

.gemini#lines-false {
    max-width: 500px;
}
