.expString {
    color: var(--yatravel-text-secondary-color);
}

.expStringIcon {
    width: 12px;
    height: 12px;
}

.expNameText,
.expStringText {
    @include textOverflowEllipsis();
}

.searchInput {
    max-width: 500px;
}
