{
  "port": 28813,
  "threads": 16,
  "executor_threads": 2,
  "total_quota": 5000,
  "group_quotas": {},
  "engine": {
    "async": 1
  },
  "source_codecs": [
    "zstd_5"
    ],
  "default_load_control_config": {},
  "conf_dir": "HOMEDIR/.graphs/patched_graphs/",
  "fallback_conf_dir": "HOMEDIR/.graphs/graphs/",
  "backends_path": "HOMEDIR/.graphs/patched_backends.json",
  "fallback_backends_path": "HOMEDIR/.graphs/backends.json",
  "graph_name_mapping_path": "graph_name_mapping.txt",
  "protocol_options": {
    "post/ConnectTimeout": "200ms"
  },
  "update_from_fs_config": {},
  "debug_info_version": 1,
  "log": "current-eventlog-app_host",
  "dump_input_probability": 1,
  "log_degrade_threshold": 2000000000000
}

