{
  "rules": {
    "no-magic-numbers": "off",
    "no-new": "off"
  },
  "globals": {
    describe: true,
    it: true,
    before: true,
    after: true,
    afterEach: true,
    beforeEach: true,
    sinon: true,
    assert: true
  }
}
