.page_platform_desktop .advert:not(.hydro),
.page_platform_desktop .turbo-advert {
    box-sizing: border-box;

    border: 1px solid #e2e2e2;
}

/**
* урираем бордер у рекламы в incut, чтобы на тестах
* без рекламы не появлялвсь полока из-за него
*/
.incut .advert:not(.hydro) {
    border: none;
}

.page_platform_desktop .advert > .advert,
.page_platform_desktop .turbo-advert > .turbo-advert {
    border: none;
}
