/* stylelint-disable */
/* Отключает CSS анимации */
*:not(.alert_visible):not(.autoload), *:after, *:before {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
    -webkit-animation: none !important;
    -moz-animation: none !important;
    animation: none !important;
}

.turbo-card-slider .turbo-card-slider__scroll {
    /**
     * Оставляем очень короткую длину анимации слайдера,
     * чтобы отрабатывало событие transitionend,
     * но при этом анимация не приводила к морганию тестов.
     */
    transition: transform 10ms ease !important;
}

.turbo-skeleton__item {
    /**
    * Для тестирования структуры скелетонов рекомендации,
    * делаем скриншот, но изначальное состоянии при анимации opacity 0;
    */
    opacity: .25;
}

.SwiperContainer .SwiperContainer_moving, .SliderContainer .SliderItem_moving {
    /**
     * Оставляем очень короткую длину анимации слайдера,
     * чтобы отрабатывало событие transitionend,
     * но при этом анимация не приводила к морганию тестов.
     */
    -webkit-transition: 0.01s !important;
    -moz-transition: 0.01s !important;
    -ms-transition: 0.01s !important;
    -o-transition: 0.01s !important;
    transition: 0.01s !important;
}


/* stylelint-enable */
