/* выносим bottom-bar в отдельный слой, чтобы было проще снимать тесты (меньше пропадает) */
.BottomBar[class] {
    will-change: transform;
}

.BottomBar-Item[class] {
    will-change: transform;
}

.Navigation-BottomBar[class] {
    will-change: transform;
}

.__hermione_hide_bottombar .Navigation-BottomBar {
    display: none;
}
