.gemini-fonts-block {
    display: inline-block;

    width: 400px;
    padding: 10px;

    font-size: 20px;
}

.gemini-fonts-misc {
    display: inline-block;

    width: 400px;
    padding: 10px;

    font-size: 20px;
}

.gemini-yandex-subsets {
    width: 1000px;
}

.gemini-yandex-subsets > div {
    display: inline-block;

    width: 300px;

    vertical-align: top;
}

.gemini-fonts-konkord {
    font-size: 24px;
}

.gemini-fonts-rub {
    width: 65px;
    height: 24px;
    padding-top: 5px;
}

.gemini-fonts-textbook > div,
.gemini-fonts-yandex-sans > div {
    padding-top: 3px;
    padding-bottom: 3px;
}

@media screen and (max-width: 1000px) {
    .gemini-fonts-block:not(.gemini-fonts-rub),
    .gemini-fonts-misc,
    .gemini-yandex-subsets {
        width: 320px;
    }
}
