.gemini-tumblers {
    display: inline-block;

    width: 120px;
    padding: 5px;

    vertical-align: top;
}

.gemini-tumblers_background_colored {
    background-color: #0f9;
}

.gemini-tumblers_context_inline {
    display: block;

    width: 350px;
}

.gemini-tumblers__tumbler {
    padding: 5px;
}

.gemini-tumblers_multiple_yes {
    width: auto;
}

.gemini-tumblers_multiple_yes .gemini-tumblers {
    padding: 0;
}

.gemini-tumblers_view_default {
    width: 500px;
}
