Core {
    Server {
        ListenThreads: 5
        RequestQueueSize: 20
        # in seconds, zero is infinite
        ConnectionTimeout: 20
    }

    Log {
        Level: DEBUG
        Target {
            FilePath: "logs/datacamp-picrobot/picrobot_http.log"
        }
    }

    Identity {
        Name: "datacamp_picrobot"
    }

    Feature {
         StatusDir: "status"
    }
    # TvmAuth {
    #     AllowUnauthenticatedRead: true
    #     SelfTvmId: 2002768
    #     AllowedTvmId: 2002296
    #     AllowedTvmId: 2014748  # front, при включении tvm уточнить у фронта актуальные айдишники!
    # }
}
Yt {
    StateTable: "//home/market/testing/indexer/picrobot/state/state"
    Proxy: "markov"
    TokenPath: ""
    CopierResponseTable: "//home/market/testing/indexer/picrobot/queues/event_queue/queue"
    CopierResponseTableShardCount: 16
}
UploadNamespace: "marketpictesting"
UploadMdsHostname: "avatars-int.mds.yandex.net:13000"
TvmConfig: {
    CacheDir: "./tvm_cache_http/"
    DstServices: [
        {
            Alias: "avatars_mds"
            Id: 2002150
        }
    ],
    SrcIdEnvName: "PICROBOT_TVM_ID"
    SrcSecretEnvName: "PICROBOT_TVM_SECRET"
}
#if change don't forget to change in processor.json
FactorsConfig: [
    {
        Name: "colorness"
        Path: "meta.Colorness"
        Colorness: true
    },{
        Name: "colorness_avg"
        Path: "meta.ColornessAvg"
        ColornessAvg: true
    },{
        Name: "image2text_v6"
        Path: "meta.v6.NNetFeatures.prod_v6_enc_i2t_v8_200_img"
        NNetFeatures: {
            Version: 6
            Layer: FEAT_I2T_200
        }
    },{
        Name: "image2clothes_v6"
        Path: "meta.v6.NNetFeatures.prod_v6_enc_clothes_96"
        NNetFeatures: {
            Version: 6
            Layer: FEAT_CLOTHES_96
        }
    },{
        Name: "image2toloka_v6"
        Path: "meta.v6.NNetFeatures.prod_v6_enc_toloka_96"
        NNetFeatures: {
            Version: 6
            Layer: FEAT_TOLOKA_96
        }
    },{
        Name: "prod_v10_enc_toloka_192"
        Path: "meta.NNetFeatures.prod_v10_enc_toloka_192"
        NNetFeatures: {
            Version: 10
            Layer: FEAT_TOLOKA_192
        }
    },{
        Name: "prod_v10_enc_market_96"
        Path: "meta.NNetFeatures.prod_v10_enc_market_96"
        NNetFeatures: {
            Version: 10
            Layer: FEAT_MARKET_96
        }
    },{
        Name: "prod_v10_enc_i2t_v12_200_img"
        Path: "meta.NNetFeatures.prod_v10_enc_i2t_v12_200_img"
        NNetFeatures: {
            Version: 10
            Layer: FEAT_I2T_200
        }
    },{
        Name: "main_color"
        Path: "meta.MainColor"
        MainColor: true
    }
]
