.gemini {
    width: 490px;
    margin: 10px;

    outline: 0;
}

.gemini .search2 {
    max-width: 400px;
    margin-right: 10px;

    white-space: nowrap;
}

.gemini_type_service .search2 .input {
    width: 244px;
}

.gemini_type_action .search2__input {
    width: 100%;
}
