.problem-test {
    &__controls {
        display: flex;

        /* Сумма размера иконки S и два отступа слева и справа */
        margin-right: calc(var(--space-size-s) + var(--space-size-xxxs) * 2);
        margin-left: var(--space-size-xxs);

        &-input {
            flex-grow: 1;
        }
    }
}
