<?xml version="1.0" encoding="UTF-8"?>
<dataset>
    <NSQLCONFIG CONFIGKEY="YM_INVENTORY_BATCH"
                NSQLVALUE="500"
                NSQLDEFAULT="500"
                NSQLDESCRIP="Палетная инвентаризация. Размер батча для INVENTORYCOUNT_LOG"
                ADDDATE="2021-07-26 13:04:54.303"
                ADDWHO="dbo"
                EDITDATE="2021-07-26 13:04:54.303"
                EDITWHO="dbo"
                PARAMETERTYPE="P"
                MODIFIABLE="1"
                EFFECTIVE="1"/>
    <NSQLCONFIG CONFIGKEY="YM_INVENTORY_MAX_STEPS"
                NSQLVALUE="2"
                NSQLDEFAULT="2"
                NSQLDESCRIP="Палетная инвентаризация. Число попыток угадать кол-во товаров в инвентаризуемой ячейке"
                ADDDATE="2021-07-26 09:24:44.520"
                ADDWHO="dbo"
                EDITDATE="2021-07-26 09:24:44.520"
                EDITWHO="dbo"
                PARAMETERTYPE="P"
                MODIFIABLE="1"
                EFFECTIVE="1"/>
    <NSQLCONFIG CONFIGKEY="YM_PALLET_ALLOWED_AREA"
                NSQLVALUE="HRAN-TEST"
                NSQLDEFAULT="HRAN-TEST"
                NSQLDESCRIP="Ключи зон, разрешенных для палетной инвенторизации. Через запятую с пробелом"
                ADDDATE="2021-07-27 13:53:31.570"
                ADDWHO="dbo"
                EDITDATE="2021-07-27 13:53:31.570"
                EDITWHO="dbo"
                PARAMETERTYPE="P"
                MODIFIABLE="1"
                EFFECTIVE="I"/>

</dataset>
