.Hermione-Row {
    margin-bottom: 112px;
    padding: 8px;
}

.Select2 {
    margin: 4px;
}

.Hermione.New .Hermione-Row {
    margin-bottom: 224px;
}

.Select2 .Popup2 {
    /* TODO: Удалить после https://st.yandex-team.ru/ISL-8724 */
    font-size: initial;
}
