/**
 * A COPY FROM input__found.css
 */

.textinput__found {
    position: absolute;
    z-index: 2;

    display: none;

    padding-left: 6px;

    white-space: nowrap;

    font-family: arial, sans-serif;
    font-size: 14px;
    line-height: 36px;

    color: #bbb;
}

.textinput__found_visibility_visible {
    display: block;
}

.textinput_focused_yes .textinput__found {
    display: none;
}

.textinput__query-holder {
    position: absolute;
    /*  __query-holder распирает страницу, хоть и абсолют. Унес за верхнюю левую границу. */
    top: -32767px;
    left: -32767px;

    display: block;
    visibility: hidden;

    white-space: pre;

    font-family: arial, sans-serif;
    font-size: 18px;
}
