.gemini {
    margin: 20px;

    outline: 0;
}

.gemini__item {
    display: inline-block;

    outline: 0;
}

.gemini__item + .gemini__item {
    margin-left: 10px;
}

.gemini.radio-icon,
.gemini.radio-sizes,
.gemini.radio-normal,
.gemini.radio-pseudo {
    margin: 0;
}
