Type {
    Node {
        Op: Or
        Node {
            Attribute: "url"
        }
        Node {
            Attribute: "url"
        }
    }
    Weight: 1
}

Type {
    Node {
        Op: And
        Node {
            Attribute: "url*";
        }
        Node {
            Attribute: "date";
        }
    }
    Weight: 1
}

Type {
    Node {
        Op: And
        Node {
            Attribute: "url";
        }
        Node {
            Attribute: "lang";
        }
    }
    Weight: 1
}

Type {
    Node {
        Op: And
        Node {
            Attribute: "url";
        }
        Node {
            Attribute: "mime";
        }
    }
    Weight: 1
}

Type {
    Node {
        Op: And
        Node {
            Attribute: "url";
        }
        Node {
            Attribute: "lang";
        }
        Node {
            Attribute: "mime";
        }
    }
    Weight: 1
}

Type {
    Node {
        Op: And
        Node {
            Attribute: "url";
        }
        Node {
            Attribute: "lang";
        }
        Node {
            Attribute: "mime";
        }
        Node {
            Attribute: "date";
        }
    }
    Weight: 1
}

Quotes {
    MaxDocs: 100000
    MinWords: 4
    MaxWords: 32
}

Asterisks {
    MaxDocs: 150
    MinPrefix: 6
}
