.TestsPageWrap {
    position: relative;
    font-family: var(--ys-serif-display);
    font-weight: 400;
    font-size: var(--serif-text-font-size);
    line-height: var(--serif-text-line-height);

    @media (max-width: 768px) {
        font-size: var(--serif-xsmall-font-size);
        line-height: var(--serif-xsmall-line-height);
    }

    min-height: 100vh;
    overflow: hidden;

    margin: 0 auto;

    background-size: 100% auto;
    background-position: top center;
    background-repeat: no-repeat;

    &-Logo {
        position: absolute;
        top: 42px;
        left: 54px;
        z-index: 2;

        width: 137px;
        height: 28px;

        @media (max-width: 768px) {
            top: 29px;
            left: 19px;

            height: 17px;
        }
    }

    & .Intro-Text {
        max-width: 728px;
    }
}
