.detail {
    display: flex;
    align-items: center;

    margin: 10px 0;
}

.label {
    flex: 2;

    margin-right: 10px;
}

.amount {
    flex: 1;

    margin-right: 10px;
}

.delete {
    margin-top: 21px;
}
