<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    </head>
    <body style="margin: 0;padding: 0;">
        <script>
            (function(w, n) {
                w[n] = w[n] || [];
                w[n].push(function(NotificationCenter) {
                    var notificationCenter = new NotificationCenter({
                        source: 'searchapp',
                        apiHost: '<%= htmlWebpackPlugin.options.apiHost %>',
                        apiHost2: '<%= htmlWebpackPlugin.options.apiHost2 %>',
                    });
                    notificationCenter.renderNotifications(document.getElementById('service-container'));
                });
            })(window, 'notificationCenterCallbacks');
        </script>
        <script src="<%= htmlWebpackPlugin.files.js[0] %>" async="false"></script>
        <div class="container"><div id="service-container"></div></div>
    </body>
</html>
