.RubricsList {
  &-Header {
    margin-bottom: 30px;

    font-size: 34px;
    line-height: 38px;
    text-align: left;

    background: url('https://yastatic.net/s3/home-static/_/x/Q/xk8YidkhGjIGOrFm_dL5781YA.svg');
  }

  .button2 {
    margin-left: -15px;

    &__text {
      font-weight: bold;

      opacity: 1;
      color: #004eff;

      transition: color 200ms linear;
    }

    &_hovered_yes .button2__text {
      color: #f00;
    }
  }

  &__Modal {
    /** TODO: extract into separate component */
    .modal {
      &__cell {
        vertical-align: bottom;
      }

      &__content {
        box-sizing: border-box;
        width: 100%;
        height: 55vh;
        max-height: 320px;
        margin: 0;
        padding: 42px 50px;

        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        box-shadow: rgba(0, 0, 0, 0.41) 0 -3px 50px;
      }
    }
  }
}

.RubricsListSide {
  &-SearchCount {
    font-size: 80px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;

    @media screen and (max-width: 375px) {
      font-size: 70px;
    }

    @media screen and (max-width: 320px) {
      font-size: 60px;
    }
  }

  &-SearchLabel {
    font-size: 16px;
    text-align: center;

    @media screen and (max-width: 320px) {
      margin: 0 -10px;
    }
  }
}

/* stylelint-disable max-nesting-depth */
.RubricsModal {
  .Button {
    &_size {
      &_xl {
        @media screen and (max-width: 320px) {
          .button2 {
            height: 44px;
            padding: 0;

            font-size: 16px;
            line-height: 44px;

            &::before {
              border-width: 2px;
            }

            &__text {
              margin: 0 24px;
            }
          }
        }
      }
    }
  }
}
