:global(.Title) {
  display: none;
}

.TaskDescription {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}

.TaskDescription-Header {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  margin-bottom: 16px;
}

.TaskDescription-ContentWrapper {
  position: relative;

  overflow: auto;
  flex-grow: 1;
}

.TaskDescription-Content {
  font-family: var(--yandex-sans);
  font-size: 14px;
  line-height: 22px;

  color: var(--color-text-main);
}

@media (--ViewportMedium) {
  .TaskDescription-Header {
    margin-bottom: 24px;
  }

  .TaskDescription-CheckInfo {
    font-size: 40%;
  }

  .TaskDescription-Content {
    line-height: 24px;
  }
}
