.test {
    margin: 10px 0;
}

.test__content {
    width: 450px;
    padding: 20px;
}

.test__separator {
    display: inline-block;

    padding: 0 16px;

    color: #ccc;
}

.test__separator:before {
    content: '|';
}

.test__content pre {
    font-size: 13px;
}

.link + .link {
    margin-left: .5em;
}
