.gemini-controls {
    padding: 5px 180px;
}

.gemini {
    position: absolute;
    top: 60px;
    left: 50px;

    width: 367px;
    height: 355px;
    padding: 10px;

    outline: 0;
    background: #fff;
}

.gemini-left-right {
    top: 120px;
}

.gemini-bottom {
    top: 355px;
}

.gemini-left-right,
.gemini-bottom,
.gemini-top {
    position: relative;
}

.gemini-content {
    padding: 50px;
}
