.overlay_anim-off .overlay__item {
    transition: none !important;
    transform: none !important;
}

/* Скрываем серп под сайдблоком, т.к. на некоторых устройствах он скролится вместе с контентом */
/* В JS потом восстановим позицию скролла */
.overlay_mode_screen .overlay_anim-off:before {
    display: none !important;
}

.overlay_mode_screen .overlay_anim-off .overlay__item {
    position: relative !important;
}
