.SaliencySentence {
    &_noLeading {
        line-height: 1.2em;
    }

    &-Token {
        cursor: pointer;

        &_hideText {
            color: transparent;
        }

        &_mono {
            display: inline-block;

            width: 40px;
            height: 1em;
        }
    }
}
