core: {aggregator_max_wait: 3600}
phantom: { enabled: false, address: '{{checkouterBase}}' }
uploader:
    enabled: true
    api_address: 'https://lunapark.yandex-team.ru/'
    task: 'MARKETAPI-7422'
    job_name: 'debug tank fire'
    operator: 'dimkarp93'
    meta: { use_tank: '{{tank}}' }
    lock_targets: ['{{tank}}/checkout/prod/fire']
shellexec:
  catch_out: true
  enabled: true
  package: yandextank.plugins.ShellExec
  prepare: >
    find /var/lib/tankapi/tests/ -mindepth 1 -maxdepth 1 -cmin +240
    -not -path "/var/lib/tankapi/tests/stpd-cache"
    -not -path "/var/lib/tankapi/tests/lunapark"
    -prune -exec rm -rf {} +
    && find /var/lib/tankapi/tests/stpd-cache -mindepth 1 -cmin +240 -prune -exec rm -rf {} +
    && find /tmp/*downloaded_resource  -maxdepth 1 -cmin +240 -prune -exec rm -rf {} +
    || true
pandora:
    resources:
     -  src: https://proxy.sandbox.yandex-team.ru/2551285051
        dst: cb_categories.json
     -  src: https://proxy.sandbox.yandex-team.ru/2581338674
        dst: noncb_categories.json
    enabled: true
    pandora_cmd: https://proxy.sandbox.yandex-team.ru/{{pandoraCmd}}/market/capi/checkouter-load-test/checkouter-production-fire/app/app
    config_content:
        pools:
            -   id: Main
                gun:
                    type: main_gun
                    shopId: 431782
                    cartToReportDegradation: true
                    deliveryType: {{deliveryType}}
                    deliveryServices: #todo set more variables in template for changing from TSUM
                        fulfillment: "{{deliveryServices}}"
                        fulfillmentCashback: "{{deliveryServices}}"
                        dropship: "{{deliveryServices}}"
                        dropshipCashback: "{{deliveryServices}}"
                    warehouseIDs: #todo set more variables in template for changing from TSUM
                        fulfillment: [{{warehouseId}}]
                        fulfillmentCashback: [{{warehouseId}}]
                        dropship: []
                        dropshipCashback: []
                    cartRepeats: {{cartRepeats}}
                    cartDurationSec: {{cartDurationSec}}
                    checkouterBaseURL: "{{checkouterBaseURL}}"
                    environment: {{environment}}
                    shipmentDay: {{shipmentDay}}
                    regionId: {{regionId}}
                    addresses: {{addresses}}
                    distribution: {{distribution}}
                    tvmSecret:
                        type: FILE
                        file: "/etc/datasources/checkout_order_autofire.properties"
                        property: "tvm_secret"
                    yqlToken:
                        type: FILE
                        file: "/etc/datasources/checkout_order_autofire.properties"
                        property: "yql_token"
                    handlesCommonDelayMs: {{handlesCommonDelayMs}}
                    handles: {{handles}}
                    cartsDistribution: {{cartsDistribution}}
                    offersDistribution: {{offersDistribution}}
                    totalOrders: {{totalOrders}}
                    forceUnfreeze: {{forceUnfreeze}}
                    onlyInitStocks: false
                    chooseOfferThreshold: 30
                    rps: {{rps}}
                    rpsLimiterRate: 3
                    stocksRequiredRate: {{stocksRequiredRate}}
                    doNotShootGo: true
                    initCashbackStocks: true
                    percentOfCashbackOrders: {{percentOfCashbackOrders}}
                    percentOfDropshipOrders: 0
                    flashShopPromoID: "{{flashShopPromoID}}"
                    CategoriesPerReportRequest: 0
                    shootingDelay: {{delayInMinutes}}m
                ammo:
                    type: main_provider
                    readonlyUIDs: [1160858038, 1160877238, 1161102947, 1161173927, 1161190933, 1161209228, 1161214934, 1161227160, 1161240659, 1161246717]
                    cartsDistribution: {{cartsDistribution}}
                    percentOfOrdersPaidByCoins: {{percentOfOrdersPaidByCoins}}
                    percentOfOrdersUsingPromo: {{percentOfOrdersUsingPromo}}
                    promocodes: ["LOAD_PROD_10"]
                    percentOfFlashOrders: {{percentOfFlashOrders}}
                    flashShopPromoID: "{{flashShopPromoID}}"
                    percentOfCashbackOrders: {{percentOfCashbackOrders}}
                    percentOfDropshipOrders: 0
                    preShootAmmoType: true
                result:
                    type: phout
                    id: true
                    destination: ./phout.log
                rps:
                    - { type: const, duration: {{duration}}s, ops: {{rps}} }
                startup:
                    - { type: once, times: 10000 }
        log:
            level: info
        monitoring:
            expvar:
                enabled: true
                port: 1234
