:local(.modal) :global(.Modal-Content) {
    margin: var(--space-3-xl) 0;
}

.wrapper {
    background: var(--color-mg-surface-primary);
    padding: var(--space-2-xl);
    border-radius: var(--space-l);
    display: flex;
    flex-direction: column;
    width: var(--fan-modal-size);
    margin-bottom: 0;
}

.buttons {
    display: flex;
    justify-content: flex-end;
}

.done + .buttons {
    justify-content: center;
}

.modalButton + .modalButton {
    margin-left: var(--space-xs);
}

.emailBlock {
    display: flex;
    flex-direction: column;
}

.subheader {
    margin-bottom: var(--space-s);
}

.bodyShort {
    margin-bottom: 0;
}
