<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d] %-5p [%t] (%c{1}) %X{market-request-id} %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="CONSOLE"/>
        </Root>
        <Logger name="ru.yandex.inside.yt" level="debug">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
        <Logger name="ru.yandex.yt" level="debug">
            <AppenderRef ref="CONSOLE"/>
        </Logger>
    </Loggers>
</Configuration>
