.gemini-max-width {
    padding: 20px;
}

/*
gemini: для снятия скриншотов без лишних областей
 */
.gemini-max-width {
    display: inline-block;
}
/*
gemini: workaround для снятия скриншотов в браузере Opera
ошибка – https://st.yandex-team.ru/ISL-498
 */
.example-workaround {
    width: 540px;
    height: 340px;
}
