.problemset-testing {
    &__table-cell {
        &_aligned-top {
            vertical-align: top;
        }

        &_name {
            max-width: 300px;
        }

        &_centered-arrow {
            .table__sort-arrow {
                margin-left: 0;
            }
        }
    }

    &__checker-type,
    &__list,
    &__problem {
        font: var(--paragraph-size-m);
    }

    &__problem {
        display: flex;
        flex-direction: column;
    }

    &__problem-name {
        display: inline;
        overflow: hidden;

        text-overflow: ellipsis;
    }

    &__problem-type {
        &_muted {
            color: #838383;
        }
    }

    &__list {
        width: 100%;
        margin: 0;
        padding: 0;

        list-style-type: none;
    }

    &__list-item {
        position: relative;

        display: flex;
        flex-direction: row;

        padding: var(--space-size-xxxs);

        &:not(:last-of-type) {
            border-bottom-width: 0;
        }

        &_bordered {
            border: 1px solid var(--separator-color);
        }

        &_aligned {
            justify-content: space-between;
        }

        &_checker {
            align-items: center;

            padding-left: 20px;

            &:first-of-type {
                &::before {
                    position: absolute;
                    left: var(--space-size-xxxs);

                    display: block;

                    width: var(--space-size-xxs);
                    height: var(--space-size-xxs);

                    content: '';

                    border-radius: 50%;
                    background-color: var(--control-color-success);
                }
            }
        }
    }
}
