.block {
    display: flex;

    margin-bottom: 10px;
}

.id {
    margin-right: 10px;
}

.checkbox {
    margin-right: 10px;
}

.time {
    display: grid;
    align-items: center;
    grid-template-columns: 20px 1fr 1fr 1fr 36px;
    grid-gap: 10px;
}

.idTitle {
    grid-column: 2;
}

.priceTitle {
    grid-column: 4 / -1;
}

.addButton {
    grid-column: 2 / -1;
}
