.LookAround {
    max-width: var(--content-width);

    padding: 130px 0;
    margin: 0 auto;

    @media (max-width: 1320px) {
        padding: 120px 12px;
    }

    @media (max-width: 768px) {
        padding: 84px 0 16px;
    }

    &-Progress {
        font-weight: 900;

        color: #999999;

        @media (max-width: 768px) {
            padding: 0 16px;
        }
    }

    &-Score {
        margin-bottom: 9px;
    }

    &-Question {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;

        margin-top: 26px;
        text-align: center;

        @media (max-width: 768px) {
            margin-top: 10px;
        }
    }

    &-Text {
        text-align: center;

        margin-top: 16px;
        max-width: 80%;

        @media (max-width: 768px) {
            margin-top: 8px;
            max-width: 100%;
        }
    }

    &-ImageWrap {
        position: relative;
    }

    &-Image {
        max-width: 80%;

        @media screen and (max-width: 970px) {
            max-width: 100%;
        }
    }

    &-Controls {
        display: flex;

        justify-content: center;

        margin-top: 39px;

        @media (max-width: 768px) {
            padding: 0 16px;
            margin-top: 1em;
        }
    }

    &-Button {
        font-size: var(--serif-small-font-size);
        line-height: var(--serif-small-line-height);

        @media screen and (max-width: 768px) {
            font-size: var(--serif-xsmall-font-size);
            line-height: var(--serif-xsmall-line-height);

            width: 100%;
        }
    }
}
