.TranslationTest {
    --quote-border-radius: 16px;
    --color-correct: #56ab82;
    --color-incorrect: #ff6b6b;

    max-width: var(--content-width);

    padding: 130px 0;
    margin: 0 auto;

    @media (max-width: 1320px) {
        padding: 120px 12px;
    }

    @media (max-width: 768px) {
        padding: 84px 16px;
    }

    &-Card {
        position: relative;

        display: flex;
        width: 100%;

        min-height: 190px;
        max-height: 336px;

        border-radius: 12px;

        overflow: hidden;

        z-index: 2;

        cursor: grab;
        user-select: none;
        touch-action: none;

        @media (max-width: 768px) {
            flex-wrap: wrap;

            min-height: 130px;
        }
    }

    &-Original {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        background: #fff;
        padding: 4px 24px 1px 14px;

        @media (max-width: 768px) {
            min-width: 100%;
        }
    }

    &-Translated {
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;

        background: #e2e2e2;
        padding: 4px 24px 1px 14px;
    }

    &-Progress {
        font-weight: 900;

        color: #999999;
    }

    &-Score {
        margin-bottom: 9px;
    }

    &-Question {
        margin-top: 26px;

        @media (max-width: 768px) {
            margin-top: 10px;
        }
    }

    &-Options {
        display: flex;

        margin-top: 28px;

        @media (max-width: 768px) {
            margin-top: 11px;
        }
    }

    &-Option {
        font-family: var(--ys-text);
        color: #ffffff;

        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex: 1;

        height: 80px;
        margin-right: 17px;

        border-radius: 70px;

        background: var(--tests-action-color);

        cursor: pointer;

        transition: background 0.03s linear;

        --highlighted-color: var(--color-incorrect);

        &_correct {
            --highlighted-color: var(--color-correct);
        }

        &_highlighted {
            background: var(--highlighted-color);
        }

        @media (max-width: 768px) {
            font-size: var(--sans-small-font-size);
            line-height: var(--sans-small-line-height);

            height: 48px;

            margin-right: 9px;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &-Cards {
        position: relative;

        margin-top: 32px;

        @media (max-width: 768px) {
            margin-top: 30px;
        }
    }

    &-CardsOverlay {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;

        display: flex;
        justify-content: center;
        align-items: center;

        border-radius: var(--quote-border-radius);

        transition: background 0.03s linear;

        pointer-events: none;

        &_highlight {
            &_correct {
                background: var(--color-correct);
            }

            &_incorrect {
                background: var(--color-incorrect);
            }
        }
    }

    &-Icon {
        width: 113px;
        height: 113px;

        max-width: 50%;
        max-height: 70%;
    }
}
