# Скопировано из .gitignore

# IDE
.idea/
.DS_Store
*~
*\#
*.iml
*.swp
sftp-config.json
/version.txt
/version.txt.tmp
.vscode
.vscode/

# инструменты
.tern-port
npm-debug.log
yarn-error.log
node-flame.svg
/coverage
/reports
tvm-state
.veendor
.veendor-debug.log
.sync-config.cson
package-lock.json
.env
.env.*
!.env.example

# выкачиваемое и автособираемое
node_modules/*
marketnode/
stat-reporter.json
/coverage/*

app/*
shared/*

componentsHelpers.d.ts
componentsHelpers.js
componentsHelpers.ts
screenshotHelpers.d.ts
screenshotHelpers.js
screenshotHelpers.tsx

# кеши
.cache/*
