<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Screenshot wrapper</title>
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no" />
        <link rel="stylesheet" type="text/css" href="../../../node_modules/normalize.css/normalize.css" />
        <link rel="stylesheet" type="text/css" href="./styles/normalize.css" />
        <link rel="stylesheet" type="text/css" href="./styles/fonts.css" />
        <link rel="stylesheet" type="text/css" href="./styles/highchartsAnim.css" />
        <!-- Отключаем анимации -->
        <style>
            *,
            *::after,
            *::before {
                transition: none !important;
                transition-delay: 0s !important;
                transition-duration: 0s !important;
                animation-delay: -0.0001s !important;
                animation-duration: 0s !important;
                animation-play-state: paused !important;
                caret-color: transparent !important;
                font-smooth: never;
                -webkit-transition: none !important;
                -webkit-font-smoothing: none;
            }
        </style>
    </head>
    <body>
        <div id="main"></div>
    </body>
</html>
