.b-page__body {
    height: 400px;
    margin: 0 20px;
}

h2 {
    margin-top: 30px;
}

hr {
    clear: both;

    height: 30px;
    margin: 0;

    border: none;
    border-bottom: 1px solid #ff91af;
}
