/**
* 1. Необходимо для появление кнопки other и соответствующиего попапа
* 2. Необходимо для корректного отображения m-editor-popup_type_drafts без обертки в виде popup2
* 3. Необходимо, чтобы не обрезался открытый select на скриншоте
* 4. Инпут нужен для генерации ошибки правописания, однако мешает на скриншотах
* 5. Кнопки создают мигающие тесты
*/

.gemini {
    margin: 20px;
    padding-bottom: 3px;
}

.gemini.m-editor_type_test {
    max-width: 679px; /*1*/
    height: 350px; /*3*/
}

.gemini.drafts {
    position: absolute; /*2*/
    top: 600px;
}

.m-editor .input_type_textarea {
    opacity: 0; /*4*/
}

.gemini .m-editor-buttons {
    opacity: 0; /*5*/
}
