.gemini {
    width: 60%;
    padding: 0 10px 100px 10px;
}

/* браузеры тупят с хаком 0.1ms tests.blocks/b-page/b-page.css */
.popup {
    transition: none !important;
}

.gemini_type_b2b {
    padding-bottom: 250px;
}

.gemini_type_head {
    width: 100%;
    padding: 0;
    padding-bottom: 100px;
}

.gemini_type_disabled {
    padding-bottom: 0;
}

@media all and (max-width: 400px) {
    .gemini {
        width: 70%;
    }
}

