.section {
    padding: 20px;

    border-bottom: 1px solid #e5e5e5;
}

.section + .section {
    margin-top: -1px;
    padding-top: 0;

    border-top: 1px solid #fff;
}

.section:last-child {
    border-bottom: none;
}

.inline {
    margin: 0;
    padding: 20px 0;
}

.icon {
    margin-right: 10px;

    transform: rotate(45deg) scale(0.6);
}

.inline .icon {
    margin-left: 5px;
}
