.list {
    counter-reset: list;
}

.item {
    padding: 35px 0;
}

.header {
    position: absolute;

    display: flex;
    align-items: center;

    margin-top: -40px;
}

.checkbox {
    margin-right: 8px;
}

.title {
    font-family: var(--text-display-size-m-font-family);
    font-size: 18px;
    font-weight: 300;
    counter-increment: list;

    color: #bbb;
}

.title::after {
    content: counter(list);
}

.delete {
    color: #c00;
}
