.example {
    margin: 10px;
    padding: 10px 100px 10px 10px;
}

.example_testcase_content {
    position: absolute;
    right: 0;
    bottom: 10px;
}

.example_view_default {
    max-width: 400px;
}

.example_theme_promo {
    margin-top: 120px;
    margin-bottom: 120px;
}
