/**
 * A COPY FROM input__filter.css
 */

.textinput_theme_websearch {
    vertical-align: top; /* Чтобы __filter не влиял на высоту блока */
}

.textinput_theme_websearch .textinput__filter ~ .textinput__control {
    border-right-width: 62px;
}

.textinput_theme_websearch .textinput__filter ~ .textinput__clear {
    right: 32px;
}

.textinput_theme_websearch .textinput__filter {
    position: absolute;
    z-index: 3;
    right: 0;
}

.textinput_theme_websearch .textinput__filter .icon_type_filter {
    background-size: 20px 20px;
}
