/* stylelint-disable */
.review-invite,
.review-invite__item {
    transition-duration: .1ms !important;
}

/* Форсируем анимацию для экспа GARAGE_alice-guru */
.AliceGuru, 
.AliceGuru-Overlay
{
    animation-duration: .1ms !important;
}

.AliceGuru-Content::before, 
.AliceGuru-Content::after {
    animation: none !important;
}
