.i-ua_js_yes .mini-suggest_search_yes:not(.mini-suggest_expanded) .mini-suggest__input {
    opacity: 0.001 !important;
}

.i-ua_platform_ios [class].mini-suggest__control {
    padding-left: 9px;
}

.i-ua_platform_ios .HeaderPhone [class].mini-suggest__control {
    padding-left: 16px;
}
