/**
 * Вся магия ниже нужна, что бы снимать overlay целиком, со скроллом.
 */
.overlay__panel_scrollable_yes
{
    overflow: auto !important;
    height: auto !important;
}

.overlay__panel_scrollable_yes .overlay__content,
.overlay__panel_scrollable_yes .overlay__header
{
    position: relative;
}

.overlay__panel_scrollable_yes .overlay__content
{
    overflow: hidden;
}

.overlay__panel_scrollable_yes .overlay__item_type_screen .overlay__header + .overlay__content
{
    padding-top: 0 !important;
}
