.problem-test {
    &__variants {
        margin-bottom: var(--space-size-xs);

        &-control {
            width: 120px;
        }

        &-remover {
            /* Сумма размера иконки S и два отступа слева и справа */
            width: calc(var(--space-size-s) + var(--space-size-xxs) * 2);

            &-icon {
                opacity: 0.4;

                transition: opacity 0.2s;
            }

            &-icon:hover {
                opacity: 1;
            }
        }
    }
}
