.gemini {
    margin: 20px;

    outline: 0;
}

/* Замораживаем анимацию для gemini */
.gemini .button2:before {
    animation-play-state: paused !important;
}

.gemini__item {
    display: inline-block;

    padding: 10px;

    outline: 0;
}

.gemini#static {
    width: 720px;
}

.gemini#pale {
    display: inline-block;
}

.gemini#static .gemini__item {
    overflow: hidden;

    width: 70px;
    height: 28px;

    text-align: center;
}

.gemini__gap {
    display: inline-block;

    width: 5px;
}

.gemini__gap:last-child {
    display: none;
}

@media screen and (max-width: 400px) {
    .gemini#static {
        width: 320px;
    }
}
