.gemini {
    margin: 20px;

    outline: 0;
}

.gemini__item {
    display: inline-block;

    padding: 10px;

    outline: 0;
}

.gemini#static {
    width: 320px;
}

.gemini#static .gemini__item {
    overflow: hidden;

    width: 70px;
    height: 28px;

    text-align: center;
}

.gemini__gap {
    display: inline-block;

    width: 5px;
}

.gemini__gap:last-child {
    display: none;
}
