.icon_type_by {
    width: 16px;

    background-image: url(by.png);
}

.icon_type_kz {
    width: 16px;

    background-image: url(kz.png);
}

.icon_type_ru {
    width: 16px;

    background-image: url(ru.png);
}
