{% set secrets = {
    "app_secrets": {
      "id": "sec-01fx0c85mc6x43wpag5tbezv8r",
      "version": "ver-01fy9jrzxhr2jzfeez9ymdxr81",
      "files": [
        {
          "name": "mulcagate_url_key.txt",
          "key": "mulcagate-url-key"
        },
      ],
    },
    "attach_sid_secrets": {
      "id": "sec-01day8mapnzbrqy79jb4bnmghc",
      "version": "ver-01day8mapxpmeqtkmqdp736p4a",
      "files": [
        {
          "name": "attach_sid_aes_keys.json",
          "key": "webmail-testing-attachsid-aes-key"
        },
        {
          "name": "attach_sid_hmac_keys.json",
          "key": "webmail-testing-attachsid-hmac-key"
        },
      ],
    },
    "certificate_secret": {
      "id": "sec-01ekw0z483ff7pfxdkmwtgbdfv",
      "version": "ver-01fgrqd1c69szpq3w9ey6cd2cf",
      "files": [
        {
          "name": "ssl_cert.pem",
          "key": "7F001065C23C82472B2CA420D30002001065C2_key_cert"
        },
      ],
    },
    "tvm_secret": {
      "id": "sec-01dq7mdwv18zs55z3bm4x5pz0s",
      "version": "ver-01dq7mdx0r94h7xj0xcf7h4wqn",
      "files": [
        {
          "name": "tvm_secret",
          "key": "client_secret"
        }
      ]
    }
  }
%}
