{% set secrets = {
    "ch_password": {
      "id": "sec-01g93cnxah3mk8dcr3pfck2nf9",
      "version": "ver-01g952dmeg75d0hnns8mpj2bjy",
      "files": [
        {
          "name": "ch_password",
          "key": "testing"
        },
      ],
    },
    "certificate_secret": {
      "id": "sec-01ekw0z483ff7pfxdkmwtgbdfv",
      "version": "ver-01fgrqd1c69szpq3w9ey6cd2cf",
      "files": [
        {
          "name": "ssl_cert.pem",
          "key": "7F001065C23C82472B2CA420D30002001065C2_key_cert"
        },
      ],
    },
    "tvm_secret": {
      "id": "sec-01g18xve4knr1s6p0st5x4e5tp",
      "version": "ver-01g18xve52p1f32wny1aq0anza",
      "files": [
        {
          "name": "tvm_secret",
          "key": "client_secret"
        }
      ]
    },
    "pgpass": {
      "id": "sec-01g93dxvx6vrgnsxz99nba3n82",
      "version": "ver-01g9529tt03qra5ek0gg3rb1yd",
      "files": [
        {
          "name": "pgpass",
          "key": "testing"
        }
      ]
    },
    "postgresql_root_crt": {
      "id": "sec-01g6nmewnph2m9jnj75m1b71ep",
      "version": "ver-01g6nmewnw0ybmck7em41vh3rj",
      "files": [
        {
          "name": "postgresql_root_crt",
          "key": "crt"
        }
      ]
    }
  }
%}
