{% set secrets = {
    "vdirect_keys": {
      "id": "sec-01g4j6kvd7hsqc4hsjkhrtbnfs",
      "version": "ver-01g4j6kvdpvwn7b36f6akvqhnp",
      "files": [
        {
          "name": "vdirect_keys",
          "key": "all"
        },
      ],
    },
    "attach_sid_secrets": {
      "id": "sec-01day8mapnzbrqy79jb4bnmghc",
      "version": "ver-01day8mapxpmeqtkmqdp736p4a",
      "files": [
        {
          "name": "attach_sid_aes_keys.json",
          "key": "webmail-testing-attachsid-aes-key"
        },
        {
          "name": "attach_sid_hmac_keys.json",
          "key": "webmail-testing-attachsid-hmac-key"
        },
      ],
    },
    "certificate_secret": {
      "id": "sec-01ekw0z483ff7pfxdkmwtgbdfv",
      "version": "ver-01fgrqd1c69szpq3w9ey6cd2cf",
      "files": [
        {
          "name": "ssl_cert.pem",
          "key": "7F001065C23C82472B2CA420D30002001065C2_key_cert"
        },
      ],
    },
    "tvm_secret": {
      "id": "sec-01dq7kymsxzvkx2jvm0e6ndhft",
      "version": "ver-01dq7kyn00dhc2y5bhwmb4pd2j",
      "files": [
        {
          "name": "tvm_secret",
          "key": "client_secret"
        }
      ]
    },
    "pgpass": {
      "id": "sec-01g6nm9nm6s84wpb69wm0zhnqt",
      "version": "ver-01g6nznbns6mwz5mawekewe6f3",
      "files": [
        {
          "name": "pgpass",
          "key": "testing"
        }
      ]
    },
    "postgresql_root_crt": {
      "id": "sec-01g6nmewnph2m9jnj75m1b71ep",
      "version": "ver-01g6nmewnw0ybmck7em41vh3rj",
      "files": [
        {
          "name": "postgresql_root_crt",
          "key": "crt"
        }
      ]
    }
  }
%}
