{% set secrets = {
    "ssl": {
      "id": "sec-01g3ed1a4phxk5p8fxncfhzabp",
      "version": "ver-01g3ed1a7gpjz50nb73qxqaxa1",
      "files": [
        {
          "name": "ssl.pem",
          "key": "7F001CD2E5A072FC99239364E80002001CD2E5_key_cert"
        }
      ],
    },
    "pgpass": {
      "id": "sec-01dv73af79npp4x163wckaf9sf",
      "version": "ver-01dv73ftq7cp9xf3zsy7j14278",
      "files": [
        {
          "name": "pgpass",
          "key": "pgpass"
        }
      ]
    },
    "tvm_secret": {
      "id": "sec-01es6s6dwb2amwemg5stzgk39z",
      "version": "ver-01es6s6dx7x2y4t1jhczyf0k1y",
      "files": [
        {
          "name": "tvm_secret",
          "key": "client_secret"
        }
      ]
    }
  }
%}
