{% set secrets = {
    "tvm_secret": {
      "id": "sec-01g63mj927vn1jk67200dthp46",
      "version": "ver-01g63mj92m8ech3hw93jeg3hwr",
      "files": [
        {
          "name": "tvm_secret",
          "key": "client_secret"
        }
      ]
    }
  }
%}
