{% set secrets = {
    "ssl": {
      "id": "sec-01g4hhdj5mhes3ndvqsktbvgw4",
      "version": "ver-01g4hhdj99zadf3s0a38deqaw7",
      "files": [
        {
          "name": "ssl.pem",
          "key": "7F001D10B3ED2AC150C3C9EEB50002001D10B3_key_cert"
        }
      ],
    },
    "pgpass": {
      "id": "sec-01g4frg5ez7wjxf95rhc0dwj5x",
      "version": "ver-01g4frg5f7cg2j3b3kjzepkp62",
      "files": [
        {
          "name": "pgpass",
          "key": "pgpass"
        }
      ]
    },
    "tvm_secret": {
      "id": "sec-01g4frm94sp5ndxerq719c4g96",
      "version": "ver-01g4frm9501atbkrrsy313f4zp",
      "files": [
        {
          "name": "tvm_secret",
          "key": "client_secret"
        }
      ]
    }
  }
%}
