{% set secrets = {
    "stoken": {
      "id": "sec-01g8vg7mn6077swgk9g86rsadg",
      "version": "ver-01g8vg7mnqx6kcsfq5p9dtm9fd",
      "files": [
        {
          "name": "stoken",
          "key": "testing"
        }
      ],
    },
    "certificate_secret": {
      "id": "sec-01ekw0z483ff7pfxdkmwtgbdfv",
      "version": "ver-01fgrqd1c69szpq3w9ey6cd2cf",
      "files": [
        {
          "name": "ssl_cert.pem",
          "key": "7F001065C23C82472B2CA420D30002001065C2_key_cert"
        },
      ],
    },
    "tvm_secret": {
      "id": "sec-01dq7kyksz0fwcd5vcf58cakpn",
      "version": "ver-01dq7kym09p8xekpp3ng6wyfha",
      "files": [
        {
          "name": "tvm_secret",
          "key": "client_secret"
        }
      ]
    },
    "pgpass": {
      "id": "sec-01g8vggacr1avdehrnx3v85t8k",
      "version": "ver-01g8vggad6rvm89k132ce2gyc6",
      "files": [
        {
          "name": "pgpass",
          "key": "testing"
        }
      ]
    },
    "postgresql_root_crt": {
      "id": "sec-01g6nmewnph2m9jnj75m1b71ep",
      "version": "ver-01g6nmewnw0ybmck7em41vh3rj",
      "files": [
        {
          "name": "postgresql_root_crt",
          "key": "crt"
        }
      ]
    }
  }
%}
