{% set secrets = {
    "certificate_secret": {
      "id": "sec-01ekw0z483ff7pfxdkmwtgbdfv",
      "version": "ver-01fgrqd1c69szpq3w9ey6cd2cf",
      "files": [
        {
          "name": "ssl.pem",
          "key": "7F001065C23C82472B2CA420D30002001065C2_key_cert"
        },
      ],
    },
    "tvm_secret": {
      "id": "sec-01f9121ks66xvveeekf8x60y0w",
      "version": "ver-01fa6jgcsq9ja7axhxdwc0ngst",
      "files": [
        {
          "name": "tvm_secret",
          "key": "tvm_secret"
        }
      ]
    }
  }
%}
