
{% set secrets = {
    "ssl": {
      "id": "sec-01g5rp8fdkdf2mvvc27y79zh28",
      "version": "ver-01g5rp8fgkgdqs0pxcc1mekyjp",
      "files": [
        {
          "name": "pop3-tst.stable.qloud-b.yandex.net.pem",
          "key": "7F001D4E21515A4BBD55F258150002001D4E21_key_cert"
        }
      ],
    },
    "mail_pop3_testing_secrets": {
      "id": "sec-01fwed3kkf6pzm5nkjyxc0aay7",
      "version": "ver-01fwed3kpb9sdmham4pby536vf",
      "files": [
        {
          "name": "pgpass",
          "key": "secret.imap-testing-pgpass"
        },
        {
          "name": "tvm_secret",
          "key": "secret.pop3-testing-tvm-secret"
        }
      ]
    }
  }
%}
