{% set secrets = {
    "attach_sid_secrets": {
      "id": "sec-01day8mapnzbrqy79jb4bnmghc",
      "version": "ver-01day8mapxpmeqtkmqdp736p4a",
      "files": [
        {
          "name": "attach_sid_aes_keys.json",
          "key": "webmail-testing-attachsid-aes-key"
        },
        {
          "name": "attach_sid_hmac_keys.json",
          "key": "webmail-testing-attachsid-hmac-key"
        },
      ],
    },
    "certificate_secret": {
      "id": "sec-01ekw0z483ff7pfxdkmwtgbdfv",
      "version": "ver-01fgrqd1c69szpq3w9ey6cd2cf",
      "files": [
        {
          "name": "ssl_cert.pem",
          "key": "7F001065C23C82472B2CA420D30002001065C2_key_cert"
        },
      ],
    },
    "tvm_secret": {
      "id": "sec-01dq7kyb9j1f4ze9s1r4v8sjk9",
      "version": "ver-01dq7kybfzeqqbqbe2shaynkjm",
      "files": [
        {
          "name": "tvm_secret",
          "key": "client_secret"
        }
      ]
    },
    "pgpass": {
      "id": "sec-01g7d6es19a9d4w9tdbz9n607v",
      "version": "ver-01g7d6es1p2ch63yb6y2fj0a3w",
      "files": [
        {
          "name": "pgpass",
          "key": "testing"
        }
      ]
    },
    "postgresql_root_crt": {
      "id": "sec-01g6nmewnph2m9jnj75m1b71ep",
      "version": "ver-01g6nmewnw0ybmck7em41vh3rj",
      "files": [
        {
          "name": "postgresql_root_crt",
          "key": "crt"
        }
      ]
    }
  }
%}
