{% set secrets = {
    "certificate_secret": {
      "id": "sec-01ekw0z483ff7pfxdkmwtgbdfv",
      "version": "ver-01fgrqd1c69szpq3w9ey6cd2cf",
      "files": [
        {
          "name": "ssl_cert.pem",
          "key": "7F001065C23C82472B2CA420D30002001065C2_key_cert"
        },
      ],
    },
    "tvm_secret": {
      "id": "sec-01dq7kxwm8bztmb867gmxnjpwk",
      "version": "ver-01dq7kxwtefbktwdwb05qp3fbn",
      "files": [
        {
          "name": "tvm_secret",
          "key": "client_secret"
        }
      ]
    }
  }
%}
