{% extends "base.yml" %}
{% from "secrets/testing.j2" import secrets %}

{% block environment %}testing{% endblock %}
{% block network_macro %}_MAILTESTNETS_{% endblock %}

{% set deploy_units = {
    "main": {
      "version": "202207261449.tmpmopsdeploy",
      "max_unavailable": 1,
      "clusters": {
        "sas": 1,
        "iva": 1,
        "myt": 1
      }
    }
  }
%}
