.test {
    padding: 10px;
}

.test_case_directions {
    padding: 50px 100px;
}

.test__anchor {
    display: inline-block;

    padding: 3px 6px;

    background-color: #eee;
}

.test_case_directions .test__anchor {
    padding: 30px 100px;
}
