.fadeOut {
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background: rgba(0, 0, 0, 0.5);
}

.modal {
    position: absolute;
    right: 8px;
    bottom: 0;
    left: 8px;

    display: flex;
    overflow: hidden;

    max-height: calc(100% - 8px);

    border-radius: 8px 8px 0 0;
    background: #fff;

    transition: height 300ms ease-out;
}

.frame {
    flex: 1;

    border: none;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;

    margin: calc(var(--spin-size-m) / -2) 0 0 calc(var(--spin-size-m) / -2);
}

.error {
    color: #c00;
}
