.HermioneSkeleton {
    padding: 12px;
}

.HermioneSkeleton-Text {
    height: 20px;

    border-radius: 1px;
    background-color: rgb(240, 240, 240);
}

.HermioneSkeleton-Text + .HermioneSkeleton-Text {
    margin-top: 12px;
}
