.link {
    text-decoration: none;

    color: var(--yatravel-link-primary-color);

    &_size {
        &_m {
            font-size: $FONT_SIZE_M;
            line-height: $LINE-HEIGHT_SIZE_M;
        }

        &_l {
            font-size: $FONT_SIZE_L;
            line-height: $LINE-HEIGHT_SIZE_L;
        }
    }

    &:hover {
        color: var(--yatravel-link-generic-hover-color);
    }

    &_active {
        font-weight: bold;
    }
}
