# TDictsUpdaterConfig

Sparsifiers {
    Types: ["lw", "lb", "ll3"]
    Columns: ["Title"]
    DictName: "Title"
    DownweightRepeatedFields: false
    ForRnn: false
    DoHashTokens: false
}
Sparsifiers {
    Types: ["lw", "lb", "ll3"]
    Columns: ["LeftDocTitle"]
    DictName: "LeftDocTitle"
    DownweightRepeatedFields: false
    ForRnn: false
    DoHashTokens: false
}
Sparsifiers {
    Types: ["lw"]
    Columns: ["Url"]
    DictName: "Url"
    DownweightRepeatedFields: false
    ForRnn: false
    DoHashTokens: false
}
Sparsifiers {
    Types: ["lw"]
    Columns: ["LeftDocUrl"]
    DictName: "LeftDocUrl"
    DownweightRepeatedFields: false
    ForRnn: false
    DoHashTokens: false
}
Sparsifiers {
    Types: ["lw"]
    Columns: ["UserId"]
    DictName: "UserId"
    DownweightRepeatedFields: false
    ForRnn: false
    DoHashTokens: false
}
Sparsifiers {
    Types: ["lw"]
    Columns: ["UserId"]
    DictName: "UserId"
    DownweightRepeatedFields: false
    ForRnn: false
    DoHashTokens: false
}

UpdatersConfig {
    UpdateDictOptions {
        DecayOptions {
            Days: 30
            Base: 100
        }
    }
    Updaters {
        DictName: "Title"
        TokenType: "lw"
        InheritUpdateDictOptions: true
    }
    Updaters {
        DictName: "Title"
        TokenType: "lb"
        InheritUpdateDictOptions: true
    }
    Updaters {
        DictName: "Title"
        TokenType: "ll3"
        InheritUpdateDictOptions: true
    }

    Updaters {
        DictName: "LeftDocTitle"
        TokenType: "lw"
        InheritUpdateDictOptions: true
    }
    Updaters {
        DictName: "LeftDocTitle"
        TokenType: "lb"
        InheritUpdateDictOptions: true
    }
    Updaters {
        DictName: "LeftDocTitle"
        TokenType: "ll3"
        InheritUpdateDictOptions: true
    }

    Updaters {
        DictName: "Url"
        TokenType: "lw"
        InheritUpdateDictOptions: true
    }
    Updaters {
        DictName: "LeftDocUrl"
        TokenType: "lw"
        InheritUpdateDictOptions: true
    }
    Updaters {
        DictName: "UserId"
        TokenType: "lw"
        InheritUpdateDictOptions: true
    }
}

ProjectorsConfig {
    Version: 1
    SerializationType: WadSerializationType
    DictsProviderWadFileName: "dicts_provider.wad"
    Projectors {
        ProjectorName: "Title"
        DssmDictName: "Title.dict"
        ProjectorParameters {
            YtDictName: "Title"
            TokenType: "lw"
            TopFrequentItemCount: 100000000
            HashModulo:           1000000
        }
        ProjectorParameters {
            YtDictName: "Title"
            TokenType: "lb"
            TopFrequentItemCount: 100000000
            HashModulo:           1000000
        }
        ProjectorParameters {
            YtDictName: "Title"
            TokenType: "ll3"
            TopFrequentItemCount: 100000000
            HashModulo:           1000000
        }
        StackTokenIds: true
    }
    Projectors {
        ProjectorName: "LeftDocTitle"
        DssmDictName: "LeftDocTitle.dict"
        ProjectorParameters {
            YtDictName: "LeftDocTitle"
            TokenType: "lw"
            TopFrequentItemCount: 100000000
            HashModulo:           1000000
        }
        ProjectorParameters {
            YtDictName: "LeftDocTitle"
            TokenType: "lb"
            TopFrequentItemCount: 100000000
            HashModulo:           1000000
        }
        ProjectorParameters {
            YtDictName: "LeftDocTitle"
            TokenType: "ll3"
            TopFrequentItemCount: 100000000
            HashModulo:           1000000
        }
        StackTokenIds: true
    }
    Projectors {
        ProjectorName: "Url"
        DssmDictName: "Url.dict"
        ProjectorParameters {
            YtDictName: "Url"
            TokenType: "lw"
            TopFrequentItemCount: 100000000
            HashModulo:           1000000
        }
        StackTokenIds: true
    }
    Projectors {
        ProjectorName: "LeftDocUrl"
        DssmDictName: "LeftDocUrl.dict"
        ProjectorParameters {
            YtDictName: "LeftDocUrl"
            TokenType: "lw"
            TopFrequentItemCount: 100000000
            HashModulo:           1000000
        }
        StackTokenIds: true
    }
    Projectors {
        ProjectorName: "UserId"
        DssmDictName: "UserId.dict"
        ProjectorParameters {
            YtDictName: "UserId"
            TokenType: "lw"
            TopFrequentItemCount: 100000000
            HashModulo:           1000000
        }
        StackTokenIds: true
    }

    Input2Projectors {
        Input: "Title_lw"
        Projectors {
            ProjectorName: "Title"
            TokenType: "lw"
        }
    }
    Input2Projectors {
        Input: "Title"
        Projectors {
            ProjectorName: "Title"
            TokenType: "lw"
        }
        Projectors {
            ProjectorName: "Title"
            TokenType: "lb"
        }
        Projectors {
            ProjectorName: "Title"
            TokenType: "ll3"
        }
    }
    Input2Projectors {
        Input: "LeftDocTitle"
        Projectors {
            ProjectorName: "LeftDocTitle"
            TokenType: "lw"
        }
        Projectors {
            ProjectorName: "LeftDocTitle"
            TokenType: "lb"
        }
        Projectors {
            ProjectorName: "LeftDocTitle"
            TokenType: "ll3"
        }
    }
    Input2Projectors {
        Input: "Url"
        Projectors {
            ProjectorName: "Url"
            TokenType: "lw"
        }
    }
    Input2Projectors {
        Input: "LeftDocUrl"
        Projectors {
            ProjectorName: "LeftDocUrl"
            TokenType: "lw"
        }
    }
    Input2Projectors {
        Input: "UserId"
        Projectors {
            ProjectorName: "UserId"
            TokenType: "lw"
        }
    }
}

