<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d %-5p %x [%c{1} %t] %m%n"/>
        </layout>
    </appender>

    <logger name="org.apache">
        <level value="WARN"/>
    </logger>

    <logger name="org.hibernate">
        <level value="WARN"/>
    </logger>

    <logger name="org.springframework">
        <level value="WARN"/>
    </logger>

    <logger name="ru.yandex">
        <level value="DEBUG"/>
    </logger>

    <logger name="ru.yandex.market.supercontroller.dao.extract">
        <level value="TRACE"/>
    </logger>
    
    <logger name="ru.yandex.misc.io.http.apache.v4">
        <level value="WARN"/>
    </logger>

    <logger name="ru.yandex.market.supercontroller.mbologs.workers.stat.StatCounter">
        <level value="TRACE"/>
    </logger>

    <logger name="ru.yandex.market.supercontroller.mbologs.util.QueueWaitStatCounter">
        <level value="TRACE"/>
    </logger>

    <logger name="ru.yandex.common.util">
        <level value="WARN"/>
    </logger>
    
    <logger name="com.mchange">
        <level value="WARN"/>
    </logger>    

    <root>
        <priority value="WARN"/>
        <appender-ref ref="CONSOLE" />
    </root>
</log4j:configuration>
