.icon_size_s.icon_type_eye,
.icon_size_s.icon_type_lock {
    background-size: 14px;
}

.icon_size_m.icon_type_eye,
.icon_size_m.icon_type_lock {
    background-size: 16px;
}

.icon_type_eye {
    background-image: url(icon_type_eye.svg);
}

.icon_type_lock {
    background-image: url(icon_type_lock.svg);
}
