.textinput_size_xs .icon_type_eye,
.textinput_size_s .icon_type_eye {
    background-image: url(icon_type_eye-s.png);
}

.textinput_size_m .icon_type_eye {
    background-image: url(icon_type_eye-m.png);
}

.textinput_size_xs .icon_type_lock,
.textinput_size_s .icon_type_lock {
    background-image: url(icon_type_lock-s.png);
}

.textinput_size_m .icon_type_lock {
    background-image: url(icon_type_lock-m.png);
}
