status=200 OK
body=
<cart>
<items>
<item
	offer-name="Цифровая фоторамка RITMIX RDF-801 White"
	price="1799.44"
	feed-id="206863"
	offer-id="71089685"
	delivery="true"
	count="1"
/>
</items>
    <delivery-options>
        <delivery service-id="14" service-name="Доставка 1" type="PICKUP" price="0">
            <dates from-date="10-12-2014" to-date="20-12-2014"/>
            <outlets>
                <outlet id="164353"/>
            </outlets>
        </delivery>
    </delivery-options>
    <payment-methods>
        <payment-method>SHOP_PREPAID</payment-method>
        <payment-method>CASH_ON_DELIVERY</payment-method>
        <payment-method>CARD_ON_DELIVERY</payment-method>
    </payment-methods>
</cart>