<?xml version="1.0" encoding="windows-1251"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans default-lazy-init="false" default-autowire="no">

    <import resource="classpath:context/props.xml" />

    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    <import resource="classpath:context/common-container.xml" />

</beans>
