.gemini-suggest-in-popup {
    position: relative;

    width: 100%;
    height: 160px;
}

.gemini-suggest-in-popup.gemini-popup-bottom,
.gemini-suggest-in-popup.gemini-popup-top {
    height: 200px;
}

.gemini-suggest-in-popup__popup-content {
    padding: 20px;
}

.gemini-suggest-in-popup .button {
    position: absolute;
}

.gemini-suggest-in-popup.gemini-popup-right .button {
    left: 0;
}

.gemini-suggest-in-popup.gemini-popup-left .button {
    right: 0;
}

.gemini-suggest-in-popup.gemini-popup-top .button {
    bottom: 0;
    left: 50%;

    margin-left: -30px;
}

.gemini-suggest-in-popup.gemini-popup-bottom .button {
    top: 0;
    left: 50%;

    margin-left: -30px;
}

/*
    javascript тупит при работе с dom (установить размер и сразу его получить)
    из за хака 0.1ms tests.blocks/b-page/b-page.css
 */
.gemini-suggest-in-popup__popup-content .input__control {
    transition: none !important;
}
