* {
    transition: none !important;
}

body {
    overflow: hidden;

    height: 2000px;
}

.wrap {
    width: 100%;

    text-align: right;
}

.gemini {
    display: inline-block;

    padding: 16px;
}

.gemini_loader_yes,
.gemini_full_yes {
    width: 300px;
    height: 460px;
}

.gemini_loader_yes {
    text-align: right;
}

/* Замораживаем анимацию для gemini */
.spin2 {
    animation-play-state: paused !important;
}

/* Opera 12 тупит с хаком 0.1ms tests.blocks/b-page/b-page.css */
.popup2 {
    animation: none !important;
}
