.test-number-badge {
    display: inline-block;

    box-sizing: border-box;
    min-width: 21px;
    height: 21px;
    padding: 0 var(--space-size-xxxs);

    font-size: 13px;
    line-height: 21px;
    text-align: center;

    color: #fff;
    border-radius: 16px;
    background-color: var(--messages-counter-color);
}
