INDEX_DIR=${INDEX_DIR:-$IMAGES/mrtest2}
INDEX_BIN_DIR=${INDEX_BIN_DIR:-$INDEX_DIR/bin}
INDEX_CONFIG_DIR=${INDEX_CONFIG_DIR:-$INDEX_DIR/config}
INDEX_RSYNC_DIR=${INDEX_RSYNC_DIR:-place/berkanavt/images/mrtest2}
INDEX_HOSTLIST_DIR=${INDEX_HOSTLIST_DIR:-${IMAGES}/webscripts/images/cm/mrhosts_test2.list}
INDEX_CM_LOGS_DIR=${INDEX_CM_LOGS_DIR:-/Berkanavt/clustermaster/var/db/image_test2_worker/logs}

# Svn dirs in mrindex/store_index.sh

# Number of link db shards.
LINKDB_SHARD_COUNT=25

# Number of thumb shards.
IMTUB_SHARD_COUNT=2000

# Number of inputdoc shards.
INPUTDOC_SHARD_COUNT=10

# Number of index shards.
INDEX_SHARD_COUNT=324

# Number of shards for kiwi confirmation
KIWI_CONF_SHARDS=30

# Links per document.
MAX_IMAGE_PAGE_COUNT=10000

# Language quota for document.
LANGUAGE_QUOTA="rus=0.5:eng=0.2:tr=0.1"

# Number of thumbs in index in all documents.
TOTAL_THUMBS_COUNT=7500000000

# Number of links in index in all documents.
TOTAL_LINKS_COUNT=28000000000

# Query normalization version in user index.
QUERY_NORMALIZATION_VERSION=10

# Master host.
MASTER_HOST=imgrover4.search.yandex.net

# E-mail for statistics.
STATISTICS_MAIL_TO="images-index@yandex-team.ru"

SANDBOX_RESOURCES_URL="https://sandbox.yandex-team.ru/sandbox/resources/redirect?"
SANDBOX_RELEASE="attr_name=released&attr_value=stable"
SANDBOX_ARCH_FREEBSD="arch=freebsd"
SANDBOX_ARCH_LINUX="arch=linux"

SMS_API_URL="https://golem.yandex-team.ru/api/sms/send.sbml"
DELTA_SMS_TO="sakhnov,ulgen4a,vitamin-ca"

# hash(docid) % chunk_size goes to sample
METADOC_SAMPLING_CHUNK_SIZE=97
