/* stylelint-disable */

/**
 * Отключает CSS анимации.
 * В лего-popup'ах всем попапам добавляется iframe или div подложка, и если ей указать transition, то вёрстка съезжает.
 */
:not(.popup__under), *:after, *:before {
    -webkit-transition: all 1ms !important;
       -moz-transition: all 1ms !important;
        -ms-transition: all 1ms !important;
            transition: all 1ms !important;
    -webkit-animation: all 1ms !important;
       -moz-animation: all 1ms !important;
            animation: all 1ms !important;
}

.button2 {
    transform: none !important;
}
