/* Скрываем попап Cookie files */
.lg-cc {
    display: none;
}

.YndxBug {
    /* stylelint-disable-next-line declaration-no-important */
    display: none !important;
}

.UserOpinion {
    display: none;
}
