/* Отключает CSS анимации */
.ui-loader,
.spinner,
.button,
.star,
.spinner *,
.spinner *:after,
.spinner *:before,
.button *,
.button *:after,
.button *:before,
.star *,
.star *:after,
.star *:before,
.yamb-popup,
.yamb-popup *,
/* Усиливаем селекторы, т.к в виджете везде important'ы */
.ya-chat-widget.ya-chat-widget.ya-chat-widget,
.ya-chat-widget.ya-chat-widget.ya-chat-widget.ya-chat-widget.ya-chat-widget.ya-chat-widget * {
  transition: none !important;
  animation: none !important;
}

/* Отключаем жучка */
.yamb-butterfly {
  display: none !important;
}

.cluster > * + * {
  margin-top: 5px !important;
}

.chat-list {
  overflow: hidden !important;
}

.yamb-compose-editable__input text {
  caret-color: transparent
}

.ya-chat-widget.ya-chat-widget.ya-chat-widget,
.ya-chat-widget.ya-chat-widget.ya-chat-widget.ya-chat-widget.ya-chat-widget.ya-chat-widget * {
  transition: none !important;
  animation: none !important;
}
