.submissions {
    &__title {
        font: var(--heading-size-s);
        text-transform: uppercase;
    }

    &__list {
        margin-top: var(--space-size-s);
    }

    &__submission-status {
        margin-top: var(--space-size-xxs);

        font: var(--paragraph-size-s);

        color: var(--text-color-secondary);
    }

    &__id {
        width: 8%;
    }

    &__filename {
        width: 15%;
    }

    &__user {
        width: 13%;
    }

    &__verdict {
        width: 9%;
    }

    &__memory {
        width: 10%;
    }

    &__execution-time {
        width: 10%;
    }

    &__compiler {
        width: 10%;
    }
}
