.container {
    display: flex;

    padding-bottom: 10px;
}

.tabs {
    margin-right: 10px;
}

.tab {
    position: relative;

    margin-right: 15px;
}

.icon {
    transform: rotate(45deg) scale(0.7);
}

.close {
    --button-size-s-height: 10px;
    --button-size-s-icon-width: 10px;
    --button-size-s-lineHeight: 10px;

    position: absolute;
    top: 50%;

    margin-left: 5px;

    transform: translate(0, -50%);
}

.close svg {
    transform: scale(0.5) translate(-100%, -100%);
}
