.ProgressBar {
    --bar-height: 8px;
    position: relative;

    width: 100%;

    @media (max-width: 768px) {
        --bar-height: 4px;
    }

    &-Backdrop {
        height: var(--bar-height);

        border-radius: 30px;

        background: #ffffff;


    }

    &-Fill {
        position: absolute;
        top: 0;
        z-index: 2;

        height: var(--bar-height);

        border-radius: 30px;

        background: var(--tests-action-color);

        transition: width 0.15s ease-in-out;
    }
}
