/**
 * Отключает CSS анимации.
 * В лего-popup'ах всем попапам добавляется iframe или div подложка, и если ей указать transition, то вёрстка съезжает.
 */

/* stylelint-disable */
*, *:before, *:after {
    -webkit-animation-duration: 0s !important;
    -moz-animation-duration: 0s !important;
    -ms-animation-duration: 0s !important;
    animation-duration: 0s !important;
    -webkit-transition-duration: 0s !important;
    -moz-transition-duration: 0s !important;
    -ms-transition-duration: 0s !important;
    transition-duration: 0s !important;
    -webkit-transition-delay: 0s !important;
    -moz-transition-delay: 0s !important;
    -ms-transition-delay: 0s !important;
    transition-delay: 0s !important;
}

/* Форсируем анимацию там, где есть подписка на transitionend */
.b-page,
.mini-suggest__item,
.paranja,
.mobile-version__inner,
.main__top,
.main__center,
.offers-preloader__progress,
.thumb__image,
.distr-promo-head,
.entity-search__rating-inner,
.overlay__item,
.review-display,
/* Форсируем анимацию паларойда  */
.supply__polaroid, .supply__polaroid *,
/* Просмотрщик картинок */
.viewer-item2,
/* Для lego/islands */
.alert,
.m-expandable__cropper,
.b-menu,
.suggest2-item_personal_yes,
.m-datepicker__body_position_back,
.rating-dynamic__star, .rating-dynamic__star-pseudo,
.modal__content {
    transition-duration: .1ms !important;
}

/* Форсируем анимацию разворачивания расхлопули */
.feature-cut__title-wrapper,
.feature-cut__content,
.feature-cut__footer,
/* Форсируем анимацию подсветки промо в подвале  */
.serp-footer_shown_yes .serp-footer__promo:after {
    animation-duration: .1ms !important;
}

/* Форсируем задержку анимации в переформулировках */
.Related-Button,
.related__button,
.related__item,
.related__subtitle,
.related__header
{
    animation-delay: .1ms !important;
}

.ProductCard.ProductCard_loader {
    animation: none !important;
}

/* Форсируем анимацию для экспа spas_ajax_skeleton_animation */
.main_slide,
.Progressbar,
.Skeleton {
    animation-duration: .1ms !important;
}

.ConverterSelect .Popup2 {
    transition: none !important;
}
