@mixin columns() {
    .column {
        overflow: hidden;

        padding: space(2) space(2);

        text-align: left;
        vertical-align: top;
        text-overflow: ellipsis;

        color: var(--yatravel-text-primary-color);
    }

    .backend {
        width: 140px;
    }

    .url {
        width: auto;
    }

    .status {
        width: 100px;
    }

    .method {
        width: 100px;
    }

    .source {
        width: 100px;
    }

    .duration {
        width: 120px;
    }

    &_mobile {
        .url {
            width: 300px;
        }
    }
}
