.Button {
    display: flex;
    justify-content: center;
    align-items: center;

    --button-font-family: var(--ys-text);
    font-size: var(--sans-text-font-size);
    line-height: var(--sans-text-line-height);
    color: #fff;

    width: 350px;
    height: 60px;

    cursor: pointer;

    --button-view-default-typo-color-base: #fff;

    --button-view-default-fill-color-base: var(--tests-action-color);
    --button-borderRadius: 80px;

    --button-view-default-typo-color-disabled: #9F9F9F;
    --button-view-default-fill-color-disabled: #D8D8D8;

    --button-view-default-typo-color-hovered: #fff;
    --button-view-default-fill-color-hovered: var(--tests-action-color);

    @media (max-width: 768px) {
        width: 100%;
        height: 48px;
        font-size: var(--serif-small-font-size);
        line-height: var(--serif-small-line-height);

        --button-borderRadius: 70px;
    }
}
