.gemini-marks .slider__mark {
    height: 50px;
    margin-top: -20px;

    border-left: 1px solid red;
}

.gemini-marks .slider__mark_position_last {
    border: 0;
    border-right: 1px solid red;
}

.gemini-marks .slider__mark:before {
    position: absolute;
    top: 100%;

    width: 30px;
    margin: -.3em 0 0 -15px;

    content: '▼';
    text-align: center;

    font-size: 90%;

    color: red;
}
