{% extends "layout.html" %}
{% block main %}
<form action="/check" method="post">
    <table>
        <tr>
            <td>
                <label for="url">Player URL</label>
            </td>
            <td>
                <input id="url" name="url" type="text">
            </td>
            <td>
                <input type="submit" value="Test">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" id="autodetect" name="autodetect" value="da"/>
                <label for="autodetect">Auto-detect player type</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" id="yastatic" name="yastatic" value="da"/>
                <label for="yastatic">Add yastatic</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="checkbox" id="sndbox" name="sndbox" value="da"/>
                <label for="yastatic">Add sandbox</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <select id="browser" name="browser">
                  <option value="auto" selected>Auto</option>
                  <option value="firefox">Firefox</option>
                  <option value="chromium">Chromium</option>
                </select>
                <label for="browser">Browser</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <select id="device" name="device">
                  <option value="desktop">Desktop</option>
                  <option value="iphone">iPhone</option>
                </select>
                <label for="device">User agent</label>
            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <select id="videorec" name="videorec">
                  <option value="0">disable</option>
                  <option value="10">10 sec</option>
                  <option value="60">1 min</option>
                  <option value="300">5 min</option>
                </select>
                <label for="videorec">Video capture</label>
            </td>
            <td></td>
        </tr>

    </table>
</form>
{% endblock %}
