/**
 * 1. Указание размеров для снятия скриншотов в gemini.
 * 2. Для правильного вырезания скриншота в Opera.
 */
.gemini-suggest-foot {
    display: inline-block;

    width: 505px; /*1*/
    width: 100%;
    height: 265px; /*1*/
    padding: 4px;

    outline: 0; /*2*/
}
