.problem-testsets {
    &__title {
        font: var(--heading-size-s);
        text-transform: uppercase;
    }

    &__control + &__control {
        margin-left: var(--space-size-xs);
    }

    &__testsets {
        position: relative;
    }

    &__testsets-list {
        margin: var(--space-size-s) 0 0;
        padding: 0;
    }
}
