##
##
<Collection id="yandsearch">

LanguageDataPath arcadia_tests_data/wizard/language/
PureTrieConfigFile arcadia_tests_data/wizard/language/pure/pure.config
BigramsFile arcadia_tests_data/wizard/query_bigrams/query_bigrams.trie
SerializationProtocolVersion 100 
ReqWizardDir: arcadia_tests_data/wizard
ReqWizardRuntimeDir: arcadia_tests_data/wizard_runtime_data
IndexDir: arcadia_tests_data/PURE
GazetteerFile: arcadia_tests_data/ymusic/wizard/GztBuilder/main.gzt.bin
ReqWizardRules MusicReplace Thesaurus ExtendNumber MusicService
WizardPort 8891

<QueryLanguage>
    album : ZONE
    track : ZONE
    performer : ZONE
    rights : ATTR_LITERAL
    type : ATTR_LITERAL
</QueryLanguage>

</Collection>
