.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding-top: 40px;
}

.button {
    --button-size-m-height: 56px;
    --button-size-m-font: 16px;
    --button-size-m-lineHeight: 56px;
    --button-borderRadius: 8px;
}

.input,
.button {
    width: 300px;
    margin-bottom: 20px;
}

.success {
    --button-view-action-fill-color-base: #52f53a;
}

.failed {
    --button-view-action-fill-color-base: #f5523a;
}

.cancel {
    --button-view-action-fill-color-base: #edece8;
}
