{

"MR": {
    "Server":               "${MR_SERVER}",
    "Prefix":               "${MR_PREFIX}",

    "Paths": {
        "DataCryptaUuidDevInfo":                "//home/videoindex/recommender/test_data/vitrina/extdata/crypta/uuid_dev_info_yt",
        "DataCryptaExactVertices":              "//home/videoindex/recommender/test_data/vitrina/extdata/crypta/exact_vertices_by_key",
        "DataCryptaExactVerticesByCryptaId":    "//home/videoindex/recommender/test_data/vitrina/extdata/crypta/exact_vertices_by_crypta_id",
        "DataCryptaProfiles":                   "//home/videoindex/recommender/test_data/vitrina/extdata/crypta/profiles",
        "DataPuid2Yuid":                        "//home/videoindex/recommender/test_data/vitrina/extdata/crypta/puid2yuid",
        "DataPuid2Uuid":                        "//home/videoindex/recommender/test_data/vitrina/extdata/crypta/puid2uuid",

        "DataOntoFilmIdList":                   "//home/videoindex/recommender/test_data/vitrina/extdata/onto_film_id_list",
        "DataOntoFilms":                        "//home/videoindex/recommender/test_data/vitrina/extdata/onto_films.latest",
        "ModelsFolder":                         "//home/videoindex/recommender/test_data/vitrina/models_dssm/",

        "DataSafeObjPool":                      "//home/videoindex/recommender/test_data/vitrina/extdata/safe_objects_final",
        "DataKidsSafeObjPool":                  "//home/videoindex/recommender/test_data/vitrina/extdata/safe_objects_kids_final",
        "DataTvAppObjPool":                     "//home/videoindex/recommender/test_data/vitrina/extdata/safe_objects_tvapp_final",
        "DataVideoHostingObjPool":              "//home/videoindex/recommender/test_data/vitrina/extdata/safe_objects_vh_final",
        "DataKinopoiskObjPool":                 "//home/videoindex/recommender/test_data/vitrina/extdata/safe_objects_ott_final",

        "DataVitrinaUserFilmViews":             "//home/videoindex/recommender/test_data/vitrina/vitrina_user_film_views",

        "BackupFolder":                         "backup/",

        "CryptaData":               "data/id/crypta_data",
        "Id2Puid":                  "data/id/id2puid",
        "Uid2Id":                   "data/id/uid2id",
        "Id2Uid":                   "data/id/id2uid",

        "UserInfoVitrinaData":      "data/vitrina_user_info",
        "DataFieldsMerged":         "data/fields/merged",
        "DataFields21":             "data/fields/merged21",
        "FilmsRankData":            "data/films_rank_data",
        "AddData":                  "data/add_data",
        "OntoId2Embedding":         "data/ontoid2emb",

        "UserRegionRaw":            "data/user/region_raw",
        "UserCountry":              "data/user/country",
        "UserFilmViews":            "data/user/film_views",
        "UserFilmViewsFresh":       "data/user/film_views_fresh",
        "UserFilmViewsWide":        "data/user/film_views_wide",
        "UserFilmViewesAllWide":    "data/user/film_views_all_wide",
        "ActiveUsers":              "data/user/active",
        "ActiveUsersData":          "data/user/active_data",
        "UserProfiles":             "data/user/user_profiles",

        "UserFilmDeepViews":        "data/user/film_deep_views",
        "UserFilmDeepViewsLast":    "data/user/film_deep_views_last",
        "UserFilmDeepViewsTopN":    "data/user/film_deep_views_top_n",
        "UserViewEmbeddings":       "data/user/view_embeddings",
        "UserViewEmbeddingsAvg":    "data/user/view_embeddings_avg",

        "DefaultFilms":             "data/films/default",
        "SafeFilms":                "data/films/safe",
        "FreshFilmsFreq":           "data/films/fresh_freq",
        "TopFilmsData":             "data/films/top_data",
        "TopFilmsData4Pool":        "data/films/top_data4pool",
        "TopFilmsData4Pool.error":  "data/films/top_data4pool.error",
        "UnknownTopFilms.error":    "data/films/top_films.error",

        "Film2List":                "data/list/film2list",

        "IndexFolder":              "index",
        "IndexMapping":             "index/onto2id",
        "IndexDocData":             "index/doc_data",
        "IndexFilmArchiveData":     "index/film_archive_data",

        "EmbeddingsFolder":         "prod/embeddings/",
        "ProdFilmPool":             "prod/pool/film",
        "ProdUserPool":             "prod/pool/user",
        "RecommendFolder":          "prod/recommend/",
        "VitrinaCandidates":        "prod/vitrina/candidates",
        "UserProfiles4Upload":      "prod/upload/user_profiles",

        "RecordsFolder":            "data/records",

        "DataFieldsFolder":         "data/fields/",

        "PoolFolder":               "pool",

        "PoolFilteredRecords":      "pool/filtered_data",
        "PoolTrain":                "pool/train/raw",
        "PoolTest":                 "pool/test/raw",

        "MxNetRecords":             "learn/mxnet/records",
        "MxNetRecordsProcessed":    "learn/mxnet/records_processed",
        "MxNetRecordsWithFilmData": "learn/mxnet/records_with_film_data",
        "MxNetPool":                "learn/mxnet/pool",

        "MxNetUserPool":            "learn/mxnet/user_pool",
        "MxNetUserEmbeddingsRaw":   "learn/mxnet/user_embeddings_raw",
        "MxNetUserEmbeddings":      "learn/mxnet/user_embeddings",

        "MxNetOntoId2Views":        "learn/mxnet/ontoid2views",
        "MxNetDate2Views":          "learn/mxnet/date2views",

        "Film2List":                "data/list/film2list",
        "ListFilmEmbedding":        "data/list/listfilm_embedding",
        "ListEmbedding":            "data/list/list_embedding",

        "AllFilmOntoId":            "data/film/all_film_onto_id",
        "AllFilmDataPool":          "data/film/all_film_data_pool",
        "StubDataErr":              "data/film/tmp/stub_data.error",
        "StubObjErr":               "data/film/tmp/stub_obj.error",

        "AllFilmEmbeddings4Saas":   "prod/upload/all_film_embeddings"
    }
},

"Data": {
    "GeoDataFile": "/Berkanavt/geodata4.bin",

    "ProcessedSafeObjects": {
        "DataSafeObjPool":          "FILTER_BASIC",
        "DataKidsSafeObjPool":      "FILTER_FAMILY",
        "DataTvAppObjPool":         "FILTER_TV_APP",
        "DataVideoHostingObjPool":  "FILTER_VH",
        "DataKinopoiskObjPool":     "FILTER_OTT"
    },

    "ForceAddedObjects": [
        "FILTER_VH", "FILTER_OTT"
    ]
},

"Sessions": {
    "NamePrefix":           "home/videoindex/recommender/test_data/vitrina/sessions",
    "Types":                "Search,Browse,Metrika,SearchStaff,BrowseStaff",

    "DateBegin":            "20180601",
    "DateEnd":              "20180701"
},

"Preparat": {
    "NamePrefix":           "//home/videoindex/recommender/test_data/vitrina/preparat"
},

"Films": {
    "FreshDateBegin":       "20180601",
    "MinViewThreshold":     90,
    "MinViews":             40,
    "MinSafeAge":           1,
    "MaxTopFilms":          30000,

    "NumObjectsPerSection": 50
},

"User": {
    "DeepView": {
        "DeepViewThreshold":    0.6,
        "TopN":                 5
    }
},

"Index": {
    "BinDir":        "/Berkanavt/binaries/bin",
    "BannedOntoids": "/Berkanavt/test_data/full/config/banned.ontoids",
    "ConfigFile":    "/Berkanavt/test_data/full/config/index.cfg",
    "SnippetConfig": "/Berkanavt/test_data/full/config/snippet.data",
    "OutputDir":     "/Berkanavt/vitrina_index",
    "ShardDir":      "/Berkanavt/vitrina_index/database"
},

"MxPool": {
    "DateTrainBegin":   "20180601",
    "DateTrainEnd":     "20180701",

    "DateTestBegin":    "30000101",
    "DateTestEnd":      "30000101"
},

"Pool": {
    "AllowedLogTypes": "Web,Video",

    "Learn": {
        "Vitrina": {
            "DateTrainBegin":   "20180611",
            "DateTrainEnd":     "20180701",

            "DateTestBegin":    "20180601",
            "DateTestEnd":      "20180610",

            "MergePeriod": 3600
        },

        "NumTrainSamples":  9000,
        "NumTestSamples":   4000,

        "Nirvana": {
            "YTToken":          "some_yt_token",
            "TokenPath":        "some_yt_token_path",
            "NirvanaTokenPath": "some_nirvata_token_path",
            "SandboxToken":     "some_sandbox_token",
            "MrAccount":        "videoindex",
            "Revision":         3572074
        }
    },

    "DataFields": {
        "LogTypes":     "Web,Video",
        "MergePeriod":  86400,

        "Fields": {
            "Query": {
                "Column":   "Text",
                "TextType": "Query"
            },

            "QueryId": {
                "Column":   "TextClusterId",
                "TextType": "Query"
            },

            "Title": {
                "Column":   "Text",
                "TextType": "Title",
                "OnlyDeep": true

            },

            "TitleId": {
                "Column":   "TextClusterId",
                "TextType": "Title",
                "OnlyDeep": true
            },

            "Author": {
                "Column":   "AuthorId",
                "JoinLogs": true
            },

            "OntoHash": {
                "Column":   "OntoHash",
                "JoinLogs": true
            }
        }
    },

    "CryptaData": "Age,Gender,Income",

    "CheckFields": "WebQueries3m,WebTitles3m,VideoTitles3m,VideoQueries3m,WebQueriesRawLast20,VideoQueriesRawLast20",

    "ActiveUsers": {
        "Columns":          "VideoQueryTs,WebQueryTs",
        "MinQueriesCount":  2,
        "LastDays":         30
    },

    "PoolFields": {
        "VideoQueries3m": {
            "Column": "VideoQueryId",
            "FromDays": 1,
            "NumDays":  100
        },

        "VideoQueries1m": {
            "Column":   "VideoQueryId",
            "FromDays": 1,
            "NumDays":  30
        },

        "VideoQueries1w": {
            "Column":   "VideoQueryId",
            "FromDays": 1,
            "NumDays":  7
        },

        "VideoQueriesRawLast20": {
            "Column":       "VideoQuery",
            "FromDays":     0,
            "OnlyFresh":    true,
            "NumDays":      20,
            "Limit":        20
        },

        "WebQueries3m": {
            "Column":   "WebQueryId",
            "FromDays": 1,
            "NumDays":  100
        },

        "WebQueries1m": {
            "Column":   "WebQueryId",
            "FromDays": 1,
            "NumDays":  30
        },

        "WebQueries1w": {
            "Column":   "WebQueryId",
            "FromDays": 1,
            "NumDays":  7
        },

        "WebQueriesRawLast20": {
            "Column":       "WebQuery",
            "FromDays":     0,
            "Limit":        20,
            "NumDays":      20,
            "OnlyFresh":    true
        },

        "VideoTitles3m": {
            "Column": "VideoTitleId",
            "FromDays": 1,
            "NumDays":  100
        },

        "VideoTitles1m": {
            "Column":   "VideoTitleId",
            "FromDays": 1,
            "NumDays":  30
        },

        "VideoTitles1w": {
            "Column":   "VideoTitleId",
            "FromDays": 1,
            "NumDays":  7
        },

        "VideoTitlesRawLast20": {
            "Column":       "VideoTitle",
            "FromDays":     0,
            "Limit":        20,
            "NumDays":      20,
            "OnlyFresh":    true
        },

        "WebTitles3m": {
            "Column": "WebTitleId",
            "FromDays": 1,
            "NumDays":  100
        },

        "WebTitles1m": {
            "Column":   "WebTitleId",
            "FromDays": 1,
            "NumDays":  30
        },

        "WebTitles1w": {
            "Column":   "WebTitleId",
            "FromDays": 1,
            "NumDays":  7
        },

        "WebTitlesRawLast20": {
            "Column":       "WebTitle",
            "FromDays":     0,
            "Limit":        20,
            "NumDays":      20,
            "OnlyFresh":    true
        },

        "OntoIds1m": {
            "Column": "OntoHash",
            "FromDays": 1,
            "NumDays": 30
        },

        "Authors1m": {
            "Column": "Author",
            "FromDays": 1,
            "NumDays": 30
        }
    }
},

"Models": {
    "Vitrina": {
        "Field2Col": {
            "age":          "Age",
            "gender":       "Gender",
            "income":       "Income",
            "region":       "Region",
            "year":         "Year",

            "ontoid":       "OntoHash",
            "ontoids1m":    "OntoIds1m",

            "authors1m":    "Authors1m",

            "participants": "Participants",
            "searchreq":    "SearchRequest",
            "descr":        "Descr",
            "flags":        "Flags",
            "genres":       "Genres",
            "rating":       "Rating",
            "title":        "Title",

            "vq3m": "VideoQueries3m",
            "vq1m": "VideoQueries1m",
            "vq1w": "VideoQueries1w",
            "vql20": "VideoQueriesRawLast20",

            "vt3m": "VideoTitles3m",
            "vt1m": "VideoTitles1m",
            "vt1w": "VideoTitles1w",
            "vtl20": "VideoTitlesRawLast20",

            "wq3m": "WebQueries3m",
            "wq1m": "WebQueries1m",
            "wq1w": "WebQueries1w",
            "wql20": "WebQueriesRawLast20",

            "wt3m": "WebTitles3m",
            "wt1m": "WebTitles1m",
            "wt1w": "WebTitles1w",
            "wtl20": "WebTitlesRawLast20"
        },

        "Models": {
            "Vitrina50": {
                "Active":   true,
                "Model": "Vitrina50",
                "Scaler": 27.4157,
                "Bias": -509.835,
                "Header": {
                    "Query":    "age, gender, income, authors1m, ontoids1m, vq3m, vq1m, vq1w, vql20, vt3m, vt1m, vt1w, vtl20, wq3m, wq1m, wq1w, wql20, wt3m, wt1m, wt1w, wtl20",
                    "Doc":      "ontoid, participants, searchreq, descr, flags, genres, rating, title, year"
                }
          }
        }
    }
}

}

