.tooltip_testcase_content {
    /*
        выключаем анимацию совсем, потому как js неправильно реагирует на значения 0.1ms
        tests.blocks/b-page/b-page.css
     */
    transition-delay: 0ms !important;
    transition-duration: 0ms !important;
    animation-duration: 0ms !important;
}
