[zookeeper]
connection=localhost:{port}
master_dir={zk_prefix}/mimaster
current_master_file={zk_prefix}/mimaster/current
publish_lock_dir={zk_prefix}/mimaster/publish_lock_dir
delta_publish_lock_dir={zk_prefix}/mimaster/delta_publish_lock_dir
global_lock_dir={zk_prefix}/milock
