watcher-state: STATE_DIR
network-master-addr: logbroker.yandex.net
lock: STATE_DIR/run.lock
watcher:
    drop_on_error: 1
logger:
    mode:
    - file
    file: LOG_PATH
    level: 6
    timeformat: '%d.%m.%Y-%H:%M:%S'
    remote: 1
network:
    proto: pq
    tvm-client-id: 2001534
    tvm-server-id: 2001059
    tvm-secret-file: WORK_DIR/tvm-secret/tvm_key
files:
-   name: /logs/current-direct-report-search-reqans-event-log-PORT
    ident: hamster
    log_type: direct-report-search-reqans-event-log
    sid:
        content: null
        host: null
        name: null
        md5: null
-   name: /logs/current-sitesearch-report-search-reqans-event-log-PORT
    ident: hamster
    log_type: sitesearch-report-search-reqans-event-log
    sid:
        content: null
        host: null
        name: null
        md5: null
