@import './styles/columnsMixin';

.requestsTable {
    @include columns();

    width: 100%;
    margin-top: space(3);

    table-layout: fixed;
    border-spacing: 0;

    font-size: $FONT_SIZE_M;
    line-height: $LINE-HEIGHT_SIZE_M;

    .header {
        background-color: var(--yatravel-bg-fill-secondary-color);
    }
}

.settings {
    flex: 1;
}

.root {
    overflow: auto;

    max-height: 100%;
}
