.gemini {
    height: 1200px;
}

.gemini-block {
    display: inline-block;

    width: 200px;
    height: 250px;
    padding: 10px;

    vertical-align: top;
}

.gemini-full-ticker {
    padding-left: 30px;
}

.gemini-full,
.gemini-usericon {
    height: 260px;
}

.gemini-full,
.gemini-full-skip {
    width: 270px;
}

.gemini-username .user,
.gemini-username-with-at .user {
    padding-left: 90px;
}

.gemini-usericon .user,
.gemini-full .user,
.gemini-full-skip .user {
    padding-left: 135px;
}
