{
  "http_interactions": [
    {
      "recorded_at": "2019-07-12T14:54:52",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": ""
        },
        "headers": {
        },
        "method": "GET",
        "uri": "http://webservicefarm.interfax.ru//IfaxWebService/?wsdl"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\" xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://interfax.ru/ifax\" xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\" xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\" targetNamespace=\"http://interfax.ru/ifax\" xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema elementFormDefault=\"qualified\" targetNamespace=\"http://interfax.ru/ifax\">\r\n      <s:element name=\"Authmethod\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Login\" type=\"s:string\" />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"Password\" type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"AuthmethodResponse\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"AuthmethodResult\" type=\"s:string\" />\r\n          </s:sequenc[...]
    {
      "recorded_at": "2019-07-12T14:54:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap-env:Body><ns0:Authmethod xmlns:ns0=\"http://interfax.ru/ifax\"><ns0:Login><SPARK_API_LOGIN></ns0:Login><ns0:Password><SPARK_API_PASSWORD></ns0:Password></ns0:Authmethod></soap-env:Body></soap-env:Envelope>"
        },
        "headers": {
          "Content-Type": [
            "text/xml; charset=utf-8"
          ],
          "SOAPAction": [
            "\"http://interfax.ru/ifax/Authmethod\""
          ]
        },
        "method": "POST",
        "uri": "http://webservicefarm.interfax.ru/IfaxWebService/iFaxWebService.asmx"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><AuthmethodResponse xmlns=\"http://interfax.ru/ifax\"><AuthmethodResult>True</AuthmethodResult></AuthmethodResponse></soap:Body></soap:Envelope>"
        },
        "headers": {
          "Content-Type": [
            "text/xml; charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "http://webservicefarm.interfax.ru/IfaxWebService/iFaxWebService.asmx"
      }
    },
    {
      "recorded_at": "2019-07-12T14:54:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap-env:Body><ns0:GetCompanyListByName xmlns:ns0=\"http://interfax.ru/ifax\"><ns0:companyName>\u042f\u041d\u0414\u0415\u041a\u0421.\u0410\u0412\u0422\u041e\u0411\u0423\u0421\u042b</ns0:companyName><ns0:regionCode>45</ns0:regionCode><ns0:exactSearch>1</ns0:exactSearch><ns0:egrpoIncluded>2</ns0:egrpoIncluded></ns0:GetCompanyListByName></soap-env:Body></soap-env:Envelope>"
        },
        "headers": {
          "Content-Type": [
            "text/xml; charset=utf-8"
          ],
          "SOAPAction": [
            "\"http://interfax.ru/ifax/GetCompanyListByName\""
          ]
        },
        "method": "POST",
        "uri": "http://webservicefarm.interfax.ru/IfaxWebService/iFaxWebService.asmx"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetCompanyListByNameResponse xmlns=\"http://interfax.ru/ifax\"><GetCompanyListByNameResult>True</GetCompanyListByNameResult><xmlData>&lt;?xml version=\"1.0\" encoding=\"UTF-8\"?&gt;&lt;Response&gt;&lt;Data&gt;&lt;Company&gt;&lt;SparkID&gt;11447235&lt;/SparkID&gt;&lt;INN&gt;7704402904&lt;/INN&gt;&lt;OGRN&gt;1177746347591&lt;/OGRN&gt;&lt;OKPO&gt;14037828&lt;/OKPO&gt;&lt;FullName&gt;\u041e\u0411\u0429\u0415\u0421\u0422\u0412\u041e \u0421 \u041e\u0413\u0420\u0410\u041d\u0418\u0427\u0415\u041d\u041d\u041e\u0419 \u041e\u0422\u0412\u0415\u0422\u0421\u0422\u0412\u0415\u041d\u041d\u041e\u0421\u0422\u042c\u042e \"\u042f\u041d\u0414\u04[...]
    {
      "recorded_at": "2019-07-12T14:54:53",
      "request": {
        "body": {
          "encoding": "utf-8",
          "string": "<?xml version='1.0' encoding='utf-8'?>\n<soap-env:Envelope xmlns:soap-env=\"http://schemas.xmlsoap.org/soap/envelope/\"><soap-env:Body><ns0:End xmlns:ns0=\"http://interfax.ru/ifax\"/></soap-env:Body></soap-env:Envelope>"
        },
        "headers": {
          "Content-Type": [
            "text/xml; charset=utf-8"
          ],
          "SOAPAction": [
            "\"http://interfax.ru/ifax/End\""
          ]
        },
        "method": "POST",
        "uri": "http://webservicefarm.interfax.ru/IfaxWebService/iFaxWebService.asmx"
      },
      "response": {
        "body": {
          "encoding": "utf-8",
          "string": "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><EndResponse xmlns=\"http://interfax.ru/ifax\"><EndResult>true</EndResult></EndResponse></soap:Body></soap:Envelope>"
        },
        "headers": {
          "Content-Type": [
            "text/xml; charset=utf-8"
          ]
        },
        "status": {
          "code": 200,
          "message": "OK"
        },
        "url": "http://webservicefarm.interfax.ru/IfaxWebService/iFaxWebService.asmx"
      }
    }
  ],
  "recorded_with": "betamax/0.8.1"
}