.problem-testset {
    &__update-tests {
        margin-top: var(--space-size-l);
    }

    &__table {
        margin-top: var(--space-size-s);
    }

    &__fieldset {
        .fieldset__legend {
            padding: 0;
        }
    }

    &__validity {
        max-width: 7%;
        padding: 0;
    }

    &__validity-icon_valid {
        color: var(--control-color-success);
    }

    &__sequence-number {
        width: 7%;
    }
}
