<configuration debug="true">
    <appender name="DEFAULT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] %-5p [%X{requestId}][%t] %m%n</pattern>
        </encoder>
    </appender>

    <logger name="access.log" level="INFO">
        <appender-ref ref="DEFAULT"/>
    </logger>
    <logger name="org" level="INFO" additivity="false">
        <appender-ref ref="DEFAULT"/>
    </logger>
    <logger name="org.springframework.test.web.servlet.result" level="DEBUG" additivity="false">
        <appender-ref ref="DEFAULT"/>
    </logger>
    <logger name="com" level="WARN" additivity="false">
        <appender-ref ref="DEFAULT"/>
    </logger>
    <logger name="ru.yandex" level="DEBUG" additivity="false">
        <appender-ref ref="DEFAULT"/>
    </logger>
    <logger name="requestTrace" level="TRACE" additivity="false">
        <appender-ref ref="DEFAULT"/>
    </logger>

</configuration>
