<?xml version="1.0" encoding="utf-8"?>
<multipart-post couple_id="221">
    <post obj="namespace.file1" id="1cfb5927...f3e2bea2" groups="3" size="100" key="${stid}">
        <complete addr="141.8.145.55:1032" path="/src/storage/8/data-0.0" group="223" status="0"/>
        <complete addr="141.8.145.116:1032" path="/srv/storage/8/data-0.0" group="221" status="0"/>
        <complete addr="141.8.145.119:1029" path="/srv/storage/5/data-0.0" group="225" status="0"/>
        <written>3</written>
    </post>
</multipart-post>
