.gemini-wrapper {
    display: inline-block;

    width: 350px;

    vertical-align: top;
}

/* Замораживаем анимацию для gemini */
.gemini-wrapper .button:before {
    animation-play-state: paused !important;
}
