{
  "extends": "../lint/eslintrc.js",
  "env": {
    "jest": true
  },
  "rules": {
    "no-var": 2,
    "no-use-before-define": 0,
    "mocha/no-global-tests": 0,
    "mocha/no-exclusive-tests": 0,
    "prefer-arrow-callback": 2,
    "generator-star-spacing": ["error", { "before": false, "after": true }],

    "indent": [2, 4, { "SwitchCase": 1 }],
    "quote-props": [2, "as-needed"],

    "brace-style": [2, "1tbs", {
      "allowSingleLine": true
    }],
    "object-curly-spacing": [2, "always", {
      "objectsInObjects": false,
      "arraysInObjects": true
    }],

    "valid-jsdoc": [2, {
      "prefer": {
        "return": "returns"
      },
      "preferType": {
        "number": "Number",
        "string": "String",
        "object": "Object",
        "boolean": "Boolean"
      },
      "requireParamDescription": false,
      "requireReturnDescription": false
    }]
  }
}
