{
    "extends": "../.eslintrc",
    "env": {
        "mocha": true
    },
    "rules": {
        "global-require": 0,
        "max-statements": 0,
        "init-declarations": 0,
        "max-nested-callbacks": [
            "error",
            5
        ],
        "max-statements-per-line": [
            "error",
            {
                "max": 2
            }
        ],
        "no-mixed-operators": 0,
        "no-plusplus": 0,
        "mocha/no-skipped-tests": 0
    }
}
