.FlexStory {
    box-sizing: border-box;
    max-width: 100%; // можно тестировать resize окна

    border: 1px dashed var(--color-g-text-primary);

    &-Item,
    &-More {
        overflow: hidden;

        padding: 6px;

        font-size: 13px;
        line-height: 17px;
        white-space: nowrap;
        text-overflow: ellipsis;

        color: var(--color-g-text-primary);
        border: 1px solid var(--color-g-text-tertiary);
        border-radius: 6px;
    }
}
