.submission-tests {
    &__validity-icon {
        margin-right: var(--space-size-xxs);

        &_valid {
            color: var(--control-color-success);
        }
    }

    &__tabs {
        margin-bottom: var(--space-size-s);
    }

    &__list {
        max-width: 500px;
        margin-bottom: var(--space-size-l);
    }

    &__details {
        font-size: 14px;
    }

    &__tab-count {
        margin-left: var(--space-size-xxxs);

        font-weight: bold;
    }

    &__common {
        display: grid;
        grid-template-columns: min-content auto;
        gap: var(--space-size-s) var(--space-size-l);

        margin-bottom: var(--space-size-l);
    }

    &__term {
        color: var(--text-color-secondary);
    }

    &__value {
        margin: 0;
    }

    &__item {
        & + & {
            margin-top: var(--space-size-m);
        }
    }

    &__title {
        margin-bottom: var(--space-size-xs);
    }

    &__control {
        margin-left: 4px;
    }

    &__raw {
        overflow-y: auto;

        margin: 0;
        padding: var(--space-m);

        font-family: var(--monospace);
        line-height: 1.4;

        color: var(--control-color);
        background: var(--bg-color-permission);
    }

    &__hidden-chars {
        height: auto;
        max-height: 650px;
        padding: var(--space-size-s);

        line-height: 1.4;

        border: none;
    }

    &__hex {
        overflow-y: auto;

        width: auto;
    }

    &__log {
        margin-top: var(--space-size-m);

        .accordion__toggle-wrapper {
            margin-bottom: var(--space-s);
            padding: 0;

            border: none;
        }

        .accordion__content,
        .accordion__toggle {
            padding: 0;
        }
    }

    &__toggle-all-button {
        margin-bottom: var(--space-s);
    }

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 200px;
    }
}
