.TestDescription {
    margin: 16px auto 0;

    &-CollapsibleText {
        max-width: 792px;
        text-align: left;

        font-family: Yandex serif Display;
        font-weight: 400;
        font-size: var(--serif-text-font-size);
        line-height: var(--serif-text-line-height);
    }

    & .CollapsibleText__ContentWrapper {
        padding: 12px 32px 32px;

        border-radius: 30px;

        background: #fff;
    }

    & .CollapsibleText__ContentWrapper_collapsed {
        background: transparent;
        padding: 12px 0 0;
    }

    & .CollapsibleText__Content_collapsed {
        display: none;
    }

    & .CollapsibleText__Title {
        font-weight: 400;
        margin: 0 auto;

        font-family: YS Text;
        font-size: var(--sans-hint-font-size);
        line-height: var(--sans-hint-line-height);
    }

    & .CollapsibleText__Content {
        margin-top: 24px;
    }

    &-DescriptionMobile {
        font-size: var(--serif-xsmall-font-size);
        line-height: var(--serif-xsmall-line-height);
        font-family: Yandex serif Display;
    }

    &-MobileContent {
        padding: 12px 0 0;
    }
}
