.solutions {
    &__section + &__section {
        margin-top: var(--space-size-l);
    }

    &__loader {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }
}
