/* stylelint-disable */
@import '../../const.scss';

.TestingDateSelectionSection {
    &__text {
        font-size: 13px;
        line-height: 15px;

        &_theme_default {
            color: #000;
        }

        &_theme_error {
            color: $color-error;
        }

        &_theme_success {
            color: #23ba59;
        }
    }
}
