Http {
    Host: "*"
    Port: {{http_port}}
    Threads: 8
}

GrpcServer {
    BindAddress: "[::1]:{{grpc_port}}"
    ReplyThreads: 8
}

Other {
    UseOfferBusDataFilters: true
}

GeoCounterRecordsTable {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/geocounter-table"
}

PricesTable {
   YtProxy: "{{yt_server}}"
   YtTablePath: "//home/travel/testing/prices-table"
}

HotelTraitsTable {
   YtProxy: "{{yt_server}}"
   YtTablePath: "//home/travel/testing/hotel-traits-table"
}

OfferBus {
    YtTokenPath: ""
    ClusterName: "{{yt_server}}"
    TablePath: "//home/travel/testing/offer_bus"
}

OriginalIdToPermalinkMapper {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/original_id_to_permalink_mapper"
}

YtConfigPartners {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/partners"
}

RegionsTable {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/regions-table"
}

ReqAnsLogger {
    UnifiedAgent {
        Enabled: false
    }
}

TvmService {
    Enabled: false
}

BigbClient {
    Host: "localhost"
}
