Http {
    Host: "localhost"
    Port: {{main_port}}
    Threads: 8
}

Other {
    MainLogFile: "console"
    MonitoringPort: {{mon_port}}
    AddInfoKeyPath: "{{add_info_key_file}}"

    DefaultPortalHost: "travel-test.yandex.ru"
    MaxCacheAgeSec: 604800 # 1 week
}

PriceCheckReqBus {
    TablePath: "{{yt_table}}"
    ClusterName: "{{yt_server}}"
    BatchPeriodMSec: 100
    MessageCodec: MC_NONE
}

YtConfigPartners {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/partners"
}

BoYRules {
    Rule: { Surface: S_UNKNOWN;           Destination: RD_PortalBookPage  }
    Rule: { Surface: S_SERP;              Destination: RD_PortalHotelPage }
    Rule: { Surface: S_MAPS;              Destination: RD_PortalBookPage  }
    Rule: { Surface: S_PORTAL_SEARCH;     Destination: RD_PortalHotelPage }
    Rule: { Surface: S_PORTAL_HOTEL_META; Destination: RD_PortalBookPage  }
    Rule: { Surface: S_PORTAL_HOTEL_BOY;  Destination: RD_PortalBookPage  }
    Rule: { Surface: S_PORTAL_HOTEL;      Destination: RD_PortalBookPage  }
}

ReqAnsHotelsLogger {
    Json {
        File: "{{reqans_logfile}}"
        FlushDelaySec: 0
    }
    UnifiedAgent {
        Enabled: false
    }
}

ReqAnsTrainsLogger {
    Json {
        Enabled: false
    }
    UnifiedAgent {
        Enabled: false
    }
}

ReqAnsBusesLogger {
    Json {
        Enabled: false
    }
    UnifiedAgent {
        Enabled: false
    }
}

ReqAnsSuburbanLogger {
    Json {
        Enabled: false
    }
    UnifiedAgent {
        Enabled: false
    }
}

SearchFlowOfferDataStorage {
    TablePath: "{{yt_offer_data_table}}"
    ClusterName: "{{yt_server}}"
}
