# environment specific

Http {
    Host: "*"
    Port: {{http_port}}
    Threads: 8
}

OfferCacheGrpcServer {
    BindAddress: "[::1]:{{grpc_port}}"
    ReplyThreads: 8
}

Cache {
    CacheUsageLogger {
        UnifiedAgent {
            Enabled: false
        }
    }
}

ReqCache {
    # tests are long
    MaxAgeRequestStartedSec: 600
    MaxAgeRequestStartedBackgroundSec: 600
}

OfferBusReader {
    YtTokenPath: ""
    ClusterName: "{{yt_server}}"
    TablePath: "{{yt_table}}"
}

Searcher {
    YpAutoResolver {
        FixedAddressList {
            Port: {{searcher_port}}
            Fqdn: "[::1]"
        }
    }
    PingTimeoutSec: 10
    PingPeriodSec: 12000
}

PromoService {
    Mir {
        YtConfigWhitelist {
            YtProxy: "{{yt_server}}"
            YtTablePath: "//home/travel/testing/general/mir/latest/hotels"
        }
    }

    BlackFriday2021 {
        Enabled: false

        YtConfigHotels {
        YtProxy: "{{yt_server}}"
            YtTablePath: "//home/travel/testing/config/black_friday_2021_hotel_list"
        }
    }

    Plus {
        OrdinalDiscount: {
            PointsbackPercent: 10
            MaxPointsback: 3000
        }
        PlusEvents: {
            EventId: "test-kv-exp"
            Discount: {
                PointsbackPercent: 13
                MaxPointsback: 3000
            }
            OrderTimeEndUtc: "2050-01-02"
            CheckInStart: "2022-05-01"
            CheckInEnd: "2022-05-10"
            RequiredExpName: "MARKETING_elasticity"
            RequiredExpValue: "13"
            EventType: YPET_SPECIAL
        }
        PlusEvents: {
            EventId: "test-bl-15"
            Discount: {
                PointsbackPercent: 15
                MaxPointsback: 3000
            }
            CheckOutStart: "2022-03-02"
            CheckOutEnd: "2022-03-31"
            YtConfigUserBlacklist {
                YtProxy: "{{yt_server}}"
                YtTablePath: "//home/travel/testing/general/plus_user_lists/latest/blacklist"
            }
            LoginRequired: true
        }
        PlusEvents: {
            EventId: "test-wl-20"
            Discount: {
                PointsbackPercent: 20
                MaxPointsback: 3000
            }
            YtConfigUserWhitelist {
                YtProxy: "{{yt_server}}"
                YtTablePath: "//home/travel/testing/general/plus_user_lists/latest/whitelist"
            }
        }
        PlusEvents: {
            EventId: "test-wbl-25"
            Discount: {
                PointsbackPercent: 25
                MaxPointsback: 3000
            }
            YtConfigUserWhitelist {
                YtProxy: "{{yt_server}}"
                YtTablePath: "//home/travel/testing/general/plus_user_lists/latest/whitelist"
            }
            YtConfigUserBlacklist {
                YtProxy: "{{yt_server}}"
                YtTablePath: "//home/travel/testing/general/plus_user_lists/latest/blacklist"
            }
        }
        PlusEvents: {
            EventId: "test-first-order-30"
            Discount: {
                PointsbackPercent: 30
                MaxPointsback: 3000
            }
            CheckOutStart: "2022-04-15"
            CheckOutEnd: "2022-04-18"
            YtConfigUserBlacklist {
                YtProxy: "{{yt_server}}"
                YtTablePath: "//home/travel/testing/general/plus_user_lists/latest/blacklist"
            }
            CheckFirstOrder: true
            FirstOrderTypes: OT_HOTEL
        }
        PlusEvents: {
            EventId: "test-hotels-list-20"
            Discount: {
                PointsbackPercent: 20
                MaxPointsback: 20000
            }
            CheckHotelWhiteList: true
            HotelWhiteList { PartnerId: PI_TRAVELLINE; OriginalId: "hotels_list_test" }
        }
        PlusEvents: {
            EventId: "cultural-dreams-30"
            EventType: YPET_CULTURAL_DREAMS
            Discount: {
                PointsbackPercent: 30
                MaxPointsback: 3000
            }
            YtConfigHotelWhitelist {
                YtProxy: "{{yt_server}}"
                YtTablePath: "//home/travel/testing/general/promo_events/cultural_dreams/latest/whitelist"
            }
            Priority: 1
        }
        YtConfigUserOrderCountersByType {
            Enabled: true
            YtProxy: "{{yt_server}}"
            YtTablePath: "//home/travel/testing/general/plus_user_lists/latest/user_order_counters_by_type"
        }
        YtConfigAdditionalFee {
            Enabled: true
            YtProxy: "{{yt_server}}"
            YtTablePath: "//home/travel/testing/general/plus_additional_fee/latest/hotels"
        }
    }

    YandexEda2022 {
        Enabled: true
        EventStartUtc: "2018-01-01"
        EventEndUtc: "2018-01-05"
        PromoCodeNominal: 100
        YtConfigHotelWhitelist {
            Enabled: true
            YtProxy: "{{yt_server}}"
            YtTablePath: "//home/travel/testing/general/yandex_eda_2022_hotel_lists/latest/whitelist"
        }
        YtConfigHotelBlacklist {
            Enabled: true
            YtProxy: "{{yt_server}}"
            YtTablePath: "//home/travel/testing/general/yandex_eda_2022_hotel_lists/latest/blacklist"
        }
    }

    WhiteLabel {
        PointsTypeLinguistic {
            Linguistics {
                PointsType: WLP_S7
                SingleNominative: "миля"
                SingleGenitive: "мили"
                PluralGenitive: "миль"
            }
        }
        S7Promo {
            Enabled: true
            DefaultPointsConfig: {
                PointsPerAmountConfig : {
                    Points: 2
                    Amount: 20
                }
            }
            DefaultPointsType: WLP_S7
            Events {
                EventId: "3-per-20"
                PointsType: WLP_S7
                PointsConfig {
                    PointsPerAmountConfig : {
                        Points: 3
                        Amount: 20
                    }
                }
                OrderTimeStartUtc: "2022-01-01T23:00:00"
                OrderTimeEndUtc: "2022-01-02T23:00:00"
            }
        }
    }
}

PromoServiceGrpcServer {
    BindAddress: "[::]:{{promo_service_grpc_port}}"
    ReplyThreads: 8
}


Other {
    MonitoringPort: {{mon_port}}
    DefaultRedirHost: "redir-host"
    RedirAddInfoKeyPath: "{{redir_add_info_key_file}}"
    FakeNowSec: {{fake_now}}
    NotFullOfferCount: 4
}

OutdatedOfferBusReader {
    YtTokenPath: ""
    ClusterName: "{{yt_server}}"
    TablePath: "{{yt_table_outdated_offer_bus}}"
}

OutdatedOffersTransmitter {
    Enabled: false
    YpAutoResolver {
        FixedAddressList {
            Fqdn: "localhost"
            Port: 11001
        }
    }
}

PermalinkToOriginalIdsMapper {
    Enabled: false
}

HotelsWhitelist {
    Partner { Id: PI_EXPEDIA; IsWhitelistEnabled: true }
    Partner { Id: PI_DOLPHIN; IsWhitelistEnabled: true }
    Partner { Id: PI_TRAVELLINE; IsWhitelistEnabled: true }
    Whitelist: {
        Enabled: true
        YtProxy: "{{yt_server}}"
        YtTablePath: "//home/travel/testing/hotels_whitelist"
    }
}

HotelsBlacklist {
    Enabled: true
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/blacklist_hotels_transposed"
}

HotelsGreylist {
    Enabled: false
}

PermalinkToClusterMapper {
    Enabled: false
}

YtConfigOperators {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/operators"
}

YtConfigPartners {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/partners"
}

YtConfigOfferCacheClients {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/offercache_clients"
}

YtConfigTravellineRatePlans {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/travelline_rate_plan_info"
}

YtConfigDolphinTour {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/dolphin_tours"
}

YtConfigDolphinPansion {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/dolphin_pansions"
}

YtConfigDolphinRoom {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/dolphin_rooms"
}

YtConfigDolphinRoomCat {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/dolphin_room_cats"
}

YtConfigBNovoRatePlans {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/bnovo_rate_plan_info"
}

YtConfigSearchKeyRestrictions {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/searchkey_restrictions"
}

YtConfigHotelWizardBan {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/config/hotels_wizard_ban"
}

YtConfigUserOrderCounters {
    YtProxy: "{{yt_server}}"
    YtTablePath: "//home/travel/testing/promo/user_order_counters"
}

ReqAnsLogger {
    UnifiedAgent {
        Enabled: false
    }
}

GrpcReqAnsLogger{
    UnifiedAgent {
        Enabled: false
    }
}

RoomService {
    CatRoomDataSources {
        Id: "1"
        Data {
            YtProxy: "{{yt_server}}"
            YtTablePath: "//home/travel/testing/general/permarooms/permarooms-json"
        }
    }
}
