<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property resource="wrap-secrets.properties"/>
    <include resource="appender/file.xml"/>
    <include resource="appender/request-trace.xml"/>

    <logger name="ru.yandex" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="requestTrace" level="TRACE" additivity="false">
        <appender-ref ref="REQUEST_TRACE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>

</configuration>
