<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="appender/file.xml"/>
    <include resource="appender/json-file.xml"/>
    <include resource="appender/request-trace.xml"/>
    <include resource="appender/data-checkpoints.xml"/>
    <include resource="appender/data-track-events.xml"/>
    <include resource="appender/tracking-failure-monitoring.xml"/>
    <include resource="appender/pushing-failure-monitoring.xml"/>
    <include resource="appender/checkpoints-delay-monitoring.xml"/>
    <include resource="appender/checkpoints-tskv-monitoring.xml"/>
    <include resource="appender/checkpoints-acquiring-monitoring.xml"/>
    <include resource="appender/ds-requests-monitoring.xml"/>
    <include resource="appender/batch-suppliers-tskv-monitoring.xml"/>
    <include resource="appender/job-tskv-monitoring.xml"/>
    <include resource="appender/batch-consumer-delay-tskv.xml"/>
    <include resource="appender/sentry.xml"/>
    <include resource="appender/lgw-status-and-history-requests-monitoring.xml"/>
    <include resource="appender/push-order-status-monitoring.xml"/>
    <include resource="appender/push-tracks-history-request-tskv.xml"/>
    <include resource="appender/pull-sqs-checkpoint-events-tskv.xml"/>
    <include resource="appender/les-events-processing-info-tskv.xml"/>
    <include resource="appender/les-receive-exception.xml"/>

    <logger name="ru.yandex" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <logger name="requestTrace" level="TRACE" additivity="false">
        <appender-ref ref="REQUEST_TRACE"/>
    </logger>

    <logger name="TRACK_EVENTS_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="TRACK_EVENTS_APPENDER"/>
    </logger>

    <logger name="CHECKPOINTS_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="CHECKPOINTS_APPENDER"/>
    </logger>

    <logger name="TRACKING_FAILURE_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="TRACKING_FAILURE_APPENDER"/>
    </logger>

    <logger name="PUSHING_FAILURE_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="PUSHING_FAILURE_APPENDER"/>
    </logger>

    <logger name="CHECKPOINTS_DELAY_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="CHECKPOINTS_DELAY_APPENDER"/>
    </logger>

    <logger name="CHECKPOINTS_TSKV_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="CHECKPOINTS_TSKV_APPENDER"/>
    </logger>

    <logger name="CHECKPOINTS_ACQUIRING_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="CHECKPOINTS_ACQUIRING_APPENDER"/>
    </logger>

    <logger name="DS_REQUESTS_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="DS_REQUESTS_APPENDER"/>
    </logger>

    <logger name="BATCH_SUPPLIER_TSKV_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="BATCH_SUPPLIER_TSKV_APPENDER"/>
    </logger>

    <logger name="JOB_TSKV_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="JOB_TSKV_APPENDER"/>
    </logger>

    <logger name="BATCH_CONSUMER_DELAY_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="BATCH_CONSUMER_DELAY_APPENDER"/>
    </logger>

    <logger name="LGW_STATUS_AND_HISTORY_REQUESTS_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="LGW_STATUS_AND_HISTORY_REQUESTS_APPENDER"/>
    </logger>

    <logger name="PUSH_ORDER_STATUS_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="PUSH_ORDER_STATUS_APPENDER"/>
    </logger>

    <logger name="PUSH_TRACKS_HISTORY_REQUEST_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="PUSH_TRACKS_HISTORY_REQUEST_APPENDER"/>
    </logger>

    <logger name="PULL_SQS_CHECKPOINT_EVENTS_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="PULL_SQS_CHECKPOINT_EVENTS_APPENDER"/>
    </logger>

    <logger name="LES_EVENTS_PROCESSING_INFO_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="LES_EVENTS_PROCESSING_INFO_APPENDER"/>
    </logger>

    <logger name="LES_RECEIVE_EXCEPTION_LOGGER" level="INFO" additivity="false">
        <appender-ref ref="LES_RECEIVE_EXCEPTION_APPENDER"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="JSON_FILE"/>
        <appender-ref ref="SENTRY"/>
    </root>

</configuration>
