<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="appender/file.xml"/>
    <include resource="appender/request-trace.xml"/>
    <include resource="appender/tskv.xml"/>
    <include resource="appender/backlog.xml"/>
    <include resource="appender/sentry.xml"/>

    <logger name="ru.yandex" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="ru.yandex.market.logistic.gateway.service.converter.fulfillment.OrderConverter" level="TRACE" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>


    <logger name="requestTrace" level="TRACE" additivity="false">
        <appender-ref ref="REQUEST_TRACE"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="sqsTskvLogger" level="DEBUG" additivity="false">
        <appender-ref ref="SQS_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="technicalTaskErrorTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="TECHNICAL_TASK_ERROR_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="taskStatusTskvLogger" level="DEBUG" additivity="false">
        <appender-ref ref="TASK_STATUS_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="taskQueueDepthTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="TASK_QUEUE_DEPTH_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="serviceRequestTimingTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="SERVICE_REQUEST_TIMING_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="serviceRequestTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="SERVICE_REQUEST_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="serviceRequestErrorTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="SERVICE_REQUEST_ERROR_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="externalRequestTimingTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="EXTERNAL_REQUEST_TIMING_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="externalRequestErrorTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="EXTERNAL_REQUEST_ERROR_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="processingTimingTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="PROCESSING_TIMING_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="jettyPoolLogger" level="DEBUG" additivity="false">
        <appender-ref ref="JETTY_POOL_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="partnerRequestTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="PARTNER_REQUEST_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="propertiesSynchronizationTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="PROPERTIES_SYNCHRONIZATION_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="tvmErrorLogger" level="INFO" additivity="false">
        <appender-ref ref="TVM_ERROR_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="fulfillmentWorkflowMethodCallTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="FULFILLMENT_WORKFLOW_METHOD_CALL_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="mdbMethodCallTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="MDB_METHOD_CALL_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="sqsQueueActionProcessingTimingTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="SQS_QUEUE_ACTION_PROCESSING_TIMING_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="amazonS3ClientMethodCallTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="AMAZON_S3_CLIENT_METHOD_CALL_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="incomingRequestTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="INCOMING_REQUESTS_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="partnerResponseErrorTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="PARTNER_RESPONSE_ERROR_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="lostTasksTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="LOST_TASKS_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="backLogger" level="INFO" additivity="false">
        <appender-ref ref="BACK_LOG"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="deliveryServiceAvailabilityLogger" level="INFO" additivity="false">
        <appender-ref ref="DELIVERY_SERVICE_AVAILABILITY"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="cleaningOldDbEntriesTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="CLEANING_OLD_DB_ENTRIES_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="newToInProgressTaskTimingTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="NEW_TO_IN_PROGRESS_TIMING_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="contextRefreshTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="CONTEXT_REFRESH_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="disabledMethodCallTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="DISABLED_METHOD_CALL_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <logger name="databaseSpaceUsageTskvLogger" level="INFO" additivity="false">
        <appender-ref ref="DB_SPACE_USAGE_TSKV"/>
        <appender-ref ref="SENTRY"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE"/>
        <appender-ref ref="SENTRY"/>
    </root>

</configuration>
