.navbar__arrow {
    background: linear-gradient(70deg, #1a8bd2 0,#2aabd2 100%);
}

.navbar__tab:hover {
    border-top-color: #2aabd2;
}

.navbar__tab_active {
    border-top-color: #2aabd2 !important;
}
