<Database>
    Type: Postgres
    ConnectionString: host=extmaps-carsharing-testing01h.db.yandex.net,vla-6b75l3xg6q0a7teh.db.yandex.net port=6432 target_session_attrs=read-write dbname=extmaps-carsharing-testing user=carsharing password=cYKIbr1eRXyzhX2Z7quoC1FUQ67W9geDDQG1B7qlnv4HCMKgzvnXiQBXvjcjv0fVe9k2Rlb3ORxXma2IPNXMMvNCXEzZweZNjViNIXY1HktOYDRXL8bEkj8MkV8YLcu5
</Database>
