body {
    background-color: #eee;
    color: #111;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1em;
}

img {
    display: block;
}

form {
    display: inline;
}

input {
    background-color: #fff;
    border: 0.09em solid #ccc;
    box-sizing: content-box;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 2.438em;
    margin: 0;
    padding: 0 0.82em;
}

input:focus {
    border-color: #710;
}

input[type=checkbox] {
    height: 1em;
}

table {
    background: #fff;
    border: 0.09em solid #ccc;
    border-collapse: collapse;
    color: #000;
    width: 100%;
}

th {
    background: #333;
    color: #fff;
    font-weight: normal;
    line-height: 2.618em;
    padding: 0;
}

td {
    overflow: hidden;
    padding: 0.309em 0;
    text-overflow: ellipsis;
}

td.padder {
    height: 0.309em;
    padding: 0;
}

th, td {
    padding-left: 1em;
    text-align: left;
    white-space: nowrap;
}

a {
    color: #710;
    text-decoration: none;
}

dt {
    font-weight: bold;
}

dd {
    line-height: 1.618em;
    margin: 0.618em 1.618em;
}

tt {
    background-color: #ddd;
    border: 0.045em solid #ccc;
    color: #222;
    padding: 0.045em;
}

div.header {
    overflow: hidden;
}

div.avatar {
    float: left;
}

img.avatar {
    background-color: #fff;
    border: 0.09em solid #ccc;
    height: 4.056em;
}

div.faq {
    float: right;
    line-height: 4.236em;
    margin-left: 1.618em;
}

img.faq {
    height: 4.236em;
}

div.panel {
    float: left;
    line-height: 4.236em;
    margin-left: 1.618em;
}

div.rule {
    clear: both;
    height: 1em;
}

div.nick {
    color: #000;
    font-size: 1.618em;
    font-weight: bold;
}

div.split {
    background-color: #ccc;
    clear: both;
    height: 0.09em;
    margin: 0.82em 1em;
}

div.faq-title {
    font-size: 1.618em;
    font-weight: bold;
}

span.spot {
    color: #e20;
}

span.dead {
    color: #666;
}

span.inactive {
    color: #4a1466;
}

span.active {
    color: #2e6614;
}

div.top_message {
    border: 2px solid gray;
    border-radius: 5px;
    padding: 10px;
    margin: 1em 0 1em 0;
}
