<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] %-5p [%t] %c{0}: %m%n</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="CONSOLE"/>
    </appender>

    <logger name="ACCESS_LOG" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="ru.yandex.market.crm" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="ru.yandex" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="ru.yandex.misc.io.http.apache" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="ru.yandex.inside.yt" additivity="false">
        <level value="WARN"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="ru.yandex.yt.ytclient" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="ru.yandex.market.tms.quartz2" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="org.camunda.bpm" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="com.sun.jersey" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="LB_PROCESSING_LOG" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="LB_SENT_PUSH_MESSAGES_LOG" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="LB_SENT_EMAILS_LOG" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="LB_SENT_SMS_LOG" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="TRIGGERS_GENERAL_METRICS_LOG" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="ru.yandex.market.mcrm.lock.impl.DbLockService">
        <level value="INFO"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="ru.yandex.market.mcrm.queue.retry.internal.RetryTaskServiceImpl">
        <level value="INFO"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <logger name="PROXY_DATA_SOURCE_LOG" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="ASYNC"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="ASYNC"/>
    </root>

</configuration>
