/* stylelint-disable */
@import '../const';

@font-face {
    font-family: 'YandexSans';
    src: url(https://yastatic.net/islands/_/bIx8jOfCEfR-mECoDUEZywDBuHA.woff) format('woff'),
        url(https://yastatic.net/islands/_/8-3PIQ2VicLiy1HDWw3E-HZGoik.ttf) format('truetype'),
        url(https://yastatic.net/islands/_/Bge9ggkBAMYn87e3ahBuXYTgCjw.eot) format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YandexSans';
    src: url(https://yastatic.net/islands/_/KtHQR1erf3spayoIM4M4ngg0e2E.woff) format('woff'),
        url(https://yastatic.net/islands/_/MFHHJn2Jxm-V8heCaZXqt8GdEfU.ttf) format('truetype'),
        url(https://yastatic.net/islands/_/IAY5Cx84oLNpD4uOTbRmSaqPDhc.eot) format('eot');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'YandexSans';
    src: url(https://yastatic.net/islands/_/IUv7o9wOcUAeraXHdLbtiiSkzXA.woff) format('woff'),
        url(https://yastatic.net/islands/_/HZsDJaKy5lLRWAqB3mQowXoKe2Q.ttf) format('truetype'),
        url(https://yastatic.net/islands/_/qTwUCNrlIRsJN51DmoZQehK_ExM.eot) format('eot');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'YandexSans';
    src: url(https://yastatic.net/islands/_/L1DlwqnOeGuy9d5XseqpDh1eJUM.woff) format('woff'),
        url(https://yastatic.net/islands/_/GnWGvtuW0ePoA_QJE8uEVYiKD0g.ttf) format('truetype'),
        url(https://yastatic.net/islands/_/u5_n4kD6q8NXWBlR6bR6uAZkNuo.eot) format('eot');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'YandexSansLight';
    src: url(https://yastatic.net/islands/_/081cAvlHOhIB4qZcKBfEe1WCIes.woff) format('woff'),
        url(https://yastatic.net/islands/_/m4OmF8gUyYXFxO6xSGIztKtP_Ys.ttf) format('truetype'),
        url(https://yastatic.net/islands/_/Ormh0cILMkv53h9tPEoI7QKUhM.eot) format('eot');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'YandexSansMedium';
    src: url(https://yastatic.net/islands/_/SmqPmIMEXrW4lOY8QrhTUVDbrro.woff) format('woff'),
        url(https://yastatic.net/islands/_/_dnk_5iUuUelk2Z6x6tb5fW0I20.ttf) format('truetype'),
        url(https://yastatic.net/islands/_/4MoAU9zZT6C3pQhSBxQKuh7Bnn4.eot) format('eot');
    font-weight: bold;
    font-style: normal;
}

.TestChat {
    display: flex;
    flex-direction: column;

    width: $width-page - 40px;

    &__options {
        margin-bottom: 16px;
    }

    &__main {
        display: flex;
    }

    &__chatColumn {
        flex: 0 0 500px;

        max-width: 500px;
        margin-right: 20px;

        word-break: break-word;

        @media (max-width: 1023px) {
            flex-basis: 70vw;
        }
    }

    &__codeColumn {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        justify-content: space-between;
    }

    &__chat-components {
        display: flex;
        flex-direction: column;

        height: 405px;

        .link {
            cursor: pointer;
        }
    }

    &__chat {
        display: flex;
        overflow-y: hidden;
        flex-grow: 1;
        flex-direction: column;

        border: $border-default;
        border-radius: 4px;

        & * {
            font-family: YandexSans, Arial, Helvetica, sans-serif;
        }
    }

    &__player {
        margin-top: 10px;
        padding: 5px 8px;

        border: $border-default;
        border-radius: 4px;
    }

    &__suggest {
        padding: 10px 5px 5px 10px;
        
        overflow-x: scroll;
        white-space: nowrap;
        border-top: $border-default;
    }

    &__toolbar {
        display: flex;

        border-top: $border-default;
    }

    &__head-toolbar {
        display: flex;
        justify-content: space-between;
    }

    &__actions {
        display: flex;
        flex-shrink: 0;
        flex-wrap: nowrap;
    }

    &__form {
        display: flex;
        flex-grow: 1;
    }

    &__input {
        flex: 1 0 auto;

        height: 40px;
        padding: 5px 10px;

        font-size: 13px;

        border: none;
        outline: none;
    }

    &__submit,
    &__login,
    &__reset {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 40px;
        height: 40px;

        cursor: pointer;

        border: none;
        outline: none;
        background: none;
    }

    &__reset > svg {
        transform: translateY(1px);
    }

    &__action {
        margin: 0 5px 5px 0;
        padding: 8px 12px;

        font-size: 13px;

        color: #696969;
        border: 1px solid #d4d4d4;
        border-radius: 16px;
        background: #fff;

        &_external::after {
            content: ' ⧉';
        }
    }

    &__messages {
        overflow-y: auto;
        flex: 1;
        flex-direction: column;

        padding: 20px;
    }

    &__message {
        padding: 8px 12px;

        border-radius: 16px;

        &:first-child {
            margin-top: auto;
        }

        & + & {
            margin-top: 10px;
        }

        &_sender {
            &_user {
                align-self: flex-end;

                border-bottom-right-radius: 0;
                background: #ffe577;
            }

            &_server {
                align-self: flex-start;

                border-top-left-radius: 0;
                background: #f1f0f5;
            }

            &_bot {
                padding: 0;
            }
        }

        &_error {
            background: #f88;
        }
    }

    &__code {
        overflow-y: auto;

        height: 405px;

        font-family: 'Consolas', 'Menlo', monospace;

        background: #f8f8f8; // depends on highlight.js theme

        & pre {
            margin: 0;

            @extend %code-block;
        }
    }
    .assistant__messageWrapper {
        max-width: initial;
    }
    // fix border-radius
    .divCard__element__image {
        position: static;
    }

    .divCard {
        cursor: pointer;
    }
    .assistant__message > * {
        padding-top: 0;
        margin-bottom: 16px;
    }
}

