/* stylelint-disable */
@import '../const.scss';

.TestAudioItem {
    display: flex;
    align-items: center;

    padding: 5px 0;

    font-size: 13px;

    color: #696969;

    &__icon {
        display: flex;
        flex-shrink: 0;
        justify-content: center;
        align-items: center;

        margin-right: 8px;

        cursor: pointer;

        border-radius: 4px;

        @include squared(32px);
    }

    &__controls {
        display: flex;

        margin-right: 8px;

        font-size: 0;
    }

    &__control-next,
    &__control-prev {
        cursor: pointer;
    }

    &__control-prev {
        margin-right: 3px;
    }

    &__title-wrapper {
        display: flex;
        justify-content: space-between;

        margin-bottom: 5px;
    }

    &__title {
        @include ellipsis();

        &_showProgress {
            margin-right: 5px;
        }
    }

    &__time {
        flex-shrink: 0;
    }

    &__body {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
}
