.author-solutions {
    &__title {
        font: var(--heading-size-s);
        text-transform: uppercase;
    }

    &__controls {
        display: grid;

        margin-top: var(--space-size-s);

        row-gap: 24px;
    }

    &__control-buttons {
        display: inline-grid;
        grid-template-columns: min-content min-content auto;

        column-gap: var(--space-size-xs);
    }

    &__delete-icon {
        text-align: right;
    }

    &__table .table__cell {
        overflow: visible;

        vertical-align: middle;
    }

    &__table .table__body-row {
        vertical-align: middle;
    }
}
