@import '../RequestManager/styles/columnsMixin';

.root {
    @include columns();

    &:nth-child(odd) {
        background-color: var(--yatravel-bg-fill-primary-color);
    }

    &:nth-child(even) {
        background-color: var(--yatravel-bg-fill-secondary-color);
    }

    &:hover {
        cursor: pointer;

        background-color: var(--yatravel-bg-warning-default-color);
    }

    .url {
        font-weight: bold;
    }

    &_success {
        .url {
            color: var(--yatravel-text-success-color);
        }
    }

    &_pending {
        .url {
            color: var(--yatravel-core-blue-color);
        }
    }

    &_error {
        .url {
            color: var(--yatravel-text-alert-color);
        }
    }
}
