<?xml version="1.0" encoding="UTF-8"?>

<!-- just overrides default spring boot configuration -->
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
    <logger name="ru.yandex.autotests.market" level="TRACE"/>

    <logger name="com.opensymphony" level="INFO"/>

    <logger name="org.apache.http" level="WARN"/>
    <logger name="org.apache.commons.beanutils" level="INFO"/>
    <logger name="org.apache.commons.httpclient" level="WARN"/>

    <logger name="httpclient.wire" level="DEBUG"/>

    <logger name="org.springframework.web.client" level="DEBUG"/>
    <logger name="org.hibernate.type" level="TRACE"/>
</configuration>
