{% if table == "mstat_dictionaries_model_transitions" %}
    {% table table %}
        [1000125, 666, false],
        [1000682, 666, false],
        [1002226, 777, false],
        [1002226, 888, false],
        [1001414, 999, true],
        [1001414, 101, false],
        [1000787, null, false]
    {% endtable %}
{% elif table == "outlet_model_transitions" %}
    {% table table %}
        ["1000125", "666", "{{ day }}"],
        ["1000682", "666", "{{ day }}"],
        ["1002226", "777", "{{ day }}"],
        ["1002226", "888", "{{ day }}"],
        ["1001414", "999", "{{ day }}"]
    {% endtable %}
{% endif %}
