Core {
    Log {
        Level: DEBUG
        # Target {
        #     FilePath: "logs/giffany/giffany.log"
        # }
    }

    Identity {
        Name: "giffany"
        ArgProperty: "secrets/all"
    }

    TraceLog {
        Target {
            FilePath: "logs/giffany/giffany-trace.log"
        }
    }

    ExternalLog {
        RequestTarget {
            FilePath: "logs/giffany/ext.request.log"
        }
        ResponseTarget {
            FilePath: "logs/giffany/ext.response.log"
        }
    }

    Server {
        Port: 2406
    }
}

WeekReport {
    FormId: 16192
    Tag {
        Name: "фокус"
        Grid: "/users/yuraaka/drafttable_Q1_2020"
        Bind {
            Column: "Тип"
            Value: {
                Constant: "Фокусы следующей недели"
            }
        }

        Bind {
            Column: "Текст"
            Value: {
                Field: TEXT
            }
        }

        Bind {
            Column: "контур"
            Value: {
                Field: AUTHOR
            }
        }
    }

    Tag {
        Name: "запуск"
        Grid: "/users/yuraaka/drafttable_Q1_2020"
        Bind {
            Column: "Тип"
            Value: {
                Constant: "Успехи прошлой недели"
            }
        }

        Bind {
            Column: "Текст"
            Value: {
                Field: TEXT
            }
        }

        Bind {
            Column: "контур"
            Value: {
                Field: AUTHOR
            }
        }
    }
}

Pgaas {
    RootCA: "data/allCAs.pem"
    Host: "vla-txvhqaotlnfcbtj9.db.yandex.net,iva-iqkeaw1cs63mzrt9.db.yandex.net,sas-9c1hbxsbsyh1hd2l.db.yandex.net"
    Port: 6432
    Database: "giffany"
    User: "giffany"
    WithLog: true
}
