{% set table = table|default("features_item_model_blue_view_statistics" ) %}

{% if table == "features_item_model_blue_view_statistics" %}
    {% table "features_item_model_view_statistics" %}
        ["159402900", 1.0, 1.0, "model", "{{ day }}"],
        ["1721463495", 1.0, 1.0, "model", "{{ day }}"]
    {% endtable %}
{% elif table == "events_sku_views" %}
    {% table "events" %}
        [1506945600000, {"puid": "12345678", "yandexuid": null, "uuid":"8e58bbadb02725b4a7fc03bbf1ed8411"}, "view", "sku", "1646551242", {"category_id": "C3", "model_id": "7654321"}, "{{ day }}"],
        [1506945600000, {"puid": "12345678", "yandexuid": null, "uuid":"8e58bbadb02725b4a7fc03bbf1ed8411"}, "view", "sku", "1708596369", {"category_id": "C4", "model_id": "1234567"}, "{{ day }}"],
        [1506963677001, {"puid": null, "uuid": null, "yandexuid": "2612626131506438713"}, "view", "sku", "100235854748", {"category_id": "C1", "model_id": "1721463495"}, "{{ day }}"],
        [1506963677001, {"puid": null, "uuid": null, "yandexuid": "2612626131506438713"}, "view", "sku", "159402900", {"category_id": "C4", "model_id": "159402900"}, "{{ day }}"]
    {% endtable %}
{% endif %}
