{% if table == "items_model_feedback_statistics" %}
    {% table table %}
        ["1572892", 3.5, 53, 15, 0, 0, 0.5, "model", "{{ day }}"],
        ["7340148", 2.5, 6, 2, 1, 4, 0.2, "model", "{{ day }}"]
    {% endtable %}
{% elif table == "pers_v_model_summary_result" %}
    {
        "schema": [
            {
                "name": "model_id",
                "type": "Int64?"
            },
            {
                "name": "recommend",
                "type": "Int64?"
            },
            {
                "name": "recommend_answered",
                "type": "Int64?"
            }
        ],
        "records": [
            [7340148, 4, 20]
        ]
    }
{% elif table == "mstat_dictionaries_model_ratings" %}
    {
        "schema": [
            {
                "name": "model_id",
                "type": "Int64?"
            },
            {
                "name": "rating_value",
                "type": "Double?"
            },
            {
                "name": "rating_total",
                "type": "Int64?"
            },
            {
                "name": "opinions_total",
                "type": "Int64?"
            },
            {
                "name": "reviews_total",
                "type": "Int64?"
            }
        ],
        "records": [
            [7340148, 2.5, 6, 2, 1],
            [0, null, 0, 0, 1],
            [1572892, 3.5, 53, 15, 0]
        ]
    }
{% endif %}
