{% set table = table|default("statistics_gmv") %}

{% if table == "statistics_gmv" %}
    {% table "statistics" %}
        ["Market", "Total", "total", {{ (500.0 if direct else 600.0) }}, "{{ day }}"],
        ["DesktopMainPageRetargeting", "Total", "total", {{ (500.0 if direct else 600.0) }}, "{{ day }}"],
        ["Desktop", "Total", "total", {{ (500.0 if direct else 600.0) }}, "{{ day }}"],
        ["DesktopMainPage", "Total", "total", {{ (500.0 if direct else 600.0) }}, "{{ day }}"],
        ["MarketMainPage", "Total", "total", {{ (500.0 if direct else 600.0) }}, "{{ day }}"]
    {% endtable %}
{% elif table == "events_metrika_actions_day_before" %}
    {% table "events" %}
        [
            1508662380000,
            {"yandexuid": null, "puid": null, "uuid": "111003606f3cddca99a6ed5474160000"},
            "{{ action }}",
            "sku",
            "11",
            {"place": "DesktopMainPageRetargeting", "batch": "2"},
            "{{ day }}"
        ],
        [
            1508666270000,
            {"yandexuid": "1", "puid": "99934355", "uuid": null},
            "{{ action }}",
            "model",
            "22",
            {"place": "DesktopMainPageRetargeting", "batch": "1"},
            "{{ day }}"
        ],
        [
            1508666270000,
            {"yandexuid": null, "puid": null, "uuid": "356003606f3cddca99a6ed5474160000"},
            "{{ action }}",
            "sku",
            "1",
            {"place": "DesktopMainPageRetargeting", "batch": "2"},
            "{{ day }}"
        ]
    {% endtable %}
{% elif table == "events_metrika_actions" %}
    {% table "events" %}
         [
            1508752270000,
            {"yandexuid": "3", "puid": null, "uuid": null},
            "{{ action }}",
            "sku",
            "333",
            {"place": "DesktopMainPageRetargeting", "batch": "3"},
            "{{ day }}"
        ],
        [
            1508752270000,
            {"yandexuid": "4", "puid": null, "uuid": null},
            "{{ action }}",
            "model",
            "444",
            {"place": "DesktopMainPageRetargeting", "batch": "4"},
            "{{ day }}"
        ]
    {% endtable %}
{% elif table == "events_internal_orders" %}
    {% table "events" %}
        [
            1508752280000,
            {"yandexuid": "1", "puid": null, "uuid": null},
            "order",
            "offer",
            "offer_id_2",
            {
                "model_id": "22",
                "order_id": "1",
                "fee": "2.0",
                "sku_id": "2",
                "count": "1",
                "price": "100",
                "category_id": "1"
            },
            "{{ day }}"
        ],
        [
            1508752280000,
            {"yandexuid": "2", "puid": null, "uuid": "356003606f3cddca99a6ed5474160000"},
            "order",
            "offer",
            "1222222",
            {
                "model_id": "1",
                "order_id": "2",
                "fee": "2.0",
                "sku_id": "1",
                "count": "2",
                "price": "200",
                "category_id": "2"
            },
            "{{ day }}"
        ],
        [
            1508752280000,
            {"yandexuid": "2", "puid": null, "uuid": "111003606f3cddca99a6ed5474160000"},
            "order",
            "offer",
            "1222222",
            {
                "model_id": "1",
                "order_id": "2",
                "fee": "2.0",
                "sku_id": "11",
                "count": "2",
                "price": "200",
                "category_id": "2"
            },
            "{{ day }}"
        ],
        [
            1508752280000,
            {"yandexuid": "3", "puid": null, "uuid": null},
            "order",
            "offer",
            "asljfljsdf",
            {
                "model_id": null,
                "order_id": "3",
                "fee": "2.0",
                "sku_id": "2",
                "count": "1",
                "price": "100",
                "category_id": "3"
            },
            "{{ day }}"
        ],
        [
            1508752280000,
            {"yandexuid": "9999999", "puid": null, "uuid": null},
            "order",
            "offer",
            "444",
            {
                "model_id": null,
                "order_id": "4",
                "fee": "2.0",
                "sku_id": "2",
                "count": "1",
                "price": "100",
                "category_id": "3"
            },
            "{{ day }}"
        ],
        [
            1508752280000,
            {"yandexuid": null, "puid": null, "uuid": "356003606f3cddca99a6ed5474160000"},
            "order",
            "offer",
            "555",
            {
                "model_id": "33",
                "order_id": "5",
                "fee": "2.0",
                "sku_id": "3",
                "count": "1",
                "price": "100",
                "category_id": "4"
            },
            "{{ day }}"
        ]
    {% endtable %}
{% endif %}
