{% if table == "sets_model_accessories_candidates" %}
    {% table table %}
        ["M1", "M2", "C1", "C2", [0, 1], 0, 0, "{{ day }}"],
        ["M1", "M3", "C1", "C2", [0, 1], 0, 0, "{{ day }}"],
        ["M1", "M4", "C1", "C2", [0, 1], 1, 0, "{{ day }}"],
        ["M1", "M5", "C1", "C3", [0, 1], 0, 1, "{{ day }}"]
    {% endtable %}
{% elif table == "sets_fixed_model_accessories" %}
    {
        "schema": [
            {
                "name": "model_id",
                "type": "String"
            },
            {
                "name": "linked_model_id",
                "type": "String"
            },
            {
                "name": "score",
                "type": "Double"
            }
        ],
        "records": [
            ["M1", "M2", 1],
            ["M1", "M3", 1],
            ["M1", "M4", 1],
            ["M1", "M5", 1]
        ]
    }
{% endif %}
