
{% if table == "sets_data_from_sandbox_resource_nailed_accesories" %}
    {% if version == "nailed_accessories_white" %}
        {% table table %}
            ["521440226", "", 0.1, "{{ default_resource_id }}"],
            ["476919081", "273672108", 0.1, "{{ default_resource_id }}"],
            ["476919081", "413265758", -0.1, "{{ default_resource_id }}"],
            ["446894007", "447723001", 0.2, "{{ default_resource_id }}"]
        {% endtable %}
    {% elif version == "nailed_accessories_blue" %}
        {% table table %}
            ["1971204201", "", 0.1, "{{ default_resource_id }}"],
            ["413265758", "", 0.1, "{{ default_resource_id }}"]
        {% endtable %}
    {% endif %}
{% endif %}
