{% set table = table|default("statistics_ratio") %}

{% if table == "statistics_nominator" %}
    {% table "statistics" %}
        ["Desktop", "Total", "total", 50.0, "{{ day }}"],
        ["Touch", "Total", "total", 50.0, "{{ day }}"],
        ["Android", "Total", "total", 50.0, "{{ day }}"],
        ["Market", "Total", "total", 150.0, "{{ day }}"]
    {% endtable %}
{% elif table == "statistics_denominator" %}
    {% table "statistics" %}
        ["Desktop", "Total", "total", 100.0, "{{ day }}"],
        ["Touch", "Total", "total", 100.0, "{{ day }}"],
        ["IOSMainPage", "Total", "total", 100.0, "{{ day }}"],
        ["Market", "Total", "total", 300.0, "{{ day }}"]
    {% endtable %}
{% elif table == "statistics_ratio" %}
    {% table "statistics" %}
        ["Desktop", "Total", "total", {% if in_percent %}50.0{% else %}0.5{% endif %}, "{{ day }}"],
        ["Touch", "Total", "total", {% if in_percent %}50.0{% else %}0.5{% endif %}, "{{ day }}"],
        ["Market", "Total", "total", {% if in_percent %}50.0{% else %}0.5{% endif %}, "{{ day }}"]
    {% endtable %}
{% endif %}
