{% if table == "analyst_plentsova_filters_order" %}
    {
        "schema": [
            {
                 "name": "_other",
                 "type": "Dict<String,String>"
            },
            {
                "name": "hid",
                "type": "Int64"
            },
            {
                "name": "filter_id",
                "type": "Yson"
            }
        ],
        "records": [
            [{}, 123123, ["123456", "superfilter"]],
            [{}, 321123, ["856", "123456"]]
        ]
    }
{% elif table == "filters_category_order" %}
    {
        "schema": [
            {
                "name": "hid",
                "type": "Int64"
            },
            {
                "name": "filter_id",
                "type": "Json"
            }
        ],
        "records": [
            [123123, [{"id":"123456"}, {"id":"superfilter"}]],
            [321123, [{"id":"856"}, {"id":"123456"}]]
        ]
    }
{% endif %}
