{% if table == "sets_bundles" %}
    {
        "schema": [
            {
                "name": "feed_id",
                "type": "Int64?",
                "ordering": "ascending"
            },
            {
                "name": "ssku",
                "type": "List<String>"
            },
            {
                "name": "accessory_ssku",
                "type": "List<String>"
            },
            {
                "name": "discount",
                "type": "List<Int32>"
            }
        ],
        "records": [
            [123, ["ssku11", "ssku12", "ssku22"], ["ssku44", "ssku44", "ssku55"], [5, 5, 6]],
            [123, ["ssku34", "ssku351"], ["ssku88", "ssku88"], [6, 6]],
            [124, ["ssku352"], ["ssku88"], [6]]
        ]
    }
{% elif table == "sets_model_accessories_sequence" %}
    {% table table %}
        ["1111", "2221", "111", "112", 0, 0.0, 0.0, 0.5, 0, 1, "{{ day }}"],
        ["1111", "2223", "111", "112", 0, 0.0, 0.0, 0.5, 0, 2, "{{ day }}"],
        ["1111", "2224", "13", "112", 0, 0.0, 0.0, 0.5, 0, 3, "{{ day }}"],
        ["1112", "2222", "113", "1211", 0, 0.0, 0.0, 1.0, 0, 1, "{{ day }}"],
        ["1113", "2223", "111", "1211", 0, 0.0, 0.0, 1.0, 0, 1, "{{ day }}"],
        ["1114", "2225", "113", "1212", 0, 0.0, 0.0, 1.0, 0, 1, "{{ day }}"],
        ["1115", "2225", "113", "1212", 0, 0.0, 0.0, 1.0, 0, 1, "{{ day }}"]
    {% endtable %}
{% elif table == "items_category_tree" %}
    {% table table %}
        ["90401", "0", [],  "category", "{{ day }}"],
        ["1", "90401", ["90401"], "category", "{{ day }}"],
        ["11", "1", ["90401", "1"], "category", "{{ day }}"],
        ["111", "11", ["90401", "1", "11"], "category", "{{ day }}"],
        ["112", "11", ["90401", "1", "11"], "category", "{{ day }}"],
        ["113", "11", ["90401", "1", "11"], "category", "{{ day }}"],
        ["12", "1", ["90401", "1"], "category", "{{ day }}"],
        ["121", "12", ["90401", "1", "12"], "category", "{{ day }}"],
        ["1211", "121", ["90401", "1", "12", "121"], "category", "{{ day }}"],
        ["1212", "121", ["90401", "1", "12", "121"], "category", "{{ day }}"],
        ["13", "1", ["90401", "1"], "category", "{{ day }}"]
    {% endtable %}
{% elif table == "items_sku_model_id" %}
    {% table table %}
        ["11111111", "1111", "sku", "{{ day }}"],
        ["22222222", "1112", "sku", "{{ day }}"],
        ["33333333", "1113", "sku", "{{ day }}"],
        ["33334444", "1114", "sku", "{{ day }}"],
        ["33335555", "1115", "sku", "{{ day }}"],
        ["44444444", "2221", "sku", "{{ day }}"],
        ["55555555", "2222", "sku", "{{ day }}"],
        ["66666666", "2223", "sku", "{{ day }}"],
        ["77777777", "2224", "sku", "{{ day }}"],
        ["88888888", "2225", "sku", "{{ day }}"]
    {% endtable %}
{% elif table == "outlet_promo_by_cart_promo_by_cart" %}
    {
        "schema": [
            {
                "name": "hid1",
                "type": "String?"
            },
            {
                "name": "hid2",
                "type": "String?"
            },
            {
                "name": "split",
                "type": "String?"
            },
            {
                "name": "discount",
                "type": "Int32?"
            }
        ],
        "records": [
            ["90401", "11", "", 5],
            ["113", "121", "", 6]
        ]
    }
{% elif table == "mstat_analyst_dim_ssku" %}
    {
        "schema": [
            {
                "name": "ssku",
                "type": "String?"
            },
            {
                "name": "shop_id",
                "type": "Int64?"
            },
            {
                "name": "msku_msku",
                "type": "Uint64?"
            }
        ],
        "records": [
            ["ssku11", 1234, 11111111],
            ["ssku12", 1234, 11111111],
            ["ssku22", 1234, 22222222],
            ["ssku33", 1234, 33333333],
            ["ssku34", 1234, 33334444],
            ["ssku351", 1234, 33335555],
            ["ssku352", 12345, 33335555],
            ["ssku44", 1234, 44444444],
            ["ssku45", 1234, 44444444],
            ["ssku55", 1234, 55555555],
            ["ssku66", 1234, 66666666],
            ["ssku77", 1234, 77777777],
            ["ssku88", 1234, 88888888],
            ["ssku88", 12345, 88888888]
        ]
    }
{% elif table == "mstat_dwh_fact_blue_offer" %}
    {
        "schema": [
            {
                "name": "feed_id",
                "type": "Int64?"
            },
            {
                "name": "shop_id",
                "type": "Int64?"
            },
            {
                "name": "supplier_id",
                "type": "Int64?"
            },
            {
                "name": "warehouse_id",
                "type": "Int64?"
            },
            {
                "name": "model_id",
                "type": "Int64?"
            }
        ],
        "records": [
            [123, 1, 1234, 145, 1111],
            [123, 1, 1234, 145, 1112],
            [123, 1, 1234, 145, 1113],
            [123, 1, 1234, 145, 1114],
            [123, 1, 1234, 145, 1115],
            [124, 1, 12345, 145, 1115],
            [123, 1, 1234, 145, 2221],
            [123, 1, 1234, 145, 2222],
            [123, 1, 1234, 145, 2223],
            [123, 1, 1234, 145, 2224],
            [123, 1, 1234, 145, 2225],
            [124, 1, 12345, 145, 2225]
        ]
    }
{% endif %}
