{% macro view(yandexuid, review_id) %}
    [
        123456789,
        {
            "yandexuid": "{{ yandexuid }}"
        },
        "view",
        "review",
        {% if review_id %}
            "{{ review_id }}",
        {% else %}
            null,
        {% endif %}
        {},
        "{{ day }}"
    ]
{% endmacro %}

{% if table == "features_item_review_average_viewer_crypta_profile" %}
    {% table "features_item_model_average_viewer_crypta_profile" %}
        ["M1", 0.5, 0.5, 0.1, 0.2, 0.3, 0.4, 0.0, 0.0, 0.0, 0.30, 0.3, 0.40, 0.1, 0.2, 0.125, 0.275, "review", "{{ day }}"],
        ["M2", 0.0, 1.0, 0.1, 0.2, 0.3, 0.4, 0.0, 0.0, 0.0, 0.45, 0.0, 0.55, 0.0, 0.0, 0.100, 0.450, "review", "{{ day }}"]
    {% endtable %}
{% elif table == "events_review_views" %}
    {% table "events" %}
        {{ view("3711067351504558611", "M1") }},
        {{ view("3711067351504558612", "M1") }},
        {{ view("3711067351504558612", "M2") }},
        {{ view("3711067351504558612", None) }}
    {% endtable %}
{% endif %}
