{% if table == "items_feedback_content" %}
    {% table table %}
        ["1", false, "2", "654321", 5, "perfect", "some cons", null, 3, 4, "feedback", "{{ day }}"],
        ["2", true, "1", "123456", 2, null, null, "some pros", 100, 0, "feedback", "{{ day }}"]
    {% endtable %}
{% elif table == "pers_pub_model_grades" %}
    {
        "schema": [
            {
                "name": "id",
                "type": "Int64?"
            },
            {
                "name": "anonymous",
                "type": "Int64?"
            },
            {
                "name": "author_id",
                "type": "Int64?"
            },
            {
                "name": "resource_id",
                "type": "Int64?"
            },
            {
                "name": "grade_value",
                "type": "Int64?"
            },
            {
                "name": "short_text",
                "type": "String?"
            },
            {
                "name": "contra",
                "type": "String?"
            },
            {
                "name": "pro",
                "type": "String?"
            },
            {
                "name": "votes_agree",
                "type": "Int64?"
            },
            {
                "name": "votes_disagree",
                "type": "Int64?"
            }
        ],
        "records": [
            [1, false, 2, 654321, 5, "perfect", "some cons", null, 3, 4],
            [2, true, 1, 123456, 2, null, null, "some pros", 100, 0],
            [3, true, null, 9999, 2, null, "some cons", "some pros", 0, 1]
        ]
    }
{% endif %}
