{% if table == "sets_reasons_to_buy_compatible_with_alisa" %}
    {% table "sets_reasons_to_buy" %}
        ["YandexLightBulb", "model", "compatible_with_alisa", "specsFactor", 1.0, {}, "{{ day }}"]
    {% endtable %}
{% elif table == "sets_reasons_to_buy_alisa_lives_here" %}
    {% table table %}
        ["YandexStation", "model", "alisa_lives_here", "specsFactor", 1.0, {}, "{{ day }}"]
    {% endtable %}
{% elif table == "items_model_parameters" %}
    {% table table %}
        ["DumbBulb", {}, "model", "{{ day }}"],
        ["IncompatibleLightBulb", {"17551827": "false"}, "model", "{{ day }}"],
        ["YandexLightBulb", {"17551827": "true"}, "model", "{{ day }}"],
        ["YandexStation", {"17551827": "true"}, "model", "{{ day }}"]
    {% endtable %}
{% endif %}
