{% if table == "sets_reasons_to_buy_hype_goods" %}
    {% table "sets_reasons_to_buy" %}
        ["IsHypeGoods", "model", "hype_goods", "specsFactor", 1.0, {}, "{{ day }}"]
    {% endtable %}
{% elif table == "items_model_parameters" %}
    {% table table %}
        ["Empty", {}, "model", "{{ day }}"],
        ["AnotherParam", {"1": "a"}, "model", "{{ day }}"],
        ["IsNotHypeGoods", {"27625090": "false"}, "model", "{{ day }}"],
        ["IsHypeGoods", {"27625090": "true"}, "model", "{{ day }}"]
    {% endtable %}
{% endif %}
