{% if table == "items_category_name" %}
    {% table table %}
        ["1", "First",  "category", "{{ day }}"],
        ["2", "Second", "category", "{{ day }}"],
        ["3", "Third", "category", "{{ day }}"],
        ["4", "Fourth", "category", "{{ day }}"]
    {% endtable %}
{% elif table == "items_category_tree" %}
    {% table table %}
        ["1", "3", ["4", "3"],  "category", "{{ day }}"],
        ["2", "3", ["4", "3"], "category", "{{ day }}"],
        ["3", "4", ["4"], "category", "{{ day }}"],
        ["4", "0", [], "category", "{{ day }}"],
        {# no name, so this category is outdated and can fuck off #}
        ["5", "0", [], "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_pair_category_category_distance" %}
    {% table table %}
        ["1", "2", 3.0, 1.0, 2.0, "category", "category", "{{ day }}"],
        ["1", "3", 1.0, 1.0, 3.0, "category", "category", "{{ day }}"],
        ["2", "1", 3.0, 2.0, 1.0, "category", "category", "{{ day }}"],
        ["2", "3", 2.0, 2.0, 3.0, "category", "category", "{{ day }}"],
        ["3", "1", 1.0, 3.0, 1.0, "category", "category", "{{ day }}"],
        ["3", "2", 2.0, 3.0, 2.0, "category", "category", "{{ day }}"]
    {% endtable %}
{% elif table == "mstat_dictionaries_recommendation_rules" %}
    {% table table %}
        [
            "FORWARD",
            12995,
            "BUY_WITH_IT",
            12943705,
            "{\"id\":13000,\"filter\":[{\"param_id\":\"13046395\"}]}",
            13041431,
            "{\"id\":12999}",
            "cellphones",
            12998,
            "GOODS",
            "100.0",
            "true"
        ],
        [
            "BOTH",
            12996,
            "BUY_WITH_IT",
            1,
            "{\"id\":13002,\"filter\":[{\"param_id\":\"13046395\"}]}",
            2,
            "{\"id\":13001}",
            "cellphones",
            12999,
            "GOODS",
            "100.0",
            "true"
        ],
        {# unpublished mbo rule has to be filtered #}
        [
            "BOTH",
            12996,
            "BUY_WITH_IT",
            1,
            "{\"id\":13002,\"filter\":[{\"param_id\":\"13046395\"}]}",
            2,
            "{\"id\":13001}",
            "cellphones",
            12999,
            "GOODS",
            "100.0",
            "false"
        ]
    {% endtable %}
{% elif table == "features_item_category_offer_price_statistics" %}
    {% table table %}
        ["1", 7, 3.0, 47.28570556640625, 4.8000030517578125, 15.25, 33.0, 88.0, 103.0, 104.0, 1.432901382446289, "category", "{{ day }}"],
        ["2", 6, 0.0, 48.83331298828125, 1.0, 1.0, 48.5, 95.0, 98.5999755859375, 99.0, 1.0068721771240234, "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_category_average_clickout_statistics" %}
    {% table table %}
        ["1", 10.0, 0.0, "category", "{{ day }}"],
        ["2", 20.0, 0.0, "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_category_average_view_statistics" %}
    {% table table %}
        ["1", 1.0, 1.0, "category", "{{ day }}"],
        ["2", 5.0, 2.0, "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_category_average_internal_purchase_statistics" %}
    {% table table %}
        ["1", 4.0, 2.0, "category", "{{ day }}"],
        ["2", 3.0, 2.0, "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_pair_category_category_average_clickout_statistics" %}
    {% table table %}
        ["1", "2", 1.0, 120.0, "category", "category", "{{ day }}"],
        ["2", "1", 1.0, 60.0, "category", "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_pair_category_category_average_view_statistics" %}
    {% table table %}
        ["1", "2", 1.0, 60.0, "category", "category", "{{ day }}"],
        ["2", "1", 1.0, 30.0, "category", "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_pair_category_category_average_internal_purchase_statistics" %}
    {% table table %}
        ["1", "2", 2.0, 240.0, "category", "category", "{{ day }}"],
        ["2", "1", 1.0, 180.0, "category", "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_category_cpa_shop_count" %}
    {% table table %}
        ["1", 20.0, "category", "{{ day }}"],
        ["2", 7.0, "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_category_cpa_offer_count" %}
    {% table table %}
        ["1", 3.0, "category", "{{ day }}"],
        ["2", 1.0, "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_category_shop_count" %}
    {% table table %}
        ["1", 2.0, "category", "{{ day }}"],
        ["2", 2.0, "category", "{{ day }}"],
        ["666", 1.0, "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_category_offer_count" %}
    {% table table %}
        ["1", 34564.0, "category", "{{ day }}"],
        ["2", 87675.0, "category", "{{ day }}"]
    {% endtable %}
{% elif table == "features_item_pair_category_category_shop_recommendation_statistics" %}
    {% table table %}
        ["1", "2", 2.0, 5.0, 1.0, 8.0, 89.0, 74.0, 73.0, "category", "category", "{{ day }}"],
        ["2", "1", 3.0, 7.0, 5.0, 19.0, 8785.0, 52.0, 1.0, "category", "category", "{{ day }}"]
    {% endtable %}
{% endif %}
