{% if table == "sets_reasons_to_buy_alisa_lives_here" %}
    {% table "sets_reasons_to_buy" %}
        ["YandexStation", "model", "alisa_lives_here", "specsFactor", 1.0, {}, "{{ day }}"]
    {% endtable %}
{% elif table == "items_model_parameters" %}
    {% table table %}
        ["Empty", {}, "model", "{{ day }}"],
        ["Unrelated", {"1": "a", "2": "b"}, "model", "{{ day }}"],
        ["AnotherVoiceAssistant", {"19660150": "42"}, "model", "{{ day }}"],
        ["YandexStation", {"19660150": "19660430"}, "model", "{{ day }}"]
    {% endtable %}
{% endif %}
