$indents = '1' '2' '3' '4' '5' '6' '7' '8' '9' '10' '11' '12' '13';

$indent1 = 4px;
$indent2 = 8px;
$indent3 = 12px;
$indent4 = 16px;
$indent5 = 20px;
$indent6 = 24px;
$indent7 = 28px;
$indent8 = 32px;
$indent9 = 40px;
$indent10 = 48px;
$indent11 = 56px;
$indent12 = 60px;
$indent13 = 80px;

// Новая сетка отступов

$gaps = '1' '2' '3' '4' '5' '6' '7' '8';

$gap1 = 2px;
$gap2 = 3px;
$gap3 = 4px;
$gap4 = 6px;
$gap5 = 9px;
$gap6 = 12px;
$gap7 = 18px;
$gap8 = 24px;
$gap9 = 40px;

$indents-mapping = {
    '1': 4px,
    '2': 8px,
    '3': 12px,
    '4': 16px,
    '5': 20px,
    '6': 24px,
    '7': 28px,
    '8': 32px,
    '9': 40px,
    '10': 48px,
    '11': 56px,
    '12': 60px,
    '13': 80px,
}
