.b-layout-table_layout_30-70 {
    width: 700px;
}

.b-layout-table_layout_30-70 .b-layout-table__cell {
    width: 30%;
    padding-top: 60px;

    text-align: right;
    vertical-align: middle;
}

.b-layout-table_layout_30-70 .b-layout-table__cell_position_r {
    width: 70%;

    text-align: left;
    vertical-align: top;
}

.b-layout-table_layout_30-70 .button {
    margin-bottom: 1px;
}
