.root {
    overflow: auto;

    padding: space(4);

    font-family: monospace;
    white-space: pre-wrap;

    border-radius: $border-radius-m;
    background-color: var(--yatravel-bg-label-neutral-color);
}
