.TestQuestion {
    @media (max-width: 768px) {
        padding: 0 16px;
    }

    &-Title {
        font-weight: 900;

        margin: 0px 0 10px;

        @media (max-width: 768px) {
            margin-top: 11px;
        }
    }
}
