.form {
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 0 1px #e5e5e5;
}

.tabs {
    margin: 0 0 -10px 30px;
}

.controls {
    display: flex;

    margin: 20px 0;
}

.controls button + button {
    margin-left: 10px;
}
