Source: yandex-market-checkout-test-util
Section: misc
Priority: optional
Maintainer: Michael Savelyev <msavelyev@yandex-team.ru>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: yandex-market-checkout-test-util
Architecture: all
Depends: python-virtualenv (>= 1.4.5), python-flask, python-requests, python-openssl, libxml2-utils
Description: Marketplace Test Utility
