.content {
    overflow-y: auto;
    flex: 1;
}

.root {
    &_desktop {
        width: 880px;
        max-width: 100%;
        height: calc(100vh - 160px);
    }

    &_mobile {
        width: calc(100vw - 72px);
        height: calc(100vh - 72px);
    }
}
