.button {
    position: fixed;
    z-index: 1000000;
    right: 8px;
    bottom: 74px;
}

.modalContent {
    &_mobile {
        height: 100vh;
        padding: space(10) space(2) space(2);
    }

    &_desktop {
        width: 100%;
        max-width: 1200px;
        height: calc(100vh - 160px);
        max-height: 800px;
        padding: space(10);
    }
}
