.dev-page_type_test .dev-page__uncaught-switcher
{
    padding: 10px 20px;
    position: relative;
    top: 20px;
    font: 12px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: gray;
}
