Source: yandex-market-checkout-push-api
Section: misc
Priority: optional
Maintainer: Michael Savelyev <msavelyev@yandex-team.ru>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.1

Package: yandex-market-checkout-push-api
Architecture: all
Depends: yandex-jdk7 (>=7.17), yandex-market-datasources (>= 1.0-124), yandex-environment
Description: Marketplace PushAPI
