#!/usr/bin/make -f

package=yandex-market-checkout-push-api
build:
	dh_testdir
	ant -Dmarket.svn.root=$(CURDIR)/../../../../../../svn/market -Dis.debuild=true -f  'rbuild.xml' rebuild
	touch build

clean:
	dh_testroot
	dh_testdir
	rm -rf debian/tmp
	ant -Dmarket.svn.root=$(CURDIR)/../../../../../../svn/market -f 'rbuild.xml' clean
	rm -rf build
	dh_clean

binary-indep: build

binary-arch: build

binary: binary-indep binary-arch
	dh_testroot
	dh_testdir
	dh_installdirs
	dh_installinit -r --no-start --name=market-checkout-push-api -u defaults
	ant -Dmarket.svn.root=$(CURDIR)/../../../../../../svn/market -Ddest.dir=$(CURDIR)/debian/tmp -f 'rbuild.xml' install
	dh_installdeb
	dh_gencontrol
	dh_fixperms
	dh_md5sums
	dh_builddeb -- -Zgzip

.PHONY: binary binary-arch binary-indep clean checkroot
