.modal :global(.Modal-Content) {
    display: inline-grid;
    grid-gap: 10px;

    width: 400px;
    padding: 20px;

    border-radius: 4px;
}

.title {
    display: block;
}

.error {
    display: block;

    color: #c00;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.spin {
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    margin: auto;
}
