# Необходимо убрать расширение .template, чтобы запускать тесты в IDEA с профилем, который содержит внутреннюю базу
# Для запуска тестов через ya make строку лучше закомментировать, чтобы не вносить помехи
# См. .arcignore, чтобы узнать, какие файлы не будут участвовать в коммитах
spring.profiles.active=functionalTest
