market.loyalty.yt.client.oauth.token=aaaa
market.loyalty.yt.yql.oauth.token=aaaa
bre.url=https://bre.tst.vs.market.yandex.net
bre.http.max.con.total=100
bre.http.max.con.per.route=100
bre.http.con.timeout.millis=200
bre.http.read.timeout.millis=1000
