<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
<Appenders>
    <Console name="CONSOLE" target="SYSTEM_OUT">
        <PatternLayout pattern="%d %-5p [%c{1} %t] %m%n"/>
    </Console>
</Appenders>
<Loggers>
    <Root level="debug">
        <AppenderRef ref="CONSOLE"/>
    </Root>
    <Logger name="requestTrace" level="debug" additivity="false">
        <AppenderRef ref="CONSOLE"/>
    </Logger>

    <!--    https://docs.jboss.org/hibernate/core/3.3/reference/en/html/session-configuration.html#configuration-logging -->
    <Logger name="org.hibernate" level="info" additivity="false">
        <AppenderRef ref="CONSOLE"/>
    </Logger>
</Loggers>
</Configuration>
