<configuration>
    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} | %highlight(%.-1level) | %thread, %logger{36} : %message%n</pattern>
        </encoder>
    </appender>
    <logger name="ru.yandex.market" level="info"/>
    <root level="warn">
        <appender-ref ref="stdout"/>
    </root>
</configuration>
