<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_DATEFORMAT_PATTERN" value="ISO8601, Europe/Moscow" />

    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <include resource="logback-appenders/business-log-console.xml"/>


    <logger name="business-log" level="INFO" additivity="false">
        <appender-ref ref="business-log-console" />
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
