<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d] %-5p [%t] %mdc %c{5}:%L %m%n</pattern>
        </encoder>
    </appender>

    <logger name="ACCESS_LOG" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="requestTrace" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="METRICS_LOG" additivity="false">
        <level value="TRACE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="ru.yandex.market.crm" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="org.springframework" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="ru.yandex" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <logger name="ru.yandex.misc.io.http.apache" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

<!--    <logger name="ru.yandex.market.jmf.bcp" additivity="false">-->
<!--        <level value="DEBUG"/>-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

<!--    <logger name="bcp" additivity="false">-->
<!--        <level value="DEBUG"/>-->
<!--        <appender-ref ref="CONSOLE"/>-->
<!--    </logger>-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
