.gemini__capture {
    display: inline-block;

    padding: 10px 20px;
}

.gemini__variation,
.gemini__item {
    padding: 5px;
}

.gemini__variation {
    display: inline-block;
}

.gemini#pin .gemini__variation {
    display: block;

    width: 650px;
}


@media screen and (max-width: 400px) {
    .gemini {
        width: 320px;
    }

    .gemini__capture {
        display: block;

        padding: 10px 20px;
    }

    .gemini__variation,
    .gemini__item {
        padding: 5px;
    }

    .gemini__variation {
        display: block;
    }

    .gemini#pin .gemini__variation {
        display: block;

        width: auto;
    }
}
