.sb-hermione,
.sb-hermione *,
.sb-hermione *::before,
.sb-hermione *::after {
    animation-delay: 0s !important;
    animation-duration: 0s !important;
    transition: none !important;
}

.sb-hermione input,
.sb-hermione textarea {
    caret-color: transparent;
}

.sb-hermione-modal-scroll {
    overflow: auto !important;
}

.sb-hermione-modal-scroll [data-portal-id] > * {
    height: auto;
    overflow: hidden;
    position: relative;
}
