.gemini {
    position: relative;

    display: block;

    margin: 20px;
}

.gemini_position_center {
    display: inline-block;
}

.gemini__spin-container {
    position: relative;

    display: inline-block;

    width: 50px;
    height: 50px;
    margin: 0 5px;

    border: 1px solid #ccc;
}

.gemini .gemini__spin-container .spin2 {
    margin: 0;
}

.gemini .spin2 {
    margin-left: 10px;
}

/* Замораживаем вращение для gemini */
.gemini .spin2_progress_yes {
    animation-play-state: paused !important;
}
