# Sandbox (get token here https://sandbox.yandex-team.ru/oauth/token)
tsup.redis.sandbox-token=

embedded.postgres=zonky

# Для запуска тестов в локальной БД раскомменть это и закомменть строку выше:
# embedded.postgres=docker
# embedded.postgres.docker.port=54321
# embedded.postgres.docker.host=localhost
# embedded.postgres.docker.username=postgres
# embedded.postgres.docker.password=postgres
