<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf8</charset>
        </encoder>
    </appender>

    <!--don't uncomment, use these properties only for local debug-->
    <!--If you leave these properties uncommented, tests will produce too many logs, and will hang for very long time-->
    <!--<logger name="org.hibernate.SQL" level="DEBUG"/>-->
    <!--<logger name="org.hibernate.type" level="ALL" />-->
    <!--<logger name="org.hibernate" level="DEBUG" />-->

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
