.YandexMarketCheckLink {
    font-size: var(--size-typo-m);
    font-weight: var(--text-medium);
    font-style: normal;
    line-height: var(--line-height-typo-m);

    &-Text {
        display: flex;

        width: 100%;
        margin-left: 10px;

        color: #27af4c;
    }

    &-Icon {
        display: flex;
    }

    .NavigationLinkWithArrow-Link {
        display: flex;
        align-items: center;

        width: 100%;
    }
}
