WhitelistedHotel { Permalink: 141163968278; PartnerId: PI_TRAVELLINE; OriginalId: "5199"; }  # Station Premier S10
WhitelistedHotel { Permalink: 43957547420; PartnerId: PI_TRAVELLINE; OriginalId: "8944"; }  # Station L1
WhitelistedHotel { Permalink: 14279626634; PartnerId: PI_TRAVELLINE; OriginalId: "12514"; }  # Station Premier v18
WhitelistedHotel { Permalink: 1399457412; PartnerId: PI_TRAVELLINE; OriginalId: "8761"; }  # Station Z12
WhitelistedHotel { Permalink: 1729086716; PartnerId: PI_TRAVELLINE; OriginalId: "8760"; }  # Station M19
WhitelistedHotel { Permalink: 1236916645; PartnerId: PI_TRAVELLINE; OriginalId: "8758"; }  # Station G73
WhitelistedHotel { Permalink: 205735935534; PartnerId: PI_TRAVELLINE; OriginalId: "8856"; }  # Station S13
