WhitelistedHotel { Permalink: 216452102384; PartnerId: PI_TRAVELLINE; OriginalId: "1709"; }  # Отель «Имеретинский»
WhitelistedHotel { Permalink: 1794919589; PartnerId: PI_TRAVELLINE; OriginalId: "3459"; }  # Апарт-отель Имеретинский - Прибрежный квартал 3*
WhitelistedHotel { Permalink: 1437647275; PartnerId: PI_TRAVELLINE; OriginalId: "4562"; }  # Апарт-отель Имеретинский - Парковый квартал 4*
WhitelistedHotel { Permalink: 47111144800; PartnerId: PI_TRAVELLINE; OriginalId: "4561"; }  # Апарт-отель Имеретинский - Заповедный квартал 4*
WhitelistedHotel { Permalink: 194915052618; PartnerId: PI_TRAVELLINE; OriginalId: "13122"; }  # 39rooms
WhitelistedHotel { Permalink: 1719848207; PartnerId: PI_TRAVELLINE; OriginalId: "4225"; }  # Апарт-отель Имеретинский - Морской Квартал 4*
WhitelistedHotel { Permalink: 1063437532; PartnerId: PI_TRAVELLINE; OriginalId: "349"; }  # Эмеральд
