WhitelistedHotel { Permalink: 1099363611; PartnerId: PI_TRAVELLINE; OriginalId: "13624"; }  # Константинополь
WhitelistedHotel { Permalink: 1807058349; PartnerId: PI_TRAVELLINE; OriginalId: "5691"; }  # Корфу
WhitelistedHotel { Permalink: 104642205019; PartnerId: PI_TRAVELLINE; OriginalId: "13202"; }  # ДельМарИнн
WhitelistedHotel { Permalink: 114346044095; PartnerId: PI_TRAVELLINE; OriginalId: "11000"; }  # Империал
WhitelistedHotel { Permalink: 1110089223; PartnerId: PI_TRAVELLINE; OriginalId: "13194"; }  # Имера
