WhitelistedHotel { Permalink: 222499155986; PartnerId: PI_TRAVELLINE; OriginalId: "8290"; }  # Арт Нуво
WhitelistedHotel { Permalink: 178245388982; PartnerId: PI_TRAVELLINE; OriginalId: "13328"; }  # Арт Деко Невский
WhitelistedHotel { Permalink: 179858010415; PartnerId: PI_TRAVELLINE; OriginalId: "14629"; }  # Арт Деко Приморский
