# content of this file will be recalculated using application date
# key for this file is (AffiliatePartnerName, Category, OrderType, UserId)
# records containing key fields equals to "*" are multiplied as product of all available values
# UserId may not be equal to "*"
# next records overrides previous with the same key
# if record is not applicable by date it will be skipped

CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "avia";
    OrderType: "*";
    UserId: "2659711";
    StartAt: "2022-08-01";
    Commission: 0.039;
}
CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "hotels";
    OrderType: "boy";
    UserId: "2659711";
    StartAt: "2022-08-01";
    Commission: 0.156;
}
CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "hotels";
    OrderType: "clickout";
    UserId: "2659711";
    StartAt: "2022-08-01";
    Commission: 0.078;
}
CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "train";
    OrderType: "*";
    UserId: "2659711";
    StartAt: "2022-08-01";
    Commission: 0.0975;
}

CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "avia";
    OrderType: "*";
    UserId: "2659711";
    EndAt: "2022-07-31";
    Commission: 0.04459;
}
CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "hotels";
    OrderType: "boy";
    UserId: "2659711";
    EndAt: "2022-07-31";
    Commission: 0.1781;
}
CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "hotels";
    OrderType: "clickout";
    UserId: "2659711";
    EndAt: "2022-07-31";
    Commission: 0.08918;
}
CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "train";
    OrderType: "*";
    UserId: "2659711";
    EndAt: "2022-07-31";
    Commission: 0.11141;
}
CommissionItem {
    AffiliatePartnerName: "distribution";
    Category: "avia";
    OrderType: "*";
    UserId: "2543864";
    Commission: 0.026;
}
CommissionItem {
    AffiliatePartnerName: "distribution";
    Category: "hotels";
    OrderType: "boy";
    UserId: "2543864";
    Commission: 0.104;
}
CommissionItem {
    AffiliatePartnerName: "distribution";
    Category: "hotels";
    OrderType: "clickout";
    UserId: "2543864";
    Commission: 0.052;
}
CommissionItem {
    AffiliatePartnerName: "distribution";
    Category: "train";
    OrderType: "*";
    UserId: "2543864";
    Commission: 0.065;
}
