# content of this file will be recalculated using application date
# key for this file is (AffiliatePartnerName, Category, OrderType)
# records containing key fields equals to "*" are multiplied as product of all available values
# next records overrides previous with the same key
# if record is not applicable by date it will be skipped

# hotels
CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "hotels";
    OrderType: "boy";
    Commission: 0.137;
}
CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "hotels";
    OrderType: "clickout";
    Commission: 0.0686;
}
CommissionItem {
    AffiliatePartnerName: "distribution";
    Category: "hotels";
    OrderType: "boy";
    Commission: 0.08;
}
CommissionItem {
    AffiliatePartnerName: "distribution";
    Category: "hotels";
    OrderType: "clickout";
    Commission: 0.04;
}
CommissionItem {
    AffiliatePartnerName: "travelpayouts";
    Category: "hotels";
    OrderType: "boy";
    Commission: 0.104;
}
CommissionItem {
    AffiliatePartnerName: "travelpayouts";
    Category: "hotels";
    OrderType: "clickout";
    Commission: 0.052;
}
CommissionItem {
    AffiliatePartnerName: "ixbt";
    Category: "hotels";
    OrderType: "boy";
    Commission: 0.08;
}
CommissionItem {
    AffiliatePartnerName: "ixbt";
    Category: "hotels";
    OrderType: "clickout";
    Commission: 0.04;
}
CommissionItem {
    AffiliatePartnerName: "s7";
    Category: "hotels";
    OrderType: "boy";
    Commission: 0.12;
}
CommissionItem {
    AffiliatePartnerName: "tinkoff";
    Category: "hotels";
    OrderType: "boy";
    Commission: 0.12;
}

# train
CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "train";
    OrderType: "boy";
    Commission: 0.0857;
}
CommissionItem {
    AffiliatePartnerName: "distribution";
    Category: "train";
    OrderType: "boy";
    Commission: 0.05;
}
CommissionItem {
    AffiliatePartnerName: "travelpayouts";
    Category: "train";
    OrderType: "boy";
    Commission: 0.065;
}
CommissionItem {
    AffiliatePartnerName: "ixbt";
    Category: "train";
    OrderType: "boy";
    Commission: 0.05;
}

# avia
CommissionItem {
    AffiliatePartnerName: "admitad";
    Category: "avia";
    OrderType: "*";
    Commission: 0.0343;
}
CommissionItem {
    AffiliatePartnerName: "distribution";
    Category: "avia";
    OrderType: "*";
    Commission: 0.02;
}
CommissionItem {
    AffiliatePartnerName: "travelpayouts";
    Category: "avia";
    OrderType: "*";
    Commission: 0.02;
}
CommissionItem {
    AffiliatePartnerName: "ixbt";
    Category: "avia";
    OrderType: "*";
    Commission: 0.02;
}
