OfferBus {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/offer_bus";

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"

    CacheFileName: "/data_ssd/offer_bus.db"
    CacheDataVersion: 1
}

OfferReqBus {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/offerreq_bus";

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"
}

WarmerStateBus {
    Writer {
        User: "robot-travel-test"
        TablePath: "//home/travel/testing/warmer_state_bus";

        ClusterName: "hahn"
        ClusterName: "arnold"
        ClusterName: "seneca-sas"
        ClusterName: "seneca-vla"
    }
    Reader {
        User: "robot-travel-test"
        TablePath: "//home/travel/testing/warmer_state_bus";

        ClusterName: "hahn"
        ClusterName: "arnold"
        ClusterName: "seneca-sas"
        ClusterName: "seneca-vla"

        ReadRowLimit: 30000
    }
}

OfferCache {
    Address: "travel-hotels-offercache-test.yandex.net:12575"
}

Other {
    MainLogFile: "/logs/boiler.log"

    DataPath: "/data"
}

Boiler {
  CostDefaultSubKey: 10.0
}

GreyWarmer {
    HotelsGreylist {
        YtProxy: "hahn"
        YtTablePath: "//home/travel/testing/general/hotels_greylist/greylisted_hotels"

        PollPeriodSec: 600
        PollPeriodOnErrorSec: 60
    }
}

Sender {
    YpAutoResolver {
        YpServiceDiscoveryAddress: "sd.yandex.net:8081"
        Cluster: "man"
        Cluster: "sas"
        Cluster: "vla"
        EndpointSetId: "travel-hotels-boiler-testing"
    }
}

YtConfigPartners {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/partners"
}

HotelsGreylist {
    YtProxy: "hahn"
    YtTablePath: "//home/travel/testing/general/hotels_greylist/greylisted_hotels"
    # Blacklisted hotels should not be warmed too, but format of tables is wrong
    YtTablePath: "//home/travel/testing/config/hotels_blacklist"

    PollPeriodSec: 600
    PollPeriodOnErrorSec: 60
}
