Other {
    MainLogFile: "/logs/busbroker.log"

    DataPath: "/data"
}

OfferBusWriter {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/offer_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"
}

YtConfigPartners {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/partners"
}

PermalinkToClusterMapper {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/prod/general/altay_mappings/latest/permalink_to_cluster_permalink"
}

PermalinkToOriginalIdsMapper {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/prod/general/altay_mappings/latest/altay_hotel_mappings"
}

TvmService {
    SelfClientId: 2024315
    AllowedSourceClientId: 2024319
    AllowedSourceClientId: 2002548
    AllowedSourceClientId: 2018448
}
