Other {
    MainLogFile: "/logs/geocounter.log"

    DataPath: "/data"
}

GeoCounterRecordsTable {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/general/geocounter_data/latest/geocounter_table"
}

PricesTable {
   YtProxy: "hahn"
   YtProxy: "arnold"
   YtTablePath: "//home/travel/testing/prices/price_filter_data/latest/price_filter_data"
}

HotelTraitsTable {
    YtProxy: "hahn"
    YtTablePath: "//home/travel/prod/feeds/hotel_traits/latest/hotel_traits_traits"
}

OfferBus {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/offer_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"

    CacheFileName: "/data/offer_bus.db"
}

OriginalIdToPermalinkMapper {
    YtProxy: "hahn"
    YtTablePath: "//home/travel/prod/general/altay_mappings/latest/partnerid_originalid_to_cluster_permalink"
}

YtConfigPartners {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/partners"
}

OfferCacheClient {
    Address: "travel-hotels-offercache-test.yandex.net:12575"
}

RegionsTable {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/general/geocounter_data/latest/regions_table"
}

ReqAnsLogger {
    Json {
        File: "/logs/reqans_geocounter.log"
    }
}

PromoServiceClient {
    Address: "travel-hotels-offercache-test.yandex.net:12599"
}

TvmService {
    SelfClientId: 2032414
    TvmSecret: "${ENV:TVM_SECRET}"
}

SortOptions {
    CatBoostModel: {
        ModelPath: "./catboost_realtime_model"

        CatFeatures {
            FeatureName: "geoid_city",
            StaticFeatureSource: {
                Name: "geoid_city"; DefaultValue: "-9999"
            }
        }
        CatFeatures {
            FeatureName: "geoid_country",
            StaticFeatureSource: {
                Name: "geoid_country"; DefaultValue: "-9999"
            }
        }
        CatFeatures {
            FeatureName: "geoid_town",
            StaticFeatureSource: {
                Name: "geoid_town"; DefaultValue: "-9999"
            }
        }
        CatFeatures {
            FeatureName: "hotel_kind",
            StaticFeatureSource: {
                Name: "hotel_kind"; DefaultValue: "-9999"
            }
        }
        CatFeatures {
            FeatureName: "hotel_price_category",
            StaticFeatureSource: {
                Name: "hotel_price_category"; DefaultValue: "-9999"
            }
        }
        FloatFeatures {
            FeatureName: "ctr_hp_sm",
            StaticFeatureSource: {
                Name: "rating_amount"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "ctr_redir_sm",
            StaticFeatureSource: {
                Name: "rating_amount"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "ctr_sell_sm",
            StaticFeatureSource: {
                Name: "rating_amount"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "rating_amount",
            StaticFeatureSource: {
                Name: "rating_amount"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "rating_value",
            StaticFeatureSource: {
                Name: "rating_value"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_distance_to_airport",
            StaticFeatureSource: {
                Name: "hotel_distance_to_airport"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_distance_to_center",
            StaticFeatureSource: {
                Name: "hotel_distance_to_center"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_distance_to_sea",
            StaticFeatureSource: {
                Name: "hotel_distance_to_sea"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_airport_nearby",
            StaticFeatureSource: {
                Name: "hotel_airport_nearby"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_center_nearby",
            StaticFeatureSource: {
                Name: "hotel_center_nearby"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_has_carpark",
            StaticFeatureSource: {
                Name: "hotel_has_carpark"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_has_pool",
            StaticFeatureSource: {
                Name: "hotel_has_pool"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_has_private_beach",
            StaticFeatureSource: {
                Name: "hotel_has_private_beach"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_room_number",
            StaticFeatureSource: {
                Name: "hotel_room_number"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_sea_nearby",
            StaticFeatureSource: {
                Name: "hotel_sea_nearby"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "hotel_stars",
            StaticFeatureSource: {
                Name: "hotel_stars"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "is_chain",
            StaticFeatureSource: {
                Name: "is_chain"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "AvailabilityProbability_boy",
            StaticFeatureSource: {
                Name: "AvailabilityProbability_boy"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "IsBoY_whitelist",
            StaticFeatureSource: {
                Name: "IsBoY_whitelist"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_amount",
            StaticFeatureSource: {
                Name: "photos_amount"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_avg_beautiful",
            StaticFeatureSource: {
                Name: "photos_avg_beautiful"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_avg_gruesome",
            StaticFeatureSource: {
                Name: "photos_avg_gruesome"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_avg_quality",
            StaticFeatureSource: {
                Name: "photos_avg_quality"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_avg_watermark",
            StaticFeatureSource: {
                Name: "photos_avg_watermark"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_first_beautiful",
            StaticFeatureSource: {
                Name: "photos_first_beautiful"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_first_exterior",
            StaticFeatureSource: {
                Name: "photos_first_exterior"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_first_food",
            StaticFeatureSource: {
                Name: "photos_first_food"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_first_gruesome",
            StaticFeatureSource: {
                Name: "photos_first_gruesome"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_first_interior",
            StaticFeatureSource: {
                Name: "photos_first_interior"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_first_menu",
            StaticFeatureSource: {
                Name: "photos_first_menu"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_first_panorama",
            StaticFeatureSource: {
                Name: "photos_first_panorama"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_first_quality",
            StaticFeatureSource: {
                Name: "photos_first_quality"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "photos_first_watermark",
            StaticFeatureSource: {
                Name: "photos_first_watermark"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "AvailabilityProbability",
            StaticFeatureSource: {
                Name: "AvailabilityProbability"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MaxMedianMaxPrice_city",
            StaticFeatureSource: {
                Name: "MaxMedianMaxPrice_city"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MaxMedianMaxPrice_country",
            StaticFeatureSource: {
                Name: "MaxMedianMaxPrice_country"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MaxMedianMaxPrice_town",
            StaticFeatureSource: {
                Name: "MaxMedianMaxPrice_town"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMaxPrice_city",
            StaticFeatureSource: {
                Name: "MedianMaxPrice_city"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMaxPrice_country",
            StaticFeatureSource: {
                Name: "MedianMaxPrice_country"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMaxPrice_normed_cc",
            StaticFeatureSource: {
                Name: "MedianMaxPrice_normed_cc"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMaxPrice_normed_city",
            StaticFeatureSource: {
                Name: "MedianMaxPrice_normed_city"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMaxPrice_normed_country",
            StaticFeatureSource: {
                Name: "MedianMaxPrice_normed_country"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMaxPrice_normed_town",
            StaticFeatureSource: {
                Name: "MedianMaxPrice_normed_town"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMaxPrice_town",
            StaticFeatureSource: {
                Name: "MedianMaxPrice_town"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMinPrice_city",
            StaticFeatureSource: {
                Name: "MedianMinPrice_city"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMinPrice_country",
            StaticFeatureSource: {
                Name: "MedianMinPrice_country"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMinPrice_normed_cc",
            StaticFeatureSource: {
                Name: "MedianMinPrice_normed_cc"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMinPrice_normed_city",
            StaticFeatureSource: {
                Name: "MedianMinPrice_normed_city"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMinPrice_normed_country",
            StaticFeatureSource: {
                Name: "MedianMinPrice_normed_country"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMinPrice_normed_town",
            StaticFeatureSource: {
                Name: "MedianMinPrice_normed_town"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MedianMinPrice_town",
            StaticFeatureSource: {
                Name: "MedianMinPrice_town"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MinMedianMinPrice_city",
            StaticFeatureSource: {
                Name: "MinMedianMinPrice_city"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MinMedianMinPrice_country",
            StaticFeatureSource: {
                Name: "MinMedianMinPrice_country"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "MinMedianMinPrice_town",
            StaticFeatureSource: {
                Name: "MinMedianMinPrice_town"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "SingleNightMaxPrice",
            StaticFeatureSource: {
                Name: "SingleNightMaxPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "SingleNightMedianMaxPrice",
            StaticFeatureSource: {
                Name: "SingleNightMedianMaxPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "SingleNightMedianMinPrice",
            StaticFeatureSource: {
                Name: "SingleNightMedianMinPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "SingleNightMinPrice",
            StaticFeatureSource: {
                Name: "SingleNightMinPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "SingleNightOrUniformlyInterpolatedMaxPrice",
            StaticFeatureSource: {
                Name: "SingleNightOrUniformlyInterpolatedMaxPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "SingleNightOrUniformlyInterpolatedMedianMaxPrice",
            StaticFeatureSource: {
                Name: "SingleNightOrUniformlyInterpolatedMedianMaxPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "SingleNightOrUniformlyInterpolatedMedianMinPrice",
            StaticFeatureSource: {
                Name: "SingleNightOrUniformlyInterpolatedMedianMinPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "SingleNightOrUniformlyInterpolatedMinPrice",
            StaticFeatureSource: {
                Name: "SingleNightOrUniformlyInterpolatedMinPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "UniformlyInterpolatedMaxPrice",
            StaticFeatureSource: {
                Name: "UniformlyInterpolatedMaxPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "UniformlyInterpolatedMedianMaxPrice",
            StaticFeatureSource: {
                Name: "UniformlyInterpolatedMedianMaxPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "UniformlyInterpolatedMedianMinPrice",
            StaticFeatureSource: {
                Name: "UniformlyInterpolatedMedianMinPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "UniformlyInterpolatedMinPrice",
            StaticFeatureSource: {
                Name: "UniformlyInterpolatedMinPrice"; DefaultValue: -9999
            }
        }
        FloatFeatures {
            FeatureName: "174:0:gender:m:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 174; SegmentId: 0; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "174:1:gender:f:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 174; SegmentId: 1; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "543:0:user_age_6s:0_17:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 543; SegmentId: 0; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "543:1:user_age_6s:18_24:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 543; SegmentId: 1; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "543:2:user_age_6s:25_34:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 543; SegmentId: 2; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "543:3:user_age_6s:35_44:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 543; SegmentId: 3; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "543:4:user_age_6s:45_54:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 543; SegmentId: 4; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "543:5:user_age_6s:55_99:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 543; SegmentId: 5; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "614:0:income_5_segments:A:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 614; SegmentId: 0; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "614:1:income_5_segments:B1:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 614; SegmentId: 1; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "614:2:income_5_segments:B2:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 614; SegmentId: 2; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "614:3:income_5_segments:C1:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 614; SegmentId: 3; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "614:4:income_5_segments:C2:WEIGHTED",
            BigbSegmentWeightSource: {
                KeywordId: 614; SegmentId: 4; DefaultValue: 0
            }
        }
        FloatFeatures {
            FeatureName: "174:0:gender:m:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 174; SegmentId: 0; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "174:1:gender:f:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 174; SegmentId: 1; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "543:0:user_age_6s:0_17:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 543; SegmentId: 0; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "543:1:user_age_6s:18_24:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 543; SegmentId: 1; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "543:2:user_age_6s:25_34:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 543; SegmentId: 2; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "543:3:user_age_6s:35_44:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 543; SegmentId: 3; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "543:4:user_age_6s:45_54:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 543; SegmentId: 4; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "543:5:user_age_6s:55_99:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 543; SegmentId: 5; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1023:heuristic_segments:segment_family_status_married:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1023; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1024:heuristic_segments:segment_family_status_not_married:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1024; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1026:heuristic_segments:segment_family_has_infants:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1026; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1027:heuristic_segments:segment_family_has_children_1_3:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1027; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1028:heuristic_segments:segment_family_has_children_3_6:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1028; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1029:heuristic_segments:segment_family_has_children_6_11:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1029; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1030:heuristic_segments:segment_family_has_children_11_16:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1030; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1043:heuristic_segments:segment_bd2f8563:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1043; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1045:heuristic_segments:segment_647009ee:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1045; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1046:heuristic_segments:segment_a2ca4eec:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1046; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1047:heuristic_segments:segment_e9402061:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1047; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1048:heuristic_segments:segment_07804b5b:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1048; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1049:heuristic_segments:segment_77272017:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1049; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1050:heuristic_segments:segment_dff46ae2:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1050; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1055:heuristic_segments:segment_e45e2096:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1055; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1056:heuristic_segments:segment_bfe1ae3a:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1056; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1057:heuristic_segments:segment_86d40600:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1057; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1058:heuristic_segments:segment_c2c9fa67:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1058; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1059:heuristic_segments:segment_c65e8ebf:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1059; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1060:heuristic_segments:segment_de5ae29b:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1060; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1061:heuristic_segments:segment_5a0e35a3:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1061; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1062:heuristic_segments:segment_5c3ec7d2:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1062; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1063:heuristic_segments:segment_b1ca29ad:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1063; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1064:heuristic_segments:segment_a9b0483c:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1064; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1065:heuristic_segments:segment_b65d65a0:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1065; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1066:heuristic_segments:segment_2d89bcc9:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1066; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1105:heuristic_segments:segment_visited_hotels:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1105; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1107:heuristic_segments:segment_visited_hostels:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1107; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1192:heuristic_segments:segment_20f8a577:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1192; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1193:heuristic_segments:segment_0ca1964d:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1193; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1918:heuristic_segments:segment_d021966a:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1918; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:1919:heuristic_segments:segment_132dc2d0:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 1919; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:2044:heuristic_segments:segment_bc2c68cd:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 2044; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:2677:heuristic_segments:segment_e10ec8d5:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 2677; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "547:2861:heuristic_segments:segment_960a3cca:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 547; SegmentId: 2861; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2021722527:audience_segments:segment_c1e7907a:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2021722527; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2021722538:audience_segments:segment_c1e7907a:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2021722538; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2021722546:audience_segments:segment_c1e7907a:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2021722546; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2021722554:audience_segments:segment_c1e7907a:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2021722554; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2021722561:audience_segments:segment_c1e7907a:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2021722561; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2022474687:audience_segments:segment_9a0e3b30:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2022474687; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2022516470:audience_segments:segment_9a0e3b30:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2022516470; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2022516495:audience_segments:segment_9a0e3b30:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2022516495; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2022516537:audience_segments:segment_9a0e3b30:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2022516537; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2022516848:audience_segments:segment_9a0e3b30:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2022516848; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2022516900:audience_segments:segment_9a0e3b30:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2022516900; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2022695928:audience_segments:segment_a9c0d70e:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2022695928; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "557:2022695931:audience_segments:segment_a9c0d70e:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 557; SegmentId: 2022695931; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:103:longterm_interests:segment_holidays_in_europe:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 103; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:113:longterm_interests:segment_childrens_holidays:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 113; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:123:longterm_interests:segment_holidays_in_australia_and_oceania:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 123; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:129:longterm_interests:segment_ski_holidays:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 129; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:135:longterm_interests:segment_travel_insurance:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 135; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:142:longterm_interests:segment_flight_tickets:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 142; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:143:longterm_interests:segment_wedding_holidays:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 143; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:144:longterm_interests:segment_holidays_in_africa:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 144; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:151:longterm_interests:segment_holidays_in_asia:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 151; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:174:longterm_interests:segment_holidays_in_america:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 174; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:178:longterm_interests:segment_cruises:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 178; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:201:longterm_interests:segment_intercity_buses:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 201; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:217:longterm_interests:segment_train_tickets:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 217; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:219:longterm_interests:segment_hotels:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 219; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:342:longterm_interests:segment_d9bb10ab:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 342; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:344:longterm_interests:segment_b8e63679:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 344; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:346:longterm_interests:segment_ab29c54e:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 346; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:348:longterm_interests:segment_43d045a9:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 348; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:350:longterm_interests:segment_87ba5032:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 350; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:352:longterm_interests:segment_c1a52a1d:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 352; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:39:longterm_interests:segment_holydays_in_russia:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 39; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:73:longterm_interests:segment_hiking_holidays:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 73; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "601:74:longterm_interests:segment_car_rental:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 601; SegmentId: 74; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:103:shortterm_interests:segment_holidays_in_europe:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 103; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:113:shortterm_interests:segment_childrens_holidays:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 113; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:123:shortterm_interests:segment_holidays_in_australia_and_oceania:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 123; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:129:shortterm_interests:segment_ski_holidays:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 129; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:135:shortterm_interests:segment_travel_insurance:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 135; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:142:shortterm_interests:segment_flight_tickets:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 142; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:143:shortterm_interests:segment_wedding_holidays:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 143; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:144:shortterm_interests:segment_holidays_in_africa:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 144; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:151:shortterm_interests:segment_holidays_in_asia:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 151; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:174:shortterm_interests:segment_holidays_in_america:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 174; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:178:shortterm_interests:segment_cruises:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 178; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:201:shortterm_interests:segment_intercity_buses:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 201; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:217:shortterm_interests:segment_train_tickets:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 217; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:219:shortterm_interests:segment_hotels:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 219; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:342:shortterm_interests:segment_d9bb10ab:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 342; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:344:shortterm_interests:segment_b8e63679:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 344; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:346:shortterm_interests:segment_ab29c54e:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 346; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:348:shortterm_interests:segment_43d045a9:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 348; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:350:shortterm_interests:segment_87ba5032:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 350; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:352:shortterm_interests:segment_c1a52a1d:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 352; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:39:shortterm_interests:segment_holydays_in_russia:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 39; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:73:shortterm_interests:segment_hiking_holidays:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 73; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "602:74:shortterm_interests:segment_car_rental:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 602; SegmentId: 74; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "614:0:income_5_segments:A:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 614; SegmentId: 0; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "614:1:income_5_segments:B1:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 614; SegmentId: 1; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "614:2:income_5_segments:B2:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 614; SegmentId: 2; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "614:3:income_5_segments:C1:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 614; SegmentId: 3; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
        FloatFeatures {
            FeatureName: "614:4:income_5_segments:C2:NO_VALUE",
            BigbSegmentPresenceSource: {
                KeywordId: 614; SegmentId: 4; DefaultValue: -9999; ValueOnAbsent: 0; ValueOnPresent: 1
            }
        }
    }
}
