WhitelistedHotel { Permalink: 1151794725;  PartnerId: PI_TRAVELLINE; OriginalId: "9775";  }  # Пушкин
WhitelistedHotel { Permalink: 1002445907;  PartnerId: PI_TRAVELLINE; OriginalId: "742";   }  # Вега
WhitelistedHotel { Permalink: 89918417909; PartnerId: PI_TRAVELLINE; OriginalId: "13865"; }  # Портобелло
WhitelistedHotel { Permalink: 1058529083; PartnerId: PI_TRAVELLINE; OriginalId: "12386"; }  # Камея
WhitelistedHotel { Permalink: 1334918546; PartnerId: PI_TRAVELLINE; OriginalId: "3201"; }  # Бардин
WhitelistedHotel { Permalink: 1011203508; PartnerId: PI_TRAVELLINE; OriginalId: "1604"; }  # 1913 год
WhitelistedHotel { Permalink: 125998979902; PartnerId: PI_TRAVELLINE; OriginalId: "7049"; }  # Лиготель
WhitelistedHotel { Permalink: 1001396370; PartnerId: PI_TRAVELLINE; OriginalId: "133"; }  # Русь
WhitelistedHotel { Permalink: 1083683807; PartnerId: PI_TRAVELLINE; OriginalId: "203"; }  # Брайтон
WhitelistedHotel { Permalink: 1527665486; PartnerId: PI_TRAVELLINE; OriginalId: "1027"; }  # Пушка ИНН
WhitelistedHotel { Permalink: 1139205359; PartnerId: PI_TRAVELLINE; OriginalId: "373"; }  # Звездная
WhitelistedHotel { Permalink: 204417307629; PartnerId: PI_TRAVELLINE; OriginalId: "7054"; }  # Окуневая
WhitelistedHotel { Permalink: 1164768982; PartnerId: PI_TRAVELLINE; OriginalId: "14863"; }  # Шелфорт Санкт-Петербург
WhitelistedHotel { Permalink: 191826080235; PartnerId: PI_TRAVELLINE; OriginalId: "9095"; }  # Верона Санкт-Петербург
WhitelistedHotel { Permalink: 1390514204; PartnerId: PI_TRAVELLINE; OriginalId: "6888"; }  # Деметра Арт отель
WhitelistedHotel { Permalink: 150831865298; PartnerId: PI_TRAVELLINE; OriginalId: "8072"; }  # Белое дерево
WhitelistedHotel { Permalink: 1194266378; PartnerId: PI_TRAVELLINE; OriginalId: "3228"; }  # М-отель Санкт-Петербург
WhitelistedHotel { Permalink: 1220189343; PartnerId: PI_TRAVELLINE; OriginalId: "595"; }  # Гамма
WhitelistedHotel { Permalink: 1207276635; PartnerId: PI_TRAVELLINE; OriginalId: "1423"; }  # Дельта
WhitelistedHotel { Permalink: 1127980138; PartnerId: PI_TRAVELLINE; OriginalId: "3887"; }  # Амбассадор
WhitelistedHotel { Permalink: 1175904286; PartnerId: PI_TRAVELLINE; OriginalId: "1257"; }  # Вилла-Елена
WhitelistedHotel { Permalink: 142039737801; PartnerId: PI_TRAVELLINE; OriginalId: "9243"; }  # Апарт-Отель Комфорт
WhitelistedHotel { Permalink: 1366246308; PartnerId: PI_TRAVELLINE; OriginalId: "3418"; }  # Отель Гринвуд
WhitelistedHotel { Permalink: 138279614147; PartnerId: PI_TRAVELLINE; OriginalId: "12389"; }  # Golden Tulip Krasnodar
WhitelistedHotel { Permalink: 1394961032; PartnerId: PI_TRAVELLINE; OriginalId: "3861"; }  # Апартотель Форвард
WhitelistedHotel { Permalink: 1267470510; PartnerId: PI_TRAVELLINE; OriginalId: "6219"; }  # Спортивная (Крым)
WhitelistedHotel { Permalink: 1213123470; PartnerId: PI_TRAVELLINE; OriginalId: "6218"; }  # Украина (Крым)
WhitelistedHotel { Permalink: 230501175828; PartnerId: PI_TRAVELLINE; OriginalId: "6217"; }  # Москва (Крым)
WhitelistedHotel { Permalink: 1110528794; PartnerId: PI_TRAVELLINE; OriginalId: "3604"; }  # Арт-отель Карелия
WhitelistedHotel { Permalink: 1021516934; PartnerId: PI_TRAVELLINE; OriginalId: "83"; }  # Аструс
WhitelistedHotel { Permalink: 1085472833; PartnerId: PI_TRAVELLINE; OriginalId: "120"; }  # Салют
WhitelistedHotel { Permalink: 1086521236; PartnerId: PI_TRAVELLINE; OriginalId: "580"; }  # Орбита
WhitelistedHotel { Permalink: 68572163802; PartnerId: PI_TRAVELLINE; OriginalId: "8446"; }  # Altay Village
WhitelistedHotel { Permalink: 1183988327; PartnerId: PI_TRAVELLINE; OriginalId: "1223"; }  # SkyPoint Hotel
WhitelistedHotel { Permalink: 47111144800; PartnerId: PI_TRAVELLINE; OriginalId: "4561"; }  # Апарт-отель Имеретинский - Заповедный квартал 4
WhitelistedHotel { Permalink: 1719848207; PartnerId: PI_TRAVELLINE; OriginalId: "4225"; }  # Апарт-отель Имеретинский - Морской квартал 4
WhitelistedHotel { Permalink: 1437647275; PartnerId: PI_TRAVELLINE; OriginalId: "4562"; }  # Апарт-отель Имеретинский - Парковый квартал 4
WhitelistedHotel { Permalink: 1794919589; PartnerId: PI_TRAVELLINE; OriginalId: "3459"; }  # Апарт-отель Имеретинский - Прибрежный квартал 3
WhitelistedHotel { Permalink: 216452102384; PartnerId: PI_TRAVELLINE; OriginalId: "1709"; }  # Отель «Имеретинский»
WhitelistedHotel { Permalink: 194915052618; PartnerId: PI_TRAVELLINE; OriginalId: "13122"; }  # 39rooms
WhitelistedHotel { Permalink: 1063437532; PartnerId: PI_TRAVELLINE; OriginalId: "349"; }  # Эмеральд
WhitelistedHotel { Permalink: 1099363611; PartnerId: PI_TRAVELLINE; OriginalId: "13624"; }  # Константинополь
WhitelistedHotel { Permalink: 1807058349; PartnerId: PI_TRAVELLINE; OriginalId: "5691"; }  # Корфу
WhitelistedHotel { Permalink: 104642205019; PartnerId: PI_TRAVELLINE; OriginalId: "13202"; }  # ДельМарИнн
WhitelistedHotel { Permalink: 114346044095; PartnerId: PI_TRAVELLINE; OriginalId: "11000"; }  # Империал
WhitelistedHotel { Permalink: 1110089223; PartnerId: PI_TRAVELLINE; OriginalId: "13194"; }  # Имера
WhitelistedHotel { Permalink: 189395090062; PartnerId: PI_TRAVELLINE; OriginalId: "10628"; }  # Статский советник (на Кустарном)
WhitelistedHotel { Permalink: 1140917114; PartnerId: PI_TRAVELLINE; OriginalId: "8802"; }  # Статский советник (на Загородном)
WhitelistedHotel { Permalink: 65968388479; PartnerId: PI_TRAVELLINE; OriginalId: "9979"; }  # Отель «Ариум»
WhitelistedHotel { Permalink: 141163968278; PartnerId: PI_TRAVELLINE; OriginalId: "5199"; }  # Station Premier S10
WhitelistedHotel { Permalink: 43957547420; PartnerId: PI_TRAVELLINE; OriginalId: "8944"; }  # Station L1
WhitelistedHotel { Permalink: 14279626634; PartnerId: PI_TRAVELLINE; OriginalId: "12514"; }  # Station Premier v18
WhitelistedHotel { Permalink: 1399457412; PartnerId: PI_TRAVELLINE; OriginalId: "8761"; }  # Station Z12
WhitelistedHotel { Permalink: 1729086716; PartnerId: PI_TRAVELLINE; OriginalId: "8760"; }  # Station M19
WhitelistedHotel { Permalink: 1236916645; PartnerId: PI_TRAVELLINE; OriginalId: "8758"; }  # Station G73
WhitelistedHotel { Permalink: 205735935534; PartnerId: PI_TRAVELLINE; OriginalId: "8856"; }  # Station S13
WhitelistedHotel { Permalink: 222499155986; PartnerId: PI_TRAVELLINE; OriginalId: "8290"; }  # Арт Нуво
WhitelistedHotel { Permalink: 178245388982; PartnerId: PI_TRAVELLINE; OriginalId: "13328"; }  # Арт Деко Невский
WhitelistedHotel { Permalink: 179858010415; PartnerId: PI_TRAVELLINE; OriginalId: "14629"; }  # Арт Деко Приморский
WhitelistedHotel { Permalink: 71033607815; PartnerId: PI_TRAVELLINE; OriginalId: "11209"; }  # Отель «Петровский»
WhitelistedHotel { Permalink: 1145723237; PartnerId: PI_TRAVELLINE; OriginalId: "823"; }  # Санаторий Знание

# Только в тестинге
WhitelistedHotel { Permalink: 184813721171; PartnerId: PI_TRAVELLINE; OriginalId: "8751"; }  # Station A1

# Bnovo
WhitelistedHotel { Permalink: 1296622370; PartnerId: PI_BNOVO; OriginalId: "1024"; }  # Принцесса Элиза
WhitelistedHotel { Permalink: 1229272167; PartnerId: PI_BNOVO; OriginalId: "2179"; }  # СуворовЪ
WhitelistedHotel { Permalink: 1310036862; PartnerId: PI_BNOVO; OriginalId: "69"; }  # Агиос
WhitelistedHotel { Permalink: 42; PartnerId: PI_BNOVO; OriginalId: "3056"; }  # Тестовый отель bnovo
WhitelistedHotel { Permalink: 50332071249; PartnerId: PI_BNOVO; OriginalId: "249"; }  # Апельсин
WhitelistedHotel { Permalink: 230803205213; PartnerId: PI_BNOVO; OriginalId: "1221"; }  # Амай отель на Первомайской
WhitelistedHotel { Permalink: 153137423958; PartnerId: PI_BNOVO; OriginalId: "2406"; }  # Ахоум отель на Окружной
WhitelistedHotel { Permalink: 38922008611; PartnerId: PI_BNOVO; OriginalId: "2432"; }  # Арома отель на Кожуховской
WhitelistedHotel { Permalink: 156445991152; PartnerId: PI_BNOVO; OriginalId: "2158"; }  # Ахаус отель на Нахимовском проспекте
WhitelistedHotel { Permalink: 1787276197; PartnerId: PI_BNOVO; OriginalId: "2436"; }  # Арум отель на Китай-городе
WhitelistedHotel { Permalink: 1293531385; PartnerId: PI_BNOVO; OriginalId: "2103"; }  # Андрон отель на Площади Ильича
WhitelistedHotel { Permalink: 171926646493; PartnerId: PI_BNOVO; OriginalId: "2464"; }  # АСТ отель
WhitelistedHotel { Permalink: 1113109185; PartnerId: PI_BNOVO; OriginalId: "278"; }  # Аскет отель на Комсомольской
WhitelistedHotel { Permalink: 1310036862; PartnerId: PI_BNOVO; OriginalId: "69"; }  # Агиос отель на Курской

WizardBanHotel { Permalink: 29901253222; Ban: true; }  # SERP-111473

WhitelistedHotel { Permalink: 1797264837; PartnerId: PI_BRONEVIK; OriginalId: "10143"; }  # Ibis Москва Динамо
