OfferBusReader {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/offer_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"

    CacheFileName: "/data_ssd/offer_bus.db"
}

OfferReqBusWriter {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/offerreq_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"
}

ICBusReader {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/oc_interconnect_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"

    CacheFileName: "/data_ssd/oc_interconnect_bus.db"
}

ICBusWriter {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/oc_interconnect_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"
}

Searcher {
    YpAutoResolver {
        YpServiceDiscoveryAddress: "sd.yandex.net:8081"
        Cluster: "man"
        Cluster: "sas"
        Cluster: "vla"
        EndpointSetId: "travel-hotels-searcher-testing"
    }
}

Cache {
    CacheUsageLogger {
        Json {
            File: "/logs/cacheusage_offercache.log"
        }
        UnifiedAgent {
            Uri: "localhost:16402"
        }
    }
}

ReqCache {
    NewCleanupMode: true
}

PromoService {
    Mir {
        YtConfigWhitelist {
            YtProxy: "hahn"
            YtProxy: "arnold"
            YtTablePath: "//home/travel/testing/general/mir/latest/hotels"
        }
        FifthWave {
            StartUtc: "2021-12-22T21:01:00"
            EndUtc: "2022-02-27T20:59:00"
        }
        SixthWave {
            EndUtc: "2022-04-05T20:59:59"
        }
    }

    Plus {
        OrdinalDiscount: {
            PointsbackPercent: 10
        }
        PlusEvents: {
            EventId: "first-order-15"
            Discount: {
                PointsbackPercent: 15
                MaxPointsback: 3000
            }
            LoginRequired: true
            CheckFirstOrder: true
            FirstOrderTypes: OT_HOTEL
        }
        PlusEvents: {
            EventId: "mriya-20"
            Discount: {
                PointsbackPercent: 20
                MaxPointsback: 20000
            }
            CheckHotelWhiteList: true
            HotelWhiteList { PartnerId: PI_TRAVELLINE; OriginalId: "5707" }
        }
        PlusEvents: {
            EventId: "cultural-dreams-30"
            EventType: YPET_CULTURAL_DREAMS
            Discount: {
                PointsbackPercent: 30
                MaxPointsback: 3000
            }
            OrderTimeStartUtc: "2022-06-23T21:00:00"
            YtConfigHotelWhitelist {
                YtProxy: "hahn"
                YtProxy: "arnold"
                YtTablePath: "//home/travel/testing/general/promo_events/cultural_dreams/latest/whitelist"
            }
            Priority: 1
        }
        YtConfigUserOrderCountersByType {
            Enabled: true
            YtProxy: "hahn"
            YtProxy: "arnold"
            YtTablePath: "//home/travel/testing/promo/user_order_counters_by_type"
        }
    }

    BlackFriday2021 {
        Enabled: true
        BadgeStartUtc: "2021-11-20T09:00:00"
        BadgeEndUtc: "2021-11-30T21:00:00"

        YtConfigHotels {
            YtProxy: "hahn"
            YtProxy: "arnold"
            YtTablePath: "//home/travel/testing/config/black_friday_2021_hotel_list"
        }
    }
    YandexEda2022 {
        Enabled: true
        EventStartUtc: "2022-02-20T21:00:00"
        YtConfigHotelWhitelist {
            Enabled: true
            YtProxy: "hahn"
            YtTablePath: "//home/travel/testing/general/yandex_eda_hotel_lists/whitelist"
        }
    }
}

Other {
    MainLogFile: "/logs/offercache.log"

    DefaultRedirHost: "xredirect-test.yandex.ru"

    AllowedRedirHost: "travel-test.yandex.ru"  #  Чтобы с портала идти через travel, а не через xredirect
    AllowedRedirHost: "travel.crowdtest.yandex.ru" # Для асессоров

    AllowedPortalHost: "travel.crowdtest.yandex.ru" # Для асессоров
    AllowedPortalHost: ".travel.farm.yandex.ru" # Разработческие стенды, там есть портал, но нет редира
    AllowedPortalHost: ".ui.yandex.ru" # и еще разработческие стенды

    DataPath: "/data"

    DummyPayloadSizeMBytes: 2047

    AllowRestrictedByMobileOffers: true

    OfferTextPrefix: "[T!] "
}

OutdatedOfferBusReader {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/outdated_offer_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"

    CacheFileName: "/data_ssd/outdated_offer_bus.db"
}

OutdatedOfferBusWriter {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/outdated_offer_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"
}

OutdatedOffersTransmitter {
    YpAutoResolver {
        YpServiceDiscoveryAddress: "sd.yandex.net:8081"
        Cluster: "man"
        Cluster: "sas"
        Cluster: "vla"
        EndpointSetId: "travel-hotels-offercache-testing-11001"
    }
}

PermalinkToOriginalIdsMapper {
    YtProxy: "hahn"
    YtTablePath: "//home/travel/prod/general/altay_mappings/latest/altay_hotel_mappings"
}

HotelsWhitelist {
    Whitelist {
        YtProxy: "hahn"
        YtTablePath: "//home/travel/testing/general/boy_hotels_whitelist"
    }
}

HotelsGreylist {
    Enabled: true
    YtProxy: "hahn"
    YtTablePath: "//home/travel/testing/general/hotels_greylist/greylisted_hotels"
}

HotelsBlacklist {
    Enabled: true
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/hotels_blacklist"
}

PermalinkToClusterMapper {
    YtProxy: "hahn"
    YtTablePath: "//home/travel/prod/general/altay_mappings/latest/permalink_to_cluster_permalink"
}

YtConfigOperators {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/operators"
}

YtConfigPartners {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/partners"
}

YtConfigOfferCacheClients {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/offercache_clients"
}

YtConfigTravellineRatePlans {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/prod/rate-plan-moderator/travelline"
}

YtConfigDolphinTour {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/dolphin_tours"
}

YtConfigDolphinPansion {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/dolphin_pansions"
}

YtConfigDolphinRoom {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/dolphin_rooms"
}

YtConfigDolphinRoomCat {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/dolphin_room_cats"
}

YtConfigBNovoRatePlans {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/prod/rate-plan-moderator/bnovo"
}

YtConfigSearchKeyRestrictions {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/searchkey_restrictions"
    YtTablePath: "//home/travel/testing/general/searchkey_restrictions/travelline"
}

YtConfigHotelWizardBan {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/hotels_wizard_ban"
}

YtConfigUserOrderCounters {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/promo/user_order_counters"
    PollPeriodSec: 300
}

ReqAnsLogger {
    Json {
        File: "/logs/reqans_offercache.log"
    }
}

GrpcReqAnsLogger{
    Json {
        File: "/logs/grpc_reqans_offercache.log"
    }
}

RoomService {
    CatRoomDataSources {
        Id: "BoY_PI_TRAVELLINE"
        Data {
            YtProxy: "hahn"
            YtProxy: "arnold"
            YtTablePath: "//home/travel/testing/datasets/catroom/enriched_permarooms/travelline/latest/permarooms-json"
        }
    }
    CatRoomDataSources {
        Id: "BoY_PI_EXPEDIA"
        Data {
            YtProxy: "hahn"
            YtProxy: "arnold"
            CacheDir: "/data_ssd"  # Expedia data is large, we want to read it faster
            YtTablePath: "//home/travel/testing/datasets/catroom/enriched_permarooms/expedia/latest/permarooms-json"
        }
    }
    CatRoomDataSources {
        Id: "BoY_PI_BNOVO"
        Data {
            YtProxy: "hahn"
            YtProxy: "arnold"
            YtTablePath: "//home/travel/testing/datasets/catroom/enriched_permarooms/bnovo/latest/permarooms-json"
        }
    }
    CatRoomDataSources {
        Id: "BoY_PI_BRONEVIK"
        Data {
            YtProxy: "hahn"
            YtProxy: "arnold"
            YtTablePath: "//home/travel/testing/general/permarooms/latest/bronevik/permarooms-json"
        }
    }

    CatRoomDataSources {
        Id: "0"
        Data {
            YtProxy: "hahn"
            YtTablePath: "//home/travel/testing/general/converted_permarooms/ds-0"
        }
    }
    CatRoomDataSources {
        Id: "43"
        Data {
            YtProxy: "hahn"
            YtTablePath: "//home/travel/testing/general/converted_permarooms/ds-43"
        }
    }
    CatRoomDataSources {
        Id: "5009"
        Data {
            YtProxy: "hahn"
            YtTablePath: "//home/travel/testing/general/converted_permarooms/ds-5009"
        }
    }
    CatRoomDataSources {
        Id: "5010"
        Data {
            YtProxy: "hahn"
            YtTablePath: "//home/travel/testing/general/converted_permarooms/ds-5010"
        }
    }
    CatRoomDataSources {
        Id: "5011"
        Data {
            YtProxy: "hahn"
            YtTablePath: "//home/travel/testing/general/converted_permarooms/ds-5011"
        }
    }
}
