Partner { PartnerId: PI_BOOKING;        BoilerRPS:   20 ; GreyWarmerRPS:  0.7 ; }
Partner { PartnerId: PI_HOTELS101;      BoilerRPS:    0 ; GreyWarmerRPS:    0 ; }
Partner { PartnerId: PI_HOTELSCOMBINED; BoilerRPS:    5 ; GreyWarmerRPS:  0.7 ; }
Partner { PartnerId: PI_OSTROVOK;       BoilerRPS:   20 ; GreyWarmerRPS:  0.7 ; }
Partner { PartnerId: PI_TRAVELLINE;     BoilerRPS:  0.1 ; GreyWarmerRPS: 0.01 ; }
Partner { PartnerId: PI_EXPEDIA;        BoilerRPS:   10 ; GreyWarmerRPS:  0.7 ; }
Partner { PartnerId: PI_DOLPHIN;        BoilerRPS:  0.5 ; GreyWarmerRPS:  0.1 ; }
Partner { PartnerId: PI_BNOVO;          BoilerRPS: 0.05 ; GreyWarmerRPS: 0.01 ; }
Partner { PartnerId: PI_TVIL;           BoilerRPS:   14 ; GreyWarmerRPS:    1 ; }
Partner { PartnerId: PI_BRONEVIK;       BoilerRPS:  0.1 ; GreyWarmerRPS:  0.1 ; }

Operator {
    OperatorId: OI_TVIL; Enabled: true;
}
Operator {
    OperatorId: OI_BNOVO; Enabled: true;
}
