JobProcessor {
    OfferCache {
        Address: "travel-hotels-offercache-test.yandex.net:12575"
    }
}

OfferBus {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/offer_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"
}

PriceCheckReqBus {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/pricecheckreq_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"
}

DistributedLock {
    NodePath: "//home/travel/testing/pricechecker"
    FallbackHost: "lf7hxodowof5r5cj.sas.yp-c.yandex.net"
}

YtConfigOperators {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/operators"
}

Other {
    MainLogFile: "/logs/pricechecker.log"

    DataPath: "/data"
}

StateBusReader {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/pricechecker_state_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"

    DeduplicationExpirationPeriodSec: 172800
}

StateBusWriter {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/pricechecker_state_bus"

    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"
}

PriceFilterTable {
   YtProxy: "hahn"
   YtTablePath: "//home/travel/prod/prices/price_filter_data/latest/price_filter_data"
}

PermalinkToClusterMapper {
    Enabled: true
    YtProxy: "hahn"
    YtTablePath: "//home/travel/prod/general/altay_mappings/latest/permalink_to_cluster_permalink"
}

PermalinkToOriginalIdsMapper {
    Enabled: true
    YtProxy: "hahn"
    YtTablePath: "//home/travel/prod/general/altay_mappings/latest/altay_hotel_mappings"
}

YtConfigPartners {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/partners"
}

ReqAnsLogger {
    Json {
        File: "/logs/pricechecker-reqans.log"
    }
}

TrackingResultsLogger {
    Json {
        File: "/logs/pricechecker-tracking-results.log"
    }
}
