Http {
    Host: "*"
    Port: 12001
    Threads: 8
}

Other {
    MainLogFile: "/logs/redir.log"

    DataPath: "/data"
    EnableDebug: true

    DefaultPortalHost: "travel-test.yandex.ru"
    AllowedPortalHost: "travel.crowdtest.yandex.ru"
    AllowedPortalHost: ".travel.farm.yandex.ru"
    AllowedPortalHost: ".ui.yandex.ru"

    MaxCacheAgeSecForRequestByOfferId: 39600  # 11 hours
}

PriceCheckReqBus {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/pricecheckreq_bus"
    ClusterName: "hahn"
    ClusterName: "arnold"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"
}

YtConfigPartners {
    YtProxy: "hahn"
    YtProxy: "arnold"
    YtTablePath: "//home/travel/testing/config/partners"
}

BoYRules {
    Rule: { Surface: S_UNKNOWN;           Destination: RD_PortalBookPage       }
    Rule: { Surface: S_SERP;              Destination: RD_PortalHotelPageRooms ; LabelAsHash: false; }
    Rule: { Surface: S_MAPS;              Destination: RD_PortalHotelPageRooms ; LabelAsHash: false; }
    Rule: { Surface: S_PORTAL_SEARCH;     Destination: RD_PortalHotelPage      }
    Rule: { Surface: S_PORTAL_HOTEL_META; Destination: RD_PortalBookPage       }
    Rule: { Surface: S_PORTAL_HOTEL_BOY;  Destination: RD_PortalBookPage       }
    Rule: { Surface: S_PORTAL_HOTEL;      Destination: RD_PortalBookPage       }
}

ReqAnsHotelsLogger {
    Json {
        File: "/logs/redir_reqans.log"
    }
}

ReqAnsTrainsLogger {
    Json {
        File: "/logs/redir-reqans-trains.log"
    }
}

ReqAnsBusesLogger {
    Json {
        File: "/logs/redir-reqans-buses.log"
    }
}
ReqAnsSuburbanLogger {
    Json {
        File: "/logs/redir-reqans-suburban.log"
    }
}

ReqAnsToursLogger {
    Json {
        File: "/logs/redir-reqans-tours.log"
    }
}


SearchFlowOfferDataStorage {
    User: "robot-travel-test"
    TablePath: "//home/travel/testing/search_flow_offer_data_storage"
    ClusterName: "seneca-sas"
    ClusterName: "seneca-vla"
    ClusterName: "arnold"
}
