Entry {  # HOTELS-5926
    PartnerId: PI_BRONEVIK
    OriginalId: "10143" # Ibis Moscow Dynamo
    Enabled: true
}

Entry {  # HOTELS-5926
    PartnerId: PI_TRAVELLINE
    OriginalId: "11982" # Ibis Moscow Dynamo. Отключили, чтобы отображались оффера броневика
    Enabled: false
}

Entry {  # HOTELS-5926
    PartnerId: PI_BRONEVIK
    OriginalId: "244" # Волга Апарт-отель
    Enabled: true
}

Entry {  # HOTELS-5926
    PartnerId: PI_TRAVELLINE
    OriginalId: "6237" # Волга Апарт-отель. Отключили, чтобы отображались оффера броневика
    Enabled: false
}

Entry {  # HOTELS-5926
    PartnerId: PI_TRAVELLINE
    OriginalId: "107"
    Enabled: false
}

Entry {  # HOTELS-5926
    PartnerId: PI_BRONEVIK
    Enabled: false
}
