.YandexMarketCheck {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: var(--text-subheader);
    line-height: var(--text-subheader-line-s);
    text-align: center;

    &-Image {
        width: 100%;
    }

    &-ImageWrap {
        box-sizing: border-box;
        width: 109px;
        height: 114px;
        margin: 32px auto;
    }

    &-Title {
        margin-bottom: var(--space-xs);

        font-size: var(--text-headline);
        font-weight: bold;
        line-height: var(--text-headline-line-m);
    }

    &-Text {
        margin-bottom: 10px;

        font-size: var(--text-subheader);
        font-weight: normal;
        line-height: var(--text-headline);
    }

    &-Footer {
        margin-bottom: var(--space-l);

        font-size: var(--text-body);
        line-height: var(--text-subheader-line-s);

        color: var(--color-gray);
    }

    &-Button {
        width: 285px;
    }
}
