.connect {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.connectInner {
    width: 400px;
    padding: 20px;

    border-radius: 4px;
    background: #fff;
}

.connectButton {
    margin-top: 15px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: -10px -20px 30px;
    padding: 10px 20px;

    border-bottom: 1px solid #ddd;
    background: #fff;
}

.pageId,
.event,
.disconnect {
    flex: 1;
}

.pageIdValue {
    margin-left: 5px;

    color: #888;
}

.eventName {
    font-weight: bold;

    color: #32b343;
}

.disconnect {
    display: flex;
    justify-content: flex-end;
}

.content {
    display: flex;

    margin-top: 30px;
}

.state {
    flex: none;

    width: 30%;
}

.sticky {
    position: sticky;
    top: 20px;
}

.form {
    flex: 1;

    margin-left: 40px;
}

.sectionTitle {
    display: block;

    margin-bottom: 20px;
}

.submit {
    margin-top: 10px;
}
