.suggest2-item__img_size_m,
.suggest2-item__img_size_s,
.suggest2-item__icon_size_s,
.suggest2-item__icon_size_m,
.suggest2-item__icon_size_l
{
    background-color: #ccc !important;
    background-image: none !important;
}

.suggest2-item__thumb-img
{
    opacity: 0;
}
