.gemini {
    display: inline-block;
    margin: 20px;

    outline: 0;
}

.gemini__item {
    display: inline-block;

    padding: 10px;

    outline: 0;
}

/* Замораживаем анимацию для gemini */
.gemini .button2:before {
    animation-play-state: paused !important;
}
