.test-orient {
    margin-bottom: 10px;

    font-weight: bold;
}

.i-ua_orient_landscape .test-orient:before {
    content: 'landscape';
}

.i-ua_orient_portrait .test-orient:before {
    content: 'portrait';
}
