BACKEND=http://payments-test.mail.yandex.net
DEV_CAB=http://apikeys-test.paysys.yandex.net:8666/
PASSPORT=blackbox-mimino.yandex.net
PASSPORT_AUTH=passport.yandex.ru
CAPTCHA_HOST=api.captcha.yandex.net

SERVICE_TOKEN=
CSRF_KEY=
