{% set secrets = {
    "app": {
      "id":"sec-01fmm3mz44ag818krcetekf7n0",
      "version":"ver-01fmm65zd4hakzbhmde02c5knj",
      "files": [
        {
          "name": "secrets.json",
          "key": "secrets.json"
        }
      ]
    }
}
%}

