{% extends "base-corp.j2" %}
{% from "secrets/corp-testing.j2" import secrets %}
{% from "tvm/corp-testing.j2" import tvm %}

{% block network_macro %}_MAILTESTNETS_{% endblock %}

{% set ENVIRONMENT_TYPE = "testing" %}
{% set ENVIRONMENT_NAME = "intranet" %}
{% set ENVIRONMENT = "intranet-testing" %}

{%
set deploy_units = {
    "maya": {
        "max_unavailable": 1,
        "clusters": {
            "iva": 1,
            "sas": 1,
        },
        "memory_guarantee": 4,
        "vcpu_guarantee": 1000,
        "network_bandwidth_guarantee": 1,
        "disk_capacity": 20,
        "disk_bandwidth_guarantee": 1,
        "disk_bandwidth_limit": 2,
        "duffman_workers": 2
    },
}
%}
