{%
set tvm = {
    "bb_env": "Prod",
    "alias": "maya",
    "app_id": 2002194,
    "destinations": {
        "aceventura": 186,
        "blackbox_intranet": 223,
        "calendar_intranet": 2011068,
        "catdog_intranet": 2016705,
        "collie_intranet": 2001415,
        "mpfs_mimino": 132,
        "mpfs": 2000060,
        "staff": 2001976
    },
    "secret": {
        "id":"sec-01dq7m42ed5v209j8ny20g5y47",
        "version":"ver-01dq7m42mp5wynx5crrfgjyy9m"
    }
}
%}
