{%
set tvm = {
    "bb_env": "Test",
    "alias": "quinn",
    "app_id": 2011906,
    "destinations": {
        "akita": 2000429,
        "meta": 2000501,
        "settings": 2002242,
    },
    "secret": {
      "id": "sec-01dq7mfna3w8bpnefzk1gcmh3c",
      "version": "ver-01dq7mfngwn3vbm524p96eqk9w"
    }
}
%}
