{%
set tvm = {
    "bb_env": "Test",
    "alias": "web-api",
    "app_id": 2006177,
    "destinations": {
        "aceventura": 2014086,
        "akita": 2000429,
        "barbet": 2025396,
        "blackbox": 224,
        "calendar": 2011056,
        "catdog": 2016709,
        "collie": 2001411,
        "datasync": 2000060,
        "directory": 2000204,
        "domenator": 2020711,
        "furita": 2016043,
        "geocoder": 2001886,
        "journal": 2000016,
        "logbroker": 2001059,
        "mbody": 2000585,
        "meta": 2000501,
        "mops": 2000577,
        "msearch": 186,
        "ps-billing": 2017571,
        "sendbernar": 2000433,
        "settings": 2002242,
    },
    "secret": {
      "id": "sec-01dq7m6ygy72y8zmrm8ywe1f4e",
      "version": "ver-01dq7m6yq7t0ge4qzb1m3f3d8g"
    }
}
%}
