{%
set tvm = {
    "bb_env": "Test",
    "alias": "webmail-api",
    "app_id": 2011166,
    "destinations": {
        "akita": 2000429,
        "catdog": 2016709,
        "collie": 2001411,
        "meta": 2000501,
        "mops": 2000577,
        "settings": 2002242,
    },
    "secret": {
      "id": "sec-01dq7mcrj05bhg9vf4npvpgf3n",
      "version": "ver-01dq7mcrqd5kvj7s5zze1ttvh1"
    }
}
%}
