{%
set tvm = {
    "bb_env": "Test",
    "alias": "fan",
    "app_id": 2025890,
    "destinations": {
        "blackbox": 224,
        "directory": 2000204,
        "fan-back": 2026062,
        "s3": 2017577,
    },
    "secret": {
      "id": "sec-01ewnhm0vnyp13nf9esqh22ykm",
      "version": "ver-01ewnhm0x0qb04j3n8xc8be2jd"
    }
}
%}
