{%
set tvm = {
    "bb_env": "Prod",
    "alias": "maya",
    "app_id": 2002194,
    "destinations": {
        "aceventura": 186,
        "blackbox_public": 239,
        "calendar_public": 2011056,
        "catdog_public": 2016705,
        "directory": 2000205,
        "mpfs_mimino": 132,
        "mpfs": 2000060
    },
    "secret": {
        "id":"sec-01dq7m42ed5v209j8ny20g5y47",
        "version":"ver-01dq7m42mp5wynx5crrfgjyy9m"
    }
}
%}
