{% set secrets = {
    "ssl": {
      "id": "sec-01fsrwey3fm66fa3cmfcqypkq5",
      "version": "ver-01fsrwey7p0mehpejp35rv7yrj",
      "files": [
        {
          "name": "ssl_cert.pem",
          "key": "7F001A9C8A983E25CE47CB9A7B0002001A9C8A_certificate"
        },
        {
          "name": "ssl_key.pem",
          "key": "7F001A9C8A983E25CE47CB9A7B0002001A9C8A_private_key"
        }
      ],
    }
  }
%}
