{%
set tvm = {
    "bb_env": "Test",
    "alias": "homer",
    "app_id": 2010742,
    "destinations": {
        "akita": 2000429,
        "barbet": 2025396,
        "meta": 2000501,
    },
    "secret": {
      "id": "sec-01dq7mb6swef5mgvpdn1p23s6r",
      "version": "ver-01dq7mb709cs6p9w5q6e0s8xfk"
    }
}
%}
