{%
set tvm = {
    "bb_env": "Test",
    "alias": "api360",
    "app_id": 2032924,
    "destinations": {
        "blackbox": 224,
        "datasync": 2000060,
        "furita": 2016043,
        "directory": 2000204,
    },
    "secret": {
      "id": "sec-01ft9cqjrwqk7yccmm7c4apnm3",
      "version": "ver-01ft9cqjsvepta8xp4m75zcfr5"
    }
}
%}
