{%
set tvm = {
    "bb_env": "Test",
    "alias": "liza",
    "app_id": 2006187,
    "destinations": {
        "akita": 2000429,
        "datasync": 132,
        "directory": 2000204,
        "mbody": 2000585,
        "meta": 2000501,
        "setter": 2002500,
        "settings": 2002242,
        "weather": 2018554,
    },
    "secret": {
      "id": "sec-01dq7m6zezv2n9hg9hk3jks8ez",
      "version": "ver-01dq7m6zmyj1pp95nks1cj1evg"
    }
}
%}
