{% set secrets = {
    "app": {
      "id": "sec-01ctdtvgdar1w39wdfhfy6dj92",
      "version": "ver-01dkrjszpm2kwep577xvycsysq",
      "files": [
        {
          "name": "secrets.json",
          "key": "secrets.json"
        }
      ]
    },
    "nginx": {
      "id": "sec-01ff20e689eh35h0ke84n177dh",
      "version": "ver-01g7bnmzhprs4h8gc1ab6e8cmk",
      "files": [
        {
          "name": "ssl.pem",
          "key": "7F00182FC6C0F4210E750C66A1000200182FC6_key_cert"
        }
      ],
    }
  }
%}
