{% set secrets = {
    "nginx": {
      "id": "sec-01fexyj53f6ax6stw3rcv9md54",
      "version": "ver-01fexyj53qyp1sf033hrqy4zgn",
      "files": [
        {
          "name": "secrets.include",
          "key": "corp-nginx-secrets.include"
        }
      ]
    },
    "ssl": {
      "id": "sec-01fvvmgajsa934bk6587mqdvhf",
      "version": "ver-01fvvmganjj6jsq0qrhqsdza68",
      "files": [
        {
          "name": "ssl.pem",
          "key": "49261103810110D4C41FC5F22A14E672_key_cert"
        }
      ],
    },
  }
%}
