{%
set tvm = {
    "bb_env": "Test",
    "alias": "mobile-api",
    "app_id": 2011350,
    "destinations": {
        "aceventura": 2014086,
        "akita": 2000429,
        "barbet": 2025396,
        "blackbox": 224,
        "calendar": 2011056,
        "catdog": 2016709,
        "collie": 2001411,
        "datasync": 2000060,
        "disk": 127,
        "domenator": 2020711,
        "furita": 2016043,
        "mbody": 2000585,
        "messenger": 2000482,
        "meta": 2000501,
        "mops": 2000577,
        "msearch": 186,
        "ps-billing": 2017571,
        "sendbernar": 2000433,
        "settings": 2002242,
    },
    "secret": {
      "id": "sec-01dq7mdgknwh0e4aktet6y0prx",
      "version": "ver-01dq7mdgsjayn8rg8dmxraqcde"
    }
}
%}
