{% set secrets = {
    "vdirect": {
      "id": "sec-01dhgsnympge9txae8hznd5smc",
      "version": "ver-01dj8ammcgzqnb9n48jb97t2k7",
      "files": [
        {
          "name": ".vdirectkeys",
          "key": ".vdirectkeys"
        }
      ]
    },
    "robot-mail-internal": {
        "id": "sec-01csh5cd51j18p99hbykbg4cn3",
        "version": "ver-01fj1eny4b5pg5wsxh0gvsjmft"
    },
    "ssl": {
      "id": "sec-01ff20e689eh35h0ke84n177dh",
      "version": "ver-01ff20e6b00gxeb3zvqkjfnwd9",
      "files": [
        {
          "name": "ssl_cert.pem",
          "key": "7F00182FC6C0F4210E750C66A1000200182FC6_certificate"
        },
        {
          "name": "ssl_key.pem",
          "key": "7F00182FC6C0F4210E750C66A1000200182FC6_private_key"
        }
      ],
    }
  }
%}
