{% extends "base.yaml" %}
{% from "secrets/testing.j2" import secrets %}
{% from "tvm/testing.j2" import tvm %}

{% block network_macro %}_MAILTESTNETS_{% endblock %}

{% set ENVIRONMENT_TYPE = "testing" %}
{% set ENVIRONMENT = "testing" %}

{%
set deploy_units = {
    "homer": {
        "per_cluster": False,
        "max_unavailable": 1,
        "clusters": {
            "iva": 1,
            "sas": 1,
        },
        "memory_guarantee": 2,
        "vcpu_guarantee": 1000,
        "network_bandwidth_guarantee": 1,
        "disk_capacity": 10,
        "disk_bandwidth_guarantee": 2,
        "disk_bandwidth_limit": 4,
        "duffman_workers": 2
    },
}
%}
