{%
set tvm = {
    "bb_env": "Test",
    "alias": "litemail",
    "app_id": 2012128,
    "destinations": {
        "aceventura": 2014086,
        "akita": 2000429,
        "collie": 2001411,
        "mbody": 2000585,
        "meta": 2000501,
        "mops": 2000577,
        "msearch": 186,
        "sendbernar": 2000433,
        "settings": 2002242,
    },
    "secret": {
      "id": "sec-01dq7mggbp5jqagx11mtn2gvsc",
      "version": "ver-01dq7mgghs2v2cgyqwg38z3fss"
    }
}
%}
