{%
set tvm = {
    "bb_env": "Test",
    "alias": "compose",
    "app_id": 2018838,
    "destinations": {
        "akita": 2000429,
        "mbody": 2000585,
        "meta": 2000501,
        "settings": 2002242,
    },
    "secret": {
      "id": "sec-01e22rm8z7v6ed0mv1byeqjysw",
      "version": "ver-01e22rm90krddgk58ywwqfey4h"
    }
}
%}
